{% load static %}

<div class="section">
  <!-- categories -->
  <div class="row">
    {{ form.category.label_tag }}
  </div>
  {% if categories %}
    <div class="row">
      <button type="hidden" name="category_delete" id="id_category_delete" value="???"></button>
      <div class="categories">
        {% for categ in categories %}
          <div class="category category-design-{{ categ.design }}">
            <div class="label">
              <div class="value">
                {{ categ.name }}
              </div>
            </div>
            <div class="icon" onclick="categoryDelete('{{categ.name}}')">
            <div class="delete">
              <svg height="8" width="8" style="fill: currentcolor;">
                <path d="M4.46607 4L8 7.53905L7.53905 8L4 4.46607L0.460948 8L0 7.53905L3.53393 4L0 0.460948L0.460948 0L4 3.53393L7.53905 0L8 0.460948L4.46607 4Z"></path>
              </svg>
            </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if form.category.errors %}
  <div class="row">
    <div class="field-error">{{ form.category.errors }}</div>
  </div>
  {% endif %}
  <div class="row">
    <div class="section-icon">
      <img src="{% static 'todo/icon/category.png' %}">
    </div>
    {{ form.category }}
  </div>

</div> <!-- section -->
