{% extends "hier/page.html" %}
{% load static i18n %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <h3>
        {{ title|capfirst }}
        {% if list_id %}
          <a href="list_form/{{ list_id }}/" class="field-icon"><img class="img-20_20" src="{% static 'rok/icon/edit.png' %}"></a>
        {% endif %}
      </h3>
      {% if title_info %}
        <div class="main-title-subline">
          {{ title_info }}
        </div>
      {% endif %}
      {% if search_info %}
        <div class="main-title-subline">
          {{ search_info }}
        </div>
      {% endif %}
    </div>
    {% if sort_options %}
      <div class="dropdown">
        <button class="items-list-sort dropbtn" onclick="ShowMenu('sort_menu')">
          <img src="{% static 'todo/icon/sort.png' %}">
          {% trans 'sort'|capfirst %}
        </button>
        <form method="post" class="sort-actions">{% csrf_token %}
          <div class="dropdown-content pos-sort" id="sort_menu">
            <div class="dropdown-content-title">{% trans 'sort order'|capfirst %}</div>
            {% for sort in sort_options %}
              <button type="submit" class="dropdown-content-item" name="sort-{{ sort.name }}">
                <img src="{% static sort.icon %}">
                {{ sort.title }}
              </button>
            {% endfor %}
          </div>
        </form>
    
        <div class="sort">
          {% if sort_mode %}
            <form method="post" class="sort-actions sort">{% csrf_token %}
              <button type="submit" name="sort-direction">
                {% if sort_dir %}
                  <img class="img-20_20" src="{% static 'rok/icon/sort-order-direct.png' %}">
                {% else %}
                  <img class="img-20_20" src="{% static 'rok/icon/sort-order-reverse.png' %}">
                {% endif %}
              </button>
              <span>{{ sort_mode }}</span>
              <button type="submit" name="sort-delete">
                <img class="img-20_20" src="{% static 'rok/icon/delete.png' %}">
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    {% if not hide_add_item_input %}
      <button type="submit" name="item-add" class="default" placeholder="{{ add_item_placeholder }}"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}"></button>
      <input type="text" class="add-item" placeholder="{{ add_item_placeholder }}" name="item_add-name" maxlength="200" required="" id="id_item_add-name">
    {% endif %}
    {% block actions %}{% endblock %}
  </form>
  
  <div class="tree">
    {% block items_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/dropdown-menu.js' %}"></script>
{% endblock %}
