{% load static i18n %}
{% if user.is_authenticated %}
  <header>
    <div class="header-left">
      <button class="button" title="{% trans 'application launcher'|capfirst %}" onclick="launcher_open()"><img src="{% static 'rok/icon/apps-white.png' %}"></button>
      <form method="POST">{% csrf_token %}
        <button name="aside_open" class="button phone-only{% if aside_disabled or aside_visible %} hid{% endif %}" title="{% trans 'open sidebar'|capfirst %}" href="#"><img src="{% static 'rok/icon/hamb-white.png' %}"></button>
      </form>
    </div>
    <div class="search-container">
      <form action="" method="GET" class="search-form">
        <input type="text" placeholder="search..." name="q">
      </form>
    </div>
    <div class="desktop-only">
      <a href="{% url 'todo:fcm' %}" class="button" title="{% trans 'parameters'|capfirst %}"><img src="{% static 'rok/icon/param.png' %}"></a>
    </div>
  </header>
{% endif %}

