{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>
      {% if app_name %}{{ app_name }}{% if title %} - {% endif %}{% endif %}{% if title %}{{ title }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" type="text/css" href="/static/admin/css/base. css"-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/rok.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/adaptive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/search.css' %}">
    {% block extrastyle %}{% endblock %}
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    {% block window %}
      {% include "hier/nav.html" %}

      <div id="wrapper">
        {% include "hier/header.html" %}
    
        <div id="page" {% if user.is_authenticated %}class="with_header"{% endif %}>
          <aside class="{% if aside_visible %}vis{% else %}hid{% endif %}{% if not user.is_authenticated %} no_header{% endif %}">
            <section id="aside-top">
              <form method="post">{% csrf_token %}
                <div class="info">{% block aside_top_info %}{% endblock %}</div>
                <button type="submit" name="aside_close" class="phone-only" title="{% trans 'close sidebar'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/close-left.png' %}"></button>
              </form>
            </section>
              {% block aside_conent %}
                {% include "hier/aside.html" %}
              {% endblock %}
            <div>
              {% block aside_footer %}{% endblock %}
            </div>
          </aside>

          <main class="{% if article_visible %}with_article{% else %}without_article{% endif %}">
            {% block content %}{% endblock %}
          </main>
          
          <article class="{% if article_visible %}vis{% else %}hid{% endif %}">
            <form method="post" enctype="multipart/form-data"  id="article_form">{% csrf_token %}
              <button type="hidden" name="item_save" class="field-icon"></button>
              <div class="article-top">
                <button type="submit" name="article_close" title="{% trans 'close details'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/direct-right.png' %}"></button>
                <div class="info"></div>
                <button type="submit" name="item_save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
              </div>
              <section id="article-content">
                {% include "hier/form_errors.html" %}
                {% block article_content %}{% endblock %}
              </section>
              <div class="article-bottom">
                <div></div>
                <div class="info">{% block article_info %}{% endblock %}</div>
                <button type="submit" name="item_delete" title="{% trans 'delete record'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/trash-red.png' %}"></button>
              </div>
            </form>
          </article>
        </div>
      </div>
    {% endblock %}

    {% block scripts %}
      <script src="{% static 'rok/js/launcher.js' %}"></script>
    {% endblock %}

  </body>

</html>

