<div class="crypto-container">
    <div class="loader"></div>
    <div class="cripto-current">
        <div class="cripto-info">
            <i class="bi-currency-bitcoin crypto-price"></i>
            <a class="crypto-price" href="{{ crypto_price_url }}">{{ crypto_price_value }}</a>
        </div>
        <div class="cripto-info">
            <i class="bi-wallet2 crypto-amount"></i>
            <a class="crypto-amount" href="{{ crypto_amount_url }}">{{ crypto_amount_value }}</a>
        </div>
    </div>
    <canvas id="cryptoChart"></canvas>
    <div class="copyright"><a class="text-end" href="{{ copyright_url }}">{{ copyright_info }}</a></div>
</div>
