{% load i18n %}

<div class="currency-container">
    <div class="loader"></div>
    <div class="currency-current">
        {% for curr in currencies %}
            <div class="currency-info" title="{{ curr.code }} - {{ curr.date }}">
                <i class="{{ curr.icon }} {{ curr.style }}"></i>
                <span class="{{ curr.style }}">{{ curr.rate }}</span>
            </div>
        {% endfor %}
    </div>
    <canvas id="currencyChart"></canvas>
    <div class="copyright"><a class="text-end" href="{{ copyright_url }}">{{ copyright_info }}</a></div>
</div>
