{% load static i18n %}

<div class="files-area">
    <div class="file-list">
        {% for file in files %}
            <!-- LIST of Files -->
            <div class="file-item">
                <a href="{{ file.url }}">
                    <div class="thumbnail-wrapper" style="background-color: {{ file.design }}">
                        <div class="thumbnail">{{ file.ext }}</div>
                    </div>
                    <div class="file-content">
                        <div class="file-title">{{ file.name }}</div>
                        <div class="file-metadata">{{ file.size }}</div>
                    </div>
                </a>
                <button type="button" name="file_delete" value="{{ file.url }}" class="bi-x" onclick="delFile('{{ file.url }}')"></button>
            </div>
        {% endfor %}
    </div> <!-- file-list -->

    <!-- ADD File -->
    <div class="file-add">
        <button type="button" name="file_upload" class="section-inner-click" onclick="UploadFile()">
            <div class="bi-paperclip"></div>
            <div class="section-content">
                <div id="loadFile" type="button">{% trans 'add file'|capfirst %}</div>
                <input type="file" style="display:none;" id="id_upload" name="upload" onchange="FileSelected()">
            </div>
        </button>
        <button type="submit" id="id_submit" name="file_upload" class="file-upload"></button>
    </div> <!-- file-add -->
</div> <!-- section -->
