{% load static %}

{% block item_content %}
  <li>
    <a href="{{ item.id|escape }}/{% if request.GET.q or page_obj.number or view_id %}?{% if request.GET.q %}q={{ request.GET.q|escape }}{% endif %}{% if page_obj.number %}{% if request.GET.q %}&{% endif %}page={{ page_obj.number|escape }}{% endif %}{% if view_id %}{% if request.GET.q or page_obj.number %}&{% endif %}view={{ view_id }}{% endif %}{% endif %}
    " class="tree-item{% if item.id == ed_item.id %} current{% endif %}">
      
      {% if not hide_selector %}
        <div class="icon">
          <form method="post">{% csrf_token %}
            <button type="submit" name="item-in-list-select" value="{{ item.id|escape }}">
              {% if item.marked_item %}
                <img class="img-20_20" src="{% static complete_icon %}">
              {% else %}
                <img class="img-20_20" src="{% static uncomplete_icon %}">
              {% endif %}
            </button>
          </form>
        </div>
      {% endif %}
      
      <div class="info">
        <div class="name{% if item.marked_item %} completed{% endif %}">{{ item.name }}</div>
        <div class="descr">
          {% for attr in item.get_info %}
            <div class="inline-element">
              {% if attr.icon == "attach" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/attach.png' %}">
              {% elif attr.icon == "category" %}
                <span class="inline-icon category-icon {{ attr.color }}"></span>
              {% elif attr.icon == "termin" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/termin.png' %}">
              {% elif attr.icon == "termin-expired" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/termin-expired.png' %}">
              {% elif attr.icon == "termin-actual" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/termin-actual.png' %}">
              {% elif attr.icon == "myday" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/myday.png' %}">
              {% elif attr.icon == "notes" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/notes.png' %}">
              {% elif attr.icon == "remind" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/remind.png' %}">
              {% elif attr.icon == "repeat" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/repeat.png' %}">
              {% elif attr.icon == "repeat-expired" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/repeat-expired.png' %}">
              {% elif attr.icon == "repeat-actual" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/repeat-actual.png' %}">
              {% elif attr.icon == "url" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/click.png' %}">
              {% elif attr.icon == "separator" %}
                <img class="inline-icon" src="{% static 'rok/icon/inline/separator.png' %}">
              {% endif %}
              {% if attr.text %}
                <div class="inline-label {% if attr.color %}{{ attr.color }}{% endif %}"><span>{{ attr.text }}</span></div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      
      {% if not hide_important %}
        <div class="icon">
          <form method="post">{% csrf_token %}
            <button type="submit" name="item-in-list-important" value="{{ item.id }}">
              {% if item.important %}
                <img class="img-20_20" src="{% static 'todo/icon/important-on.png' %}">
              {% else %}
                <img class="img-20_20" src="{% static 'todo/icon/important-off.png' %}">
              {% endif %}
            </button>
          </form>
        </div>
      {% endif %}
    
    </a>
  </li>
{% endblock %}

