{% extends "base_site.html" %}
{% load static %}
{% block content %}

  <script language="javascript" type="text/javascript">

    function getLink(_pk)
    {
      var html = '<a href="/task/' + _pk + '/">' + _pk + '</a>';
      document.write(html);
      return true;
    }

    function myClick(_num)
    {
      var frm = document.getElementById("fld_form");
      frm.elements['d_exec'].value = frm.elements['date_exec'].value;
      frm.elements['t_exec'].value = frm.elements['time_exec'].value;
      frm.Submit();
      return true;
    }



    function getStep()
    {
      var frm = document.getElementById("fld_form");
      var frm_step = frm.elements['step'].value;
      return '<input name="dyn_step" type="number" size="3" value="' + frm_step + '" />';
    }
    

    function showCycle(frm_repeat)
    {
      //alert('frm_repeat = ' + frm_repeat);
      var str = '';
      if (frm_repeat == 1)
      {
        var frm = document.getElementById("fld_form");
        var frm_cycle = parseInt(frm.elements['cycle'].value);

        str = '<input type="radio" name="dyn_cycle" value="0" ';
        if (frm_cycle == 0)
          str += 'checked ';
        str += '/> каждый ' + getStep() + ' день<br />';

        
        
        str += '<input type="radio" name="dyn_cycle" value="1" ';
        if (frm_cycle == 1)
          str += 'checked ';
        str += '/> каждый рабочий день<br />';
        
        str += '<input type="radio" name="dyn_cycle" value="2" ';
        if (frm_cycle == 2)
          str += 'checked ';
        str += '/> ставить новую задачу через ' + getStep() + ' день после каждого завершения<br />';
      }
        
      document.getElementById('span_cycle').innerHTML = str;
    }
    
    
    function showRepeat(_clear)
    {
      //alert('showRepeat');
      var frm_repeat = 0;
      var str = '';
      if (!_clear)
      {
        var rpt_choice = ['один раз', 'ежедневно', 'еженедельно', 'ежемесячно', 'ежегодно'];
        var frm = document.getElementById("fld_form");
        frm_repeat = parseInt(frm.elements['repeat'].value);
        var str = '<select id="id_repeat" name="dyn_repeat" onChange="onChangeRepeat()">';
        for (var i = 0; i <= 4; i++) 
        {
          str += '<option value="' + i + '"';
          if (i == frm_repeat)
            str += ' selected="selected"';
          str += '>' + rpt_choice[i] + '</option>';
        }
        str += '</select>';
      }
        
      document.getElementById('span_repeat').innerHTML = str;
      showCycle(frm_repeat);
    }

    
    function onChangeRepeat()
    {
      var frm = document.getElementById("fld_form");
      frm.elements['repeat'].value = frm.elements['dyn_repeat'].value;
      showRepeat(false);
    }
    
    
    function showTime(_clear)
    {
      var str = '';

      if (!_clear)
      {
        var sh = '--';
        var sm = '--';

        var frm = document.getElementById("fld_form");
        if (frm.elements['t_exec'].value != '')
        {
          var d = new Date(frm.elements['d_exec'].value + ' ' + frm.elements['t_exec'].value);
          var h = d.getHours();
          var m = d.getMinutes();
          if (isNaN(h) || isNaN(m))
          {
            var cur = new Date();
            h = cur.getHours();
            m = cur.getMinutes();
          }
          
          sh = String(h);
          sm = String(m);
          
          if (sh.length == 1)
            sh = '0' + sh;
                                                                          
          if (sm.length == 1)
            sm = '0' + sm;
        }
                                                                        
        str = '<input name="time_exec" type="time" value="' + sh + ':' + sm + '" />';
      }  
      document.getElementById('span_time').innerHTML = str;
    }


    function onChangeDate()
    {
      var frm = document.getElementById("fld_form");
      var dd = new Date(frm.elements['date_exec'].value);
      var empty_date = isNaN(dd.getDate());
      showTime(empty_date);
      showRepeat(empty_date);
    }

    function check()
    {
      onChangeDate();

      // Наименование
      var frm = document.getElementById("fld_form");
      var name  = frm.elements['name'].value;

      var status = '';
      if (name == '')
        status = 'Не задано наименование';
      
      document.getElementById('status').innerHTML = status;
      
      var bEdit = (parseInt(frm.elements['pid'].value) > 0);
      var x = document.getElementById('buttons');

      if (status != '')
      {
        if (!bEdit)
          x.innerHTML = '';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="delete" name="action" value="D" onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="cancel" name="action" value="C" onClick="myClick(4)" />';
      }                                                                                                                         
      else                                                                                                                      
      {                                                                                                                         
        if (!bEdit)                                                                                                             
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="A" onClick="myClick(1)" />';
        else                                                                                                                    
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="S" onClick="myClick(2)" />' +
                        '<input type="submit" class="LiteButton" id="delete" name="action" value="D" onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="cancel" name="action" value="C" onClick="myClick(4)" />';
      }
    }

  </script>
  
  <div id="gmenu" class="menu"> <a href="/"> Приложения    </a> | 
                      <a href="/task/grps/"> Группы        </a> </div> <br/>

  <span class="PageTitle"> Параметры задачи </span> {% if pid > 0 %} (ID: {{ pid }}) {% endif %}

  <!--DEBUG: {{ debg }}<br>-->
  DEBUG: {{ debg }}<br>
  {{ form.d_exec.value }}<br>
  {{ form.t_exec.value }}<br>
  
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <div class="fieldWrapper"> {{ field.label }} {{ field.errors }} </div>
    {% endif %}
  {% endfor %}

  <form id="fld_form" action="{% url 'task:task_edit' pid %}" method="post">
    {% csrf_token %}

    <input name="pid"      type="hidden" value="{{ pid               }}" />
    <input name="active"   type="hidden" value="{{ form.active.value }}" />
    <input name="repeat"   type="hidden" value="{{ form.repeat.value }}" />
    <input name="cycle"    type="hidden" value="{{ form.cycle.value  }}" />
    <input name="step"     type="hidden" value="{{ form.step.value   }}" />
    <input name="d_exec"   type="hidden" value="{{ form.d_exec.value }}" />
    <input name="t_exec"   type="hidden" value="{{ form.t_exec.value }}" />

    <table class="fl1">
      <tbody>
        <tr>
          <td class="fl2"> <input name="name" type="text" size="20" onChange="check()" 
                                              value="{{ form.name.value }}" placeholder="{{ form.name.help_text }}" /> 

                           <input name="code" type="text" size="4"  onChange="check()" 
                                              value="{{ form.code.value }}" placeholder="{{ form.code.help_text }}" /> </td> 
        </tr>
        <tr>
          <td class="fl2"> Группа: {{ form.grp }} </td> 
        </tr>
        <tr>
          <td class="fl2"> <textarea id="txt" name="comment" rows="3" cols="30" onChange="check()">{{ form.comment.value }}</textarea> </td> 
        </tr>
        <tr>
          <td class="fl2"> <input name="date_exec" type="date" onChange="onChangeDate()" value="{{ form.d_exec.value }}" />
                           <span id="span_time"> </span> </td> 
        </tr>
        <tr>
          <td class="fl2"> <span id="span_repeat"> </span> </td> 
        </tr>
        <tr>
          <td class="fl2"> <span id="span_cycle"> </span> </td> 
        </tr>
      </tbody>
    </table>
    <span id="buttons"> </span> 
    <span id="status" class="PageStatus"> </span> 
    <script language="javascript" type="text/javascript"> check() </script>
  </form>
{% endblock %}

