{% block header %}
<style type="text/css">
  .header {
   background: #bbffff;
   padding: 10px;
  }
  .one {
   float: left;
   background: #ffbbff;
   padding: 10px;
   margin: 10px;
  }
  .two {
   background: #ffffbb;
   padding: 10px;
   margin: 10px;
  }
</style>

{% endblock %}
{% block content %}

<div class="header">
  <div class="one">сегодня</div>
  <div class="two">
    <form action="/test" method="POST">
      <input type="text" class="task" id="task" size="50" title="Задача" placeholder="название новой задачи или текст для поиска" />
      <input type="submit" class="add" value="+" title="Добавить" />
      <input type="submit" class="search" value="s" title="Найти" />
    </form>
  </div>
</div>

{% endblock %}
