{% block header %}
<style type="text/css">
   .header2, .menu, .content, .footer { font: 15px Arial; }
   .menu, .content, .footer { padding: 10px; }
   .header1 { float: left; width: 100px; background: #E8D9A9; padding: 15px 12px 15px 12px; font: 17px Arial; text-align: center; }
   .header2 { margin-left: 124px;        background: #ECC0A4; padding: 8px 10px 1px 10px; }
   .menu    { float: left; 
              width: 200px; /* Ширина меню */
              padding: 10px; /* Отступы от рамки до пунктов меню */
              background: #E8A9D9;
            } 
  .menu P   { margin: 0 0 2px; 
              text-align: center;
            }
  .menu A   {
              padding: 2px; /* Отступ от рамки вокруг ссылки до текста */
              display: block; /* Ссылка как блочный элемент */
              border: 1px solid #E8A9D9; /* Маскируем рамку вокруг ссылки */
              text-decoration: none; /* Убираем подчеркивание у ссылок */
            }
  .menu A:hover {
              background: #faf3d2; /* Цвет фона под ссылкой */
              color: #800000; /* Новый цвет ссылки */
              border: 1px dashed #634f36 /* Рамка вокруг ссылки */
            }
   .content { margin-left: 220px;        background: #ECA4C0; }
   .clearleft { clear: left; }
   .footer { background: #9A5044; color: #fff; clear: left; }
.content:after { 
 content: "."; /* Выводим текст после элемента (точку) */
 clear: left; /* Отменяем обтекание*/
 visibility: hidden; /* Прячем текст */
 display: block; /* Блочный элемент */
 height: 0; /* Высота */
}</style>
{% endblock %}
{% block content %}

<div class="header1">{{cur_view}}</div>
<div class="header2">
    <form action="/test" method="POST">
      <label for="task">Задача</label>
      <input type="text" class="task" id="task" size="50" style="font-size: 17px" title="Задача" placeholder="Название новой задачи или текст для поиска" />
      <input type="submit" class="add"    value="+" style="font-size: 17px" title="Добавить" />
      <input type="submit" class="search" value="s" style="font-size: 17px" title="Найти" />
    </form>
</div>
<div class="menu">
  {% for v in views %}
    <p><a href="/task/test/{{v.id}}">{{v.name}}</a></p>
  {% endfor %}
</div>
<div class="content">Content</div>
<div class="footer">Footer</div>

{% endblock %}
