{% block header %}
<style type="text/css">
   .header2, .menu, .content, .footer { font: 15px Arial; }
   .menu, .content, .footer { padding: 10px; }
   .header1 { float: left; width: 100px; background: #E8D9A9; padding: 12px 12px 18px 12px; font: 17px Arial; }
   .header2 { margin-left: 124px;        background: #ECC0A4; padding: 8px 10px 1px 10px; }
   .menu    { float: left; width: 200px; background: #E8A9D9; }
   .content { margin-left: 220px;        background: #ECA4C0; }
   .clearleft { clear: left; }
   .footer { background: #9A5044; color: #fff; clear: left; }
</style>
{% endblock %}
{% block content %}

<div class="header1">{{cur_view}}</div>
<div class="header2">
    <form action="/test" method="POST">
      <label for="task">Задача</label>
      <input type="text" class="task" id="task" size="50" style="font-size: 17px" title="Задача" placeholder="Название новой задачи или текст для поиска" />
      <input type="submit" class="add"    value="+" style="font-size: 17px" title="Добавить" />
      <input type="submit" class="search" value="s" style="font-size: 17px" title="Найти" />
    </form>
</div>
<div class="menu">Menu</div>
<div class="content">Content</div>
<div class="footer">Footer</div>

{% endblock %}
