{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <script language="javascript" type="text/javascript">

    function getLink(_pk)
    {
      var html = '<a href="/task/view/' + _pk + '/">' + _pk + '</a>';
      document.write(html);
      return true;
    }

    var fltr = [];

    function initFilters()
    {
      alert('initFilters');
      /*fltr.push([]);
      fltr.push([]);
      fltr.push([]);
      fltr.push([]);
      fltr.push([]);*/
    }

    function aaa()
    {
      alert('aaa');
    }

    function addFilterValue(_entity, _value)
    {
      fltr[_entity].push(_value);
    }

    function addSelect(_num_f, _num_s, _value)
    {
      alert('_value = ' + _value);
      var _num = _num_f*100 + _num_s;

      var fltr_values = [];
      fltr_values.push(['Просроченные', 'Сегодня', 'Завтра', 'Эта неделя', 'Следующая неделя', 'Позже', 'Срок не задан']);
      fltr_values.push(['Песочница', 'Работа', 'Авто', 'Вело', 'Шейпичи']);
      fltr_values.push(['не важно', 'обычно', 'важно', 'очень важно', 'критично']);
      fltr_values.push(['цвет1', 'цвет2', 'цвет3', 'цвет4', 'цвет5']);
      fltr_values.push(['не выполнены', 'выполнены', 'все']);
      
      var ret;
      ret = '<select name="ns' + _num + '" class="cs' + _num + '" id="is' + _num + '">';

      if (_value == -1)
        ret += '<option value="" selected="selected">--- не установлен ---</option>';
      else
        ret += '<option value=""                    >--- не установлен ---</option>';

      var i = 0;
      for (i < fltr_values[_num_f].length)
      {
        ret += '<option value="' + i + '" ';
        if (i == _value)
          ret += 'selected="selected" ';
        ret += '>' + fltr_values[_num_f][i] + '</option>';
        i++;
      }
      ret += '    </select>';
      return ret;
    }

    function addFltr(_num)
    {
      var labels = ['Срок', 'Группы', 'Важность', 'Цвет', 'Исполнение'];
      
      var ret;
      ret  = '<tr>';
      ret += '  <td class="fl1"> <label for="is' + _num + '">' + labels[_num] + '</label> </td>';
      ret += '  <td class="fl2" id="fltr_' + _num + '">';
      
      /*if (fltr[_num].length == 0)
      {
        ret += addSelect(f, 0, -1);
      }
      else
      {
        var i = 1;
        for (i < fltr[_num].length)
        {
          ret += addSelect(f, i, fltr[_num][i]);
          ret += '<br>';
          i++;
        }
      }*/

      ret += '  </td>';
      ret += '</tr>';
      return ret;
    }

    function check(_pid)
    {
      var name  = document.getElementById('fld_form').elements['name'].value;

      var status = '';
      if (name == '')
        status = 'Не задано наименование';
      
      if (_pid != 0)
        document.getElementById('status').innerHTML = status;
      
      var x = document.getElementById('buttons');
      
      if (status != '')
      {
        if (_pid == 0)
          x.innerHTML = '';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить" />';
      }
      else
      {
        if (_pid == 0)
          x.innerHTML = '';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="Сохранить" />' +
                        '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить" />';
      }

      x = document.getElementById('filters-q');
      
      var html = '';
      
      if (_pid > 0)
      {
        html += '<table><tr>';
        html += '  <td class="fl1"> Фильтры</td>';
        html += '  <td></td>';
        html += '</tr>';

        var f = 0;
        while (f < 5)
        {
          html += addFltr(f);
          f++;
        }
        html += '</table>';
      }
      x.innerHTML = html;
    }

  </script>
  
  <div id="gmenu" class="menu"> <a href="/"> Приложения </a> | 
                           <a href="/task/"> Задачи </a> </div> <br/>
  <div class="PageTitle"> Настройка представлений </div>
  <div class="PageSummary"> </div>

  <!--DEBUG: {{ debug_text }}<br>-->
  
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <div class="fieldWrapper"> {{ field.label }} {{ field.errors }} </div>
    {% endif %}
  {% endfor %}

  <form id="fld_form" action="{% url 'task:view_edit' pid %}" method="post">
    {% csrf_token %}
    <input name="active" type="hidden" value="0">
    <table class="fl1">
      <tbody>
        {% if pid > 0 %} 
        <tr><td class="fl1"> ID: </td><td class="fl2"> {{ pid }} </td> </tr>
        {% endif %} 
        <tr>
          <td class="fl1"> Наименование: </td>
          <td class="fl2"> <input name="name" type="text" size="30" onChange="check({{pid}})" value="{{ form.name.value }}" /> </td> 
          {% if pid == 0 %} 
          <td class="fl1"> <input type="submit" class="AddButton" name="action" value="+" /> </td>
          {% endif %} 
        </tr>
      </tbody>
    </table>

    <span id="filters-q"></span>
    <span id="buttons"> </span> 
    <span id="status" class="PageStatus"> </span> 
  </form>

  <script language="javascript" type="text/javascript"> 
    aaa();
    //initFilters();
    //check({{pid}}); 
  </script>

  <table class="work">
    <tbody>
      <tr>
        <th class="work"> ID           </th>
        <th class="work"> Наименование </th>
        <th class="work"> Фильтр       </th>
        <th class="work"> Сортировка   </th>
        <th class="work"> Группировка  </th>
        <th class="work"> Поля         </th>
      </tr>
      {% for v in views %}
      <tr>
        <td class="pid">  <script language="javascript" type="text/javascript">getLink({{ v.id }})</script> </td>
        <td class="work"> {{ v.name  }} </td>
        <td class="work"> {{ v.fltr  }} </td>
        <td class="work"> {{ v.sort  }} </td>
        <td class="work"> {{ v.group }} </td>
        <td class="work"> {{ v.flds  }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>views  = {{ views.values }}
  <br>fltr_t = {{ fltr_t.values }}
  <br>fltr_g = {{ fltr_g.values }}
  <br>fltr_i = {{ fltr_i.values }}
  <br>fltr_r = {{ fltr_r.values }}
  <br>fltr_c = {{ fltr_c.values }}
{% endblock %}

