{% extends "base_window.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'trip:index' %}">{% trans 'trips'|capfirst %}</a>
  <a class="w3-bar-item w3-button" href="{% url 'trip:pers_add' %}">{% trans 'add'|capfirst %}</a>
{% endblock %}

{% block win_content %}

  <table class="w3-table-all w3-hoverable w3-card-4">
    <tr class="w3-theme-l3">
      <th>{% trans 'name'|capfirst %}</th>
      <th>{% trans 'dative'|capfirst %}</th>
      <th>{% trans 'me'|capfirst %}</th>
    </tr>
    {% for pers in object_list %}
      <tr>
        <td><a href="{% url 'trip:pers_edit' folder.id pers.id %}">{{ pers.name }}</a></td>
        <td><a href="{% url 'trip:pers_edit' folder.id pers.id %}">{{ pers.dative }}</a></td>
        <td>{{ pers.me }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}