{% extends "base_list.html" %}
{% load i18n %}

{% block win_content %}

  <table class="w3-table-all w3-hoverable w3-card-4">
    <tr class="w3-theme-l3">
      <th>{% trans 'name'|capfirst %}</th>
      <th>{% trans 'dative'|capfirst %}</th>
      <th>{% trans 'me'|capfirst %}</th>
    </tr>
    {% for pers in page_obj %}
      <tr>
        <td><a href="{% url 'trip:pers_form' pers.id %}">{{ pers.name }}</a></td>
        <td><a href="{% url 'trip:pers_form' pers.id %}">{{ pers.dative }}</a></td>
        <td>{{ pers.me }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}