{% extends "hier/list.html" %}
{% load static i18n %}

{% block article_content %}
  <div class="header">
    <div class="section-item">
      {{ form.name.errors }}
    </div>

    <div class="field-group">
      <div class="section-item">
        <div class="editable-content full-width main-element">
          {{ form.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="section">
      <div class="section-item">
        <div class="editable-content full-width auxiliary-element">
          {{ form.dative }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
