{% extends "base_window.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'trip:trip_add' %}">{% trans 'add'|capfirst %}</a>
  <a class="w3-bar-item w3-button" href="{% url 'trip:pers_list' %}">{% trans 'persons'|capfirst %}</a>
  <a class="w3-bar-item w3-button" href="{% url 'trip:trip_count' %}">{% trans 'recount'|capfirst %}</a>
{% endblock %}

{% block content %}

  <div class="w3-row w3-padding">
    {{ trip_summary|safe }}
  </div>
  
  <table class="w3-table-all w3-hoverable w3-card-4">
    <tr class="w3-theme-l3">
      <th>{% trans 'year'|capfirst %}</th>
      <th>{% trans 'week'|capfirst %}</th>
      <th>{% trans 'operation'|capfirst %}</th>
      <th>{% trans 'days'|capfirst %}</th>
      <th>{% trans 'driver'|capfirst %}</th>
      <th>{% trans 'passenger'|capfirst %}</th>
      <th>{% trans 'price'|capfirst %}</th>
      <th>{% trans 'summa'|capfirst %}</th>
      <th>{% trans 'comment'|capfirst %}</th>
    </tr>
    {% for trip in object_list %}
      <tr>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.year }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.week }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.s_oper }}</a></td>
        <td>{{ trip.s_days }}</td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.driver.name }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.passenger.name }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.price }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.summa }}</a></td>
        <td><a href="{% url 'trip:trip_edit' trip.id %}">{{ trip.text }}</a></td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}