{% extends "trip/trip.html" %}
{% load static i18n %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title|capfirst }}
      </div>
      <div class="main-title-subline">
        {{ trip_summary }}
      </div>
    </div>
  </div>
  
  <div class="sort">
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}">{% trans 'add new trip'|capfirst %}</button>
    <button type="submit" name="trip-count"><img class="img-20_20" src="{% static 'todo/icon/myday.png' %}">{% trans 'count saldo'|capfirst %}</button>
  </form>
  
  <div class="tree">
    <ul>
      {% for item in page_obj %}
        <li>
          <a href="{% url 'trip:trip_form' item.id %}" class="{% if item.id == item_id %}current{% endif %}">
            <div class="icon"> 
              {% if item.oper == 0 %}
                <img class="img-20_20" src="{% static 'rok/icon/car.png' %}">
              {% else %}
                <img class="img-20_20" src="{% static 'rok/icon/cost.png' %}">
              {% endif %}
            </div>
            <div class="tree-item">
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="descr">{{ item.descr }}</div>
              </div>
            </div>
            <div class="icon"> </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

