{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'scss/family.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
        <form method="post" class="item-form px-2">{% csrf_token %}</form>
        Submitter List
    </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/family.js' %}"></script>
{% endblock %}
