div.bank {
  display: flex;
  flex-wrap: wrap;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: inherit;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery.v img {
  width: 240px;
  height: auto;
}

div.gallery.h img {
  width: auto;
  height: 240px;
}

div.gallery img {
  min-width: 100px;
  min-height: 100px;
}

div.desc {
  max-width: 240px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
}

img.photo {
  width: 100%;
  height: auto;
}

div.preview img {
  width: 320px;
  height: auto;
}

div.preview-desc {
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
}



