{% extends "core/item_detail.html" %}

{% block item_detail %}
    <div class="row mb-3">
        <div class="col">{{ form.name.label_tag }}{{ form.name }}</div>
        <div class="col">{{ form.start }}</div>
        <div class="col">{{ form.stop }}</div>
    </div>
    <div class="row mb-3">
        <div class="col">{{ form.car_plate.label_tag }}{{ form.car_plate }}</div>
        <div class="col">{{ form.car_notice }}</div>
    </div>
    <div class="row mb-3">
        <div class="col">{{ form.info.label_tag }}{{ form.info }}</div>
        <div class="col">{{ form.upload.label_tag }}{{ form.upload }}</div>
    </div>
    {% include "widgets/attachments.html" %}
{% endblock %}

