{% extends "fuel/fuel_aside.html" %}
{% load static i18n %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title }}
      </div>
      <div class="main-title-subline">
        {{ search_info }}
      </div>
    </div>
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}"></button>
    <input type="text" name="item_name_add" maxlength="200" required="" id="id_item_name_add" placeholder="{% trans 'add car'|capfirst %}">
  </form>
  
  <div class="tree">
    <ul>
      {% for item in page_obj %}
        <li>
          <a href="{% url 'fuel:car_form' item.id %}" class="{% if item.id == item_id %}current{% endif %}">
            <div class="tree-item">
              <form method="post" class="icon">{% csrf_token %}
                <button type="submit" name="item-active" value="{{ item.id }}">
                  {% if item.active %}
                    <img class="img-20_20" src="{% static 'todo/icon/complete.png' %}">
                  {% else %}
                    <img class="img-20_20" src="{% static 'todo/icon/uncomplete.png' %}">
                  {% endif %}
                </button>
              </form>
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="descr">{{ item.plate }}</div>
              </div>
            </div>
            <div class="icon"> </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

