{% extends "base_site.html" %}
{% load static %}
{% block content %}

  <script language="javascript" type="text/javascript">

    function getCarLink(_p)
    {
      var html = '<a href="/fuel/cars/' + _p +'/">' + _p + '</a>';
      document.write(html);
      return true;
    }

    function getCarMark(_active, _t)
    {
      var html = '';
      if (_active)
        if (_t == 1)
          html = '<div class="marked">';
        else
          html = '</div>';
      document.write(html);
      return true;
    }

    function myClick(_num)
    {
      var frm = document.getElementById("fld_form");
      var car_active = '0';

      if (frm.elements['active_cbx'].checked)
        car_active = '1';

      frm.elements["active"].value = car_active;
      frm.Submit();
      return true;
    }

    bEdit = false;

    function check()
    {
      var name  = document.getElementById('fld_form').elements['name'].value;
      var plate = document.getElementById('fld_form').elements['plate'].value;

      var status = '';
      if (name == '' || name == '?')
        status = 'Не задано название автомобиля';
      else
        if (plate == '')
          status = 'Не задан гос. номер автомобиля';
      
      document.getElementById('status').innerHTML = status;
      
      var x = document.getElementById('buttons');
      
      if (status != '')
      {
        if (!bEdit)
          x.innerHTML = '';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить"   onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить"  onClick="myClick(4)" />';
      }
      else
      {
        if (!bEdit)
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="Добавить"  onClick="myClick(1)" />';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="Сохранить" onClick="myClick(2)" />' +
                        '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить"   onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить"  onClick="myClick(4)" />';
      }
    }

  </script>
  
  <div id="gmenu" class="menu"> <a href="/">{{ app_text }}</a> | <a href="/fuel/">{{ fuel_text }}</a> </div> <br/>

  <div class="PageTitle">  {{ page_title  }} </div>
  <div class="PageStatus"> {{ page_status }} </div>

  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="fieldWrapper"> {{ field.errors }} </div>
  {% endfor %}

  <form id="fld_form" action="{% url 'fuel:cars_edit' pid %}" method="post">
    {% csrf_token %}
    <input name="active" type="hidden" value="0">
    <table class="fl1">
      <tbody>
        {% if pid > 0 %} 
        <script language="javascript" type="text/javascript"> bEdit = true; </script>
        <tr><td class="fl1"> ID: </td><td class="fl2"> {{ pid }} </td> </tr>
        {% else %}
        <script language="javascript" type="text/javascript"> bEdit = false; </script>
        {% endif %}
        <tr><td class="fl1"> Название:  </td><td class="fl2"> <input name="name"  size="15" type="text" value="{{ form.name.value }}" onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Гос.номер: </td><td class="fl2"> <input name="plate" size="15" type="text" value="{{ form.plate.value }}" onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Активный:  </td><td class="fl2"> <input name="active_cbx" type="checkbox" {% if form.active.value > 0 %} checked {% endif %} onChange="check()" /> </td> </tr>
      </tbody>
    </table>
    <span id="buttons"> </span> 
    <span id="status" class="PageStatus"> </span> 
    <script language="javascript" type="text/javascript"> check() </script>
  </form>

  {% if cars.count %}
  <table class="work">
    <tbody><tr>
      <th class="work"> ID         </th>
      <th class="work"> Модель     </th>
      <th class="work"> Гос. номер </th>
    </tr>
    {% for p in cars %}
    <tr>
      <td class="pid">  <script language="javascript" type="text/javascript">getCarLink({{ p.id }})</script> </td>
      <td class="work"> <script language="javascript" type="text/javascript">getCarMark({{ p.active }}, 1)</script>
                        {{ p.name }}
                        <script language="javascript" type="text/javascript">getCarMark({{ p.active }}, 2)</script></td>
      <td class="work"> <script language="javascript" type="text/javascript">getCarMark({{ p.active }}, 1)</script>
                        {{ p.plate }}
                        <script language="javascript" type="text/javascript">getCarMark({{ p.active }}, 2)</script></td>
    </tr>
    {% endfor %}
  </tbody></table>
  {% endif %}

  <br/>Всего автомобилей: {{ cars.count }}<br/>


{% endblock %}

