{% extends "base_window.html" %}
{% load i18n %}

{% block win_content %}
<div class="w3-container w3-padding">

  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% if form.name.help_text %}<div class="help">{{ form.name.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.plate.errors }} {{ form.plate.label_tag }} {{ form.plate }} {% if form.plate.help_text %}<div class="help">{{ form.plate.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.active.errors }} {{ form.active.label_tag }} {{ form.active }} {% if form.active.help_text %}<div class="help">{{ form.active.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding">
      {% if pk == 0 %}
        <button type="submit" class="dialog default">{% trans 'add'|capfirst %}</button>
      {% else %}
        <button type="submit" class="dialog default">{% trans 'save'|capfirst %}</button>
      {% endif %}
      <p>
    </div>

  </form>

</div>
{% endblock %}
