{% extends "fuel/fueling_list.html" %}
{% load static %}

{% block article_content %}
  <div class="fields">
    <form method="post">{% csrf_token %}
      <button type="hidden" name="item-save"></button>

      <div class="header">
        <div class="section-item">
          {% if form.errors %}
            <div class="fieldset">
              <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
            </div>
          {% endif %}
          {% if form.non_field_errors %}
            <div class="fieldset">
            {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="section-item">
          {{ form.odometr.errors }}
        </div>

        <div class="field-group">
          <div class="section-item">
            <div class="editable-content full-width main-element">
              {{ form.odometr.label_tag }}
              {{ form.odometr }}
            </div>
          </div>
          <button type="submit" name="item-save" class="field-icon"><img class="img-20_20" src="{% static 'rok/icon/save.png' %}"></button>
        </div>
      </div>

      <div class="body">

        <div class="section">

          <!-- Fuel.pub_date -->
          <div class="section-item" id="remind-select">
            <div class="section-inner">
              {{ form.pub_date.label_tag }}
              {{ form.pub_date }}
            </div>
          </div>

          <!-- Fuel.volume -->
          <div class="section-item" id="remind-select">
            <div class="section-inner">
              {{ form.volume.label_tag }}
              {{ form.volume }}
            </div>
          </div>

          <!-- Fuel.price -->
          <div class="section-item" id="remind-select">
            <div class="section-inner">
              {{ form.price.label_tag }}
              {{ form.price }}
            </div>
          </div>

          <!-- Fuel.comment -->
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.comment.errors }}</div>
              <div class="editable-content full-width">
                <div class="labeled-input">
                  <div class="label">{{ form.comment.label_tag }}</div>
                  <div class="input">{{ form.comment }}</div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- section -->

      </div> <!-- body -->
      
    </form>
  </div>
{% endblock %}
