{% extends "fuel/fuel_aside.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title }}
      </div>
      <div class="main-title-subline">
        {{ search_info }}
      </div>
    </div>
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}">{% trans 'add new fueling'|capfirst %}</button>
  </form>
  
  <div class="tree">
    <ul>
      {% for item in page_obj %}
        <li>
          <a href="{% url 'fuel:fueling_form' item.0.id %}" class="{% if item.0.id == item_id %}current{% endif %}">
            <div class="tree-item">
              <div class="info">
                <div class="name">{{ item.0.pub_date|date:'d.m.Y G:i' }}</div>
                <div class="descr">
                  <div class="inline-element">
                    {% for attr in item.1 %}
                      <div class="inline-element">
                        {% if attr.icon == "notes" %}
                          <img class="inline-icon" src="{% static 'todo/icon/inline/notes.png' %}">
                        {% elif attr.icon == "separator" %}
                          <img class="inline-icon" src="{% static 'todo/icon/inline/separator.png' %}">
                        {% endif %}
                        {% if attr.text %}
                          <div class="inline-label {% if attr.color %}{{ attr.color }}{% endif %}"><span>{{ attr.text }}</span></div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="icon"> </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    
    {% if page_obj %}
      <p>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="w3-button" href="?page=1">&laquo;</a>
                <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    
            <span class="current active w3-button w3-theme-l1">
                {{ page_obj.number }}
            </span>
    
            {% if page_obj.has_next %}
                <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
      </div>
    {% endif %}

  </div>
{% endblock %}

