{% extends "core/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/fuel-map.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
{% endblock %}

{% block main %}
  <div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
    <div id="map"></div>
    <div id="gps_data" class="d-none">{{ gps_data|safe }}</div>
  </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/fuel-map.js' %}"></script>
{% endblock %}
