{% extends "base_list.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'fuel/css/fuel.css' %}">
{% endblock %}

{% block win_content %}
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Наименование</th> <th>Ресурс, тыс.км.</th> <th>Период, мес.</th> <th>Осталось</th> <th>Комментарий</th> </tr>
    </thead>
    <tbody>
      {% for part in page_obj %}
      <tr>
        <td><a href="{% url 'fuel:part_form' part.id %}">{{ part.name }}</a></td>
        <td>{{ part.chg_km_th|default:"" }}</td>
        <td>{{ part.chg_mo|default:"" }}</td>
        <td>{% autoescape off %}{{ part.get_rest }}{% endautoescape %}</td>
        <td>{{ part.comment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
