{% extends "base_site.html" %}
{% load static %}
{% block content %}

  <script language="javascript" type="text/javascript">

    function getLink(_part, _repl)
    {
      var html = '<a href="/fuel/repl/' + _part + '/' + _repl + '/">' + _repl + '</a>';
      document.write(html);
      return true;
    }

    function addCommas(input) 
    {
      output = input.toString();
      var sRegExp = new RegExp('(-?[0-9]+)([0-9]{3})');
      while(sRegExp.test(output)) 
      {
        output = output.replace(sRegExp, '$1 $2');
      }
      document.write(output);
    }

    function myClick(_num)
    {
      var frm = document.getElementById("fld_form");
      frm.Submit();
      return true;
    }

    bEdit = false;

    function check()
    {
      var odo   = parseInt(document.getElementById('fld_form').elements['odometr'].value);
      var dt    = new Date(document.getElementById('fld_form').elements['dt_chg'].value);
      var manuf = document.getElementById('fld_form').elements['manuf'].value;
      var name  = document.getElementById('fld_form').elements['name'].value;

      var status = '';
      
      if (isNaN(dt.getDate()))
        status = 'Не задана дата заправки';
      else
        if (isNaN(odo))
          status = 'Не задано показание одометра';
        else
          if ((name == '') && (manuf == ''))
            status = 'Не задано наименование или производитель';
      
      document.getElementById('status').innerHTML = status;
      
      var x = document.getElementById('buttons');
      
      if (status != '')
      {
        if (!bEdit)
          x.innerHTML = '';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить"   onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить"  onClick="myClick(4)" />';
      }
      else
      {
        if (!bEdit)
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="Добавить"  onClick="myClick(1)" />';
        else
          x.innerHTML = '<input type="submit" class="LiteButton" id="update" name="action" value="Сохранить" onClick="myClick(2)" />' +
                        '<input type="submit" class="LiteButton" id="delete" name="action" value="Удалить"   onClick="myClick(3)" />' +
                        '<input type="submit" class="LiteButton" id="common" name="action" value="Отменить"  onClick="myClick(4)" />';
      }
    }

  </script>
  
  <div id="gmenu" class="menu"> <a href="/">{{ app_text }}</a> | <a href="/fuel/part/">{{ part_text }}</a> </div> <br/>

  <div class="PageTitle">  {{ page_title  }} </div>
  <div class="PageStatus"> {{ page_status }} </div>

  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="fieldWrapper"> {{ field.errors }} </div>
  {% endfor %}

  <form id="fld_form" action="{% url 'fuel:repl_edit' part pid %}" method="post">
    {% csrf_token %}
    <table class="fl1">
      <tbody>
        {% if pid > 0 %} 
        <script language="javascript" type="text/javascript"> bEdit = true; </script>
        <tr><td class="fl1"> ID: </td><td class="fl2"> {{ pid }} </td> </tr>
        {% else %}
        <script language="javascript" type="text/javascript"> bEdit = false; </script>
        {% endif %}
        <tr><td class="fl1"> Дата:              </td><td class="fl2"> <input name="dt_chg"   type="date"   value="{{ form.dt_chg.value }}"   onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Одометр:           </td><td class="fl2"> <input name="odometr"  type="number" value="{{ form.odometr.value }}"  onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Производитель:     </td><td class="fl2"> <input name="manuf"    type="text"   value="{{ form.manuf.value }}"    onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Номер по каталогу: </td><td class="fl2"> <input name="part_num" type="text"   value="{{ form.part_num.value }}" onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Наименование:      </td><td class="fl2"> <input name="name"     type="text"   value="{{ form.name.value }}"     onChange="check()" /> </td> </tr>
        <tr><td class="fl1"> Описание:          </td><td class="fl2">
           <textarea id="txt" name="comment" rows="3" cols="22"> {{ form.comment.value }} </textarea> </td> </tr>
      </tbody>
    </table>
    <span id="buttons"> </span> 
    <span id="status" class="PageStatus"> </span> 
    <script language="javascript" type="text/javascript"> check() </script>
  </form>

  <table class="work">
    <tbody><tr>
      <th class="work"> ID           </th>
      <th class="work"> Дата         </th>
      <th class="work"> Одометр      </th>
      <th class="work"> Наименование </th>
    </tr>
    {% for r in replaces %}
    <tr>
      <td class="pid">  <script language="javascript" type="text/javascript">getLink({{ part }}, {{ r.id }})</script> </td>
      <td class="work"> {{ r.s_dt_chg }} </td>
      <td class="numb"> <script language="javascript" type="text/javascript">addCommas({{ r.odometr }}) </script> </td>
      <td class="work"> {{ r.manuf }} {{ r.name }} </td>
    </tr>
    {% endfor %}
  </tbody></table>

{% endblock %}

