{% extends "base_list.html" %}

{% block win_content %}
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Дата</th> <th>Одометр, км.</th> <th>Запчасть</th> <th>Наименование</th> <th>Призводитель</th> <th>Номер по каталогу</th> <th>Комментарий</th> </tr>
    </thead>
    <tbody>
      {% for repl in page_obj %}
      <tr>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.dt_chg|date:"d.m.Y" }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.odometr }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.part }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.name }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.manuf }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.part_num }}</a></td>
        <td><a href="{% url 'fuel:repl_form' repl.id %}">{{ repl.comment }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
