# Settings
.vscode
.project
.pydevproject

# Back
back/react/templates/react/index.html
back/static/assets
back/static/css/*.css
back/static/css/*.css.map

# Front
front/dist
front/media
front/static
front/node_modules

# Django
*.pyc
manage.py
django.mo
django.po
migrations

# Secrets
s.bat
db.sqlite3
sqlite3.exe
MailBackup.vbs
firebase-messaging-sw.js
rusel-by-firebase-adminsdk-*.json
unpublished
*.pem





# Windows image file caches
Thumbs.db
ehthumbs.db

# Thumbnails
._*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Logs
logs
*.log
npm-debug.log*
