# Settings
.vscode
.vscode/launch.json
.project
.pydevproject

# Environment
env

# Back
back/core/static/backgrounds
back/static
back/staticfiles
back/templates
back/**/*.min.css
back/**/*.min.css.map
media
back/**/*_params.py
back/**/*_start.bat

# Front
front/dist
front/media
front/static
front/node_modules

# Django
*.pyc
# manage.py
django.mo
django.po
migrations

# Secrets
secrets.json
db.sqlite3
firebase-messaging-sw.js
rusel-by-firebase-adminsdk-*.json
unpublished
*.pem
service




# Windows image file caches
Thumbs.db
ehthumbs.db

# Thumbnails
._*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Logs
# logs
*.log
npm-debug.log*
