{% extends "hier/list.html" %}
{% load static i18n %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  <div class="fields">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      {% include "hier/form_errors.html" %}

      <div class="header">
        <button type="hidden" name="item-save" id="id_item_save"></button>
        <div class="row">
          {{ form.publ.label_tag }}
        </div>
        {% if form.publ.errors %}
          <div class="row">
            <div class="field-error">{{ form.publ.errors }}</div>
          </div>
        {% endif %}
        <div class="row editable-content full-width main-element" id="id_publ_view">
          <div class="full-width">{{ form.publ.value|date:'d.m.Y G:i' }}</div>
          <div class="button field-icon" id="id_edit" onclick="OpenPublEdit()"><img src="{% static 'rok/icon/edit.png' %}"></div>
          <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        </div>
        <div class="row" id="id_publ_edit">
          {{ form.publ }}
          <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        </div>
      </div>
      
      <div class="body">
        <div class="section">
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.height.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{{ form.height.label_tag }}</div>
                <div class="input">{{ form.height }}</div>
              </div>
            </div>
          </div>
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.weight.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{{ form.weight.label_tag }}</div>
                <div class="input">{{ form.weight }}</div>
              </div>
            </div>
          </div>
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.waist.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{{ form.waist.label_tag }}</div>
                <div class="input">{{ form.waist }}</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section">
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.temp.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{{ form.temp.label_tag }}</div>
                <div class="input">{{ form.temp }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.systolic.errors }}</div>
              <div class="field-error">{{ form.diastolic.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{% trans 'preasure'|capfirst %}:&nbsp;</div>
                <div class="input">{{ form.systolic }}</div>
                <div class="label">&nbsp;/&nbsp;</div>
                <div class="input">{{ form.diastolic }}</div>
              </div>
            </div>
          </div>
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.pulse.errors }}</div>
              <div class="editable-content full-width">
                <div class="label">{% trans 'pulse'|capfirst %}:&nbsp;</div>
                <div class="input">{{ form.pulse }}</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section">
          <div class="section-item">
            <div class="section-inner">
              <div class="field-error">{{ form.info.errors }}</div>
              <div class="editable-content full-width">
                <div class="labeled-input">
                  <div class="label">{{ form.info.label_tag }}</div>
                  <div class="input">{{ form.info }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/AddAutoResize.js' %}"></script>
  <script src="{% static 'note/js/OpenPublEdit.js' %}"></script>
{% endblock %}


