{% extends "hier/list.html" %}
{% load static i18n %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  <div class="fields">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      {% include "hier/form_errors.html" %}
      <button type="hidden" name="item-save" id="id_item_save"></button>
      {{ form.as_table }}
      <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
    </form>
  </div>
{% endblock %}



