{% extends "base/item_detail.html" %}

{% block item_detail %}
    <div class="row mb-3">
        <div class="col">{{ form.name.label_tag }}{{ form.name }}</div>
        <div class="col">{{ form.start }}</div>
        <div class="col">{{ form.stop }}</div>
        <div class="col">{{ form.diagnosis.label_tag }}{{ form.diagnosis }}</div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ form.info.label_tag }}{{ form.info }}
            {{ form.url.label_tag }}{{ form.url }}
        </div>
        <div class="col">
            {{ form.categories.label_tag }}{{ form.categories }}
            {{ form.upload.label_tag }}{{ form.upload }}
        </div>
    </div>
    {% include "widgets/url_list.html" %}
    {% include "widgets/attachments.html" %}
{% endblock %}

