{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'scss/family.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
        <form method="post" class="item-form px-2">{% csrf_token %}</form>
        <div class="layer-1">
            <div class="menu">
                <label for="trees">{% trans 'Family tree' %}:</label>
                <select name="tree_selector" id="id_tree_selector" onchange="setTree(this.value)">
                    {% for tree in tree_list %}
                        <option value="{{ tree.id|safe }}"{% if tree.id == cur_tree.id %} selected{% endif %}>{{tree.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <label for="persons">{% trans 'Person' %}:</label>
                <select name="person_selector" id="id_person_selector" onchange="setPerson(this.value)">
                    {% for person in indi_list %}
                        <option value="{{ person.id|safe }}"{% if person.id == cur_indi.id %} selected{% endif %}>{{person.name }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <label for="depth">{% trans 'Generations' %}:</label>
                <select name="depth_selector" id="id_depth_selector" onchange="setDepth(this.value)">
                    <option value="1"{% if cur_depth == 1 %} selected{% endif %}>1</option>
                    <option value="2"{% if cur_depth == 2 %} selected{% endif %}>2</option>
                    <option value="3"{% if cur_depth == 3 %} selected{% endif %}>3</option>
                    <option value="4"{% if cur_depth == 4 %} selected{% endif %}>4</option>
                    <option value="5"{% if cur_depth == 5 %} selected{% endif %}>5+</option>
                </select>
            </div>
        
            {% for level in tree_levels %}
                <div class="layer-2">
                    {% for item in level %}
                        <a class="layer-3 btn" href="{{ item.get_absolute_url }}">
                            {{ item.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/family.js' %}"></script>
{% endblock %}
