{% load static i18n %}

<div class="field-group">
  <button type="button" name="task_completed" class="field-icon" id="task-completed" data-value="{{ ed_item.completed }}" onclick="toggleCompleted(0)">
    {% if ed_item.completed %}
      <img src="{% static 'todo/icon/complete.png' %}">
    {% else %}
      <img src="{% static 'todo/icon/uncomplete.png' %}">
    {% endif %}
  </button>

  <div class="field-error">{{ form.name.errors }}</div>

  <div class="article-name{% if ed_item.completed %} completed{% endif %}">
    <div class="editable-content full-width main-element">
      {{ form.name }}
    </div>
  </div>
  
  <button type="button" name="task_important" class="field-icon" id="task-important" data-value="{{ ed_item.important }}" onclick="toggleImportant(0)">
    {% if ed_item.important %}
      <img src="{% static 'todo/icon/important-on.png' %}">
    {% else %}
      <img src="{% static 'todo/icon/important-off.png' %}">
    {% endif %}
  </button>
</div>
