<table class="info-table">
    <tr>
        <th>Service</th>
        {% for dt in health.dates %}
            <th> {{ dt|date:'d b' }} </th>
        {% endfor %}
    </tr>
    {% for service in health.services %}
        <tr>
            <td class="bi-{{ service.icon }}"><span class="px-3">{{ service.short_name }}</span></td>
            {% for day in service.days %}
                <td class="text-center"><a href="{% url 'logs:list' %}?{{ service.href }}&day={{ day.href }}"><i class="bi-{{ day.icon }}" style="color:{{ day.color }}"></i></a></td>
            {% endfor %}
        </tr>
    {% endfor %}
  </table>
