:root {
  --ui-text-color: #262626;
  --ui-inverted-text-color: #fff;
  --ui-link-color: #0e7194;
  --ui-genderless-connection-color: #999;
  --ui-hr-color: rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6 {
  font: 14.5px/1.33 ui-sans, Helvetica Neue, Arial, sans-serif;
  color: inherit;
  margin: 0;
}

address, caption, cite, code, em, h1, h2, h3, h4, h5, h6, th {
  font-style: normal;
  font-weight: 400;
}

li, ol, ul {
  list-style: none;
  text-indent: 0;
  padding-left: 0;
}

img, svg {
  vertical-align: middle;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
  margin-top: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--ui-hr-color);
  height: 0;
  margin: 20px 0;
}

[type=button], [type=reset], [type=submit], a, button {
  background: revert;
  cursor: pointer;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

.topSpacing {
  margin-top: 10px !important;
}

.storylineSection {
  position: relative;
}

.lifeStoryEvents .storyContent {
  position: relative;
  z-index: 2;
}
.lifeStoryEvents .timelineList {
  position: relative;
  width: 100%;
}
.lifeStoryEvents .timelineItem {
  display: block;
  min-height: 68px;
  padding: 0;
  position: relative;
}
.lifeStoryEvents .timelineItem .storyHiding {
  display: none;
}

.lifeStory .mapFigure .staticMap[src^=https], .lifeStory .timelineItemMapVisible .staticMap[src^=https] {
  visibility: visible;
}
.lifeStory .showMapModal img {
  height: 100%;
  width: 100%;
}

.photo > img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.page, .pageHeaderCenter, .pageIntro, .pageTitle {
  max-width: 100%;
}

.page {
  margin: 0 auto;
  width: 990px;
}

.pageWidth2 {
  width: 100%;
}

@media (max-width: 1005px) {
  .page {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .personViewPages {
    margin-bottom: -10px;
  }
}
.storyline {
  padding-left: 100px;
}

@media (max-width: 767px) {
  .storyline:not(.storylineList) {
    padding-left: 50px;
  }
}
.personPageStory .lifeStory {
  margin: 0 auto;
  max-width: 950px;
  position: relative;
  z-index: 1;
}
.personPageStory .lifeStory .lifeStorySec {
  position: relative;
}

.topSpacingBlock {
  margin-top: 20px !important;
}

.con, .conSecond, .conThird {
  border-radius: 6px;
  padding: 20px;
}

@media (max-width: 767px) {
  .con, .conSecond, .conThird {
    padding: 10px;
  }
}
.conThird:not(.bgDark) {
  background-color: #ece9e4;
}

.con:not(.bgDark), .conSecond:not(.bgDark) {
  background-color: #fff;
}

.con:not(:first-child), .conSecond:not(:first-child), .conThird:not(:first-child) {
  margin-top: 20px;
}

.conNoBorder.conNoBorder {
  border: none;
  padding-bottom: 0;
  padding-top: 0;
  background-color: transparent;
  box-shadow: none;
}

.textWrap {
  border-spacing: 0;
  -webkit-hyphens: auto;
  hyphens: auto;
  max-width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

.noTopSpacing, .noTopSpacing.topSpacing:first-child, .noTopSpacing.topSpacingBlock:first-child {
  margin-top: 0 !important;
}

.ancBtn.silver.bgLight.bgLight, .bgDark .bgLight .ancBtn.silver, .callout .ancBtn.silver, .card .ancBtn.silver, .con:not(.conNoBorder) .ancBtn.silver, .conSecond:not(.conNoBorder) .ancBtn.silver, .modalHeader .ancBtn.silver, .pageHeader.bgColor8 .ancBtn.silver, .pageHeader .bgColor8 .ancBtn.silver, .sidebarScrollArea .ancBtn.silver {
  background: #ebebeb;
}

.lifeStoryNarrative .narrativeCon .conHeader {
  height: 0;
  position: relative;
  z-index: 2;
}
.lifeStoryNarrative .editButton {
  float: right;
  margin-left: 10px;
  position: relative;
}

.conHeader .ancBtn {
  float: right;
}

.ancBtn.silver, .bgColor8 .ancBtn.silver {
  background: #e2e0dd;
  color: var(--ui-text-color) !important;
}

.ancBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #117fa6;
  border: 1px solid transparent;
  border-radius: 32px;
  box-shadow: none;
  color: var(--ui-inverted-text-color) !important;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 700;
  line-height: 18.9px;
  min-height: 30px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none !important;
  text-indent: 0;
  transition: padding-left 0.2s;
  vertical-align: middle;
}

.ancGrid {
  margin-left: -20px;
  word-wrap: break-word;
}

.ancGridSmall {
  margin-left: -10px;
}

.conTitle {
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  padding-bottom: 10px;
}

.conSecond .conTitle, .conThird .conTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.conBody {
  position: relative;
}

.lifeStoryNarrative .narrativeText {
  min-height: 49px;
  margin-top: 0;
  white-space: pre-wrap;
}

.conBody > :first-child, .conHeader + p {
  margin-top: 0;
}

.lifeStoryFamily .familyWrap {
  position: relative;
  z-index: 2;
}
.lifeStoryFamily .familyTree {
  display: flex;
}

@media screen and (min-width: 768px), print {
  .lifeStoryFamily .familyTree section {
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
  }
  .lifeStoryFamily .familyTree section:not(:last-child) {
    padding-right: 40px;
  }
  .lifeStoryFamily .familyTree section:not(:first-child) {
    flex: auto;
  }
}
.hideVisually:not(:focus), .screenReaderText {
  height: 1px !important;
  line-height: 2em;
  margin: -1px;
  opacity: 0;
  overflow: hidden !important;
  pointer-events: none;
  position: absolute !important;
  width: 1px !important;
}

.colornormal, .textdefault, a.colornormal, a.textdefault {
  color: var(--ui-text-color);
}

.lifeStoryNarrative .narrativeFooter, .lifeStoryNarrative .narrativeMenu {
  display: none;
}

.conFooter {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .conArrow {
    border: inherit;
    box-shadow: inherit;
    height: 14px;
    outline: inherit;
    position: absolute;
    width: 14px;
  }
  .conArrow:after {
    background-color: inherit;
    content: "";
    display: block;
    height: 28px;
    position: absolute;
    width: 9px;
    box-sizing: inherit;
  }
  .conHasArrow {
    position: relative;
  }
  .conHasArrow[class*=conHasArrowLeft] .conArrow:after {
    border-bottom-right-radius: 8px 14px;
    border-top-right-radius: 8px 14px;
    left: 6px;
    top: -10px;
    transform: rotate(-45deg);
  }
  .conHasArrow[class*=conHasArrowLeft] .conArrow {
    border-top: 0;
    border-top-right-radius: 100%;
    left: -7px;
    transform: rotate(45deg);
  }
  .conHasArrow .conArrow:not([class*=bgColor]) {
    background-color: inherit;
  }
  .conHasArrowLeftTop .conArrow {
    top: 18px;
  }
}
.con:after, .conBody:after, .conHeader:after, .conSecond:after, .conSection:after, .conThird:after {
  clear: both;
  content: "";
  display: table;
}

.personView {
  background-color: #f6f3f0;
  font: 14.5px/1.33 ui-sans, Helvetica Neue, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: initial;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.storylineBullet.storylineBulletSize1 {
  height: 40px;
  left: -80px;
  top: 5px;
  width: 40px;
}

.storylineBullet {
  background-color: #7a7a77;
  border-radius: 50%;
  cursor: default;
  height: 70px;
  left: -95px;
  position: absolute;
  top: -10px;
  width: 70px;
  z-index: 2;
}

.storylineBullet.storylineBulletSize1.icon:before {
  font-size: 16px;
}

@media (max-width: 767px) {
  .storylineBullet, .storylineBullet.storylineBulletSize1 {
    left: -50px;
    top: 0;
  }
}
.storylineBullet.icon:before {
  color: #f5f5f5;
  font-size: 25px;
  height: 1em;
  left: 50%;
  line-height: 1em;
  margin: -0.5em 0 0 -0.5em;
  position: absolute;
  top: 50%;
  width: 1em;
  z-index: 0;
}

.storylineBulletHasText {
  color: var(--ui-inverted-text-color);
  display: table;
  text-align: center;
  text-transform: uppercase;
}
.storylineBulletHasText .storylineBulletText {
  display: table-cell;
  vertical-align: middle;
}
.storylineBulletHasText .storylineBulletSubtitle {
  display: block;
  font-size: 12px;
  line-height: 1.1;
  margin: 0;
}
.storylineBulletHasText .storylineBulletSubtitle + .storylineBulletTitle {
  margin-top: -2px;
  margin-bottom: 0;
}
.storylineBulletHasText .storylineBulletTitle {
  display: block;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
}

.personViewPages .lifeStory .storylineHasTrail::after {
  height: calc(100% + 30px);
  top: 10px;
}

.storylineHasTrail:after {
  background-color: #7a7a77;
  content: "";
  display: block;
  height: calc(100% + 10px);
  left: -62px;
  position: absolute;
  top: 25px;
  width: 4px;
  z-index: 1;
}

@media (max-width: 767px) {
  .storylineHasTrail:after {
    left: -32px;
  }
}
.card:not([class*=bgColor]):not(.cardEmpty), .card[class*=cardOutline]:not(.cardEmpty) {
  background-color: #fff;
}

.card:not(.bgDark) {
  color: var(--ui-text-color);
  text-shadow: none;
}

.card {
  border-radius: 3.1px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  display: block;
  padding: 10px;
  position: relative;
  -webkit-tap-highlight-color: rgba(38, 38, 38, 0);
  transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
}

ul.userList {
  margin-bottom: 0;
  padding-left: 0;
}

.userCard:first-child {
  margin-top: 0;
}

#ropebagSkinnyFamily .svg .path {
  stroke: var(--ui-genderless-connection-color);
}

.ropebag {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.ropebag .svg {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.iconAvatarFemale:after, .userCardImg.icon.iconAvatarFemale:after, .userCardImg.icon.iconFemale:after {
  color: #9d4225 !important;
  content: "\e913";
}

.bgDark {
  color: var(--ui-inverted-text-color);
}

.bgDark .userCardImg:before, .userCardImg.bgDark:before {
  color: var(--ui-inverted-text-color);
}

.iconAvatarFemale:before, .userCardImg.icon.iconAvatarFemale:before, .userCardImg.icon.iconFemale:before {
  color: #d06e54 !important;
  content: "\e912";
}

.bgDark.userCard, .bgDark .userCard, .bgDark .userCardContent, .bgDark .userCardInfo, .bgDark .userCardName {
  color: #f5f5f5;
}

.bgDark > .link, .bgDark > a {
  color: inherit;
}

.card.bgDark {
  color: var(--ui-inverted-text-color);
}

h4.userCardTitle {
  color: inherit;
  margin: 0;
}

.userCardTitle {
  font-size: 16px;
  font-weight: 700;
}

.iconAvatarFemale, .userCardImg.icon.iconAvatarFemale, .userCardImg.icon.iconFemale {
  background-color: #eec4b2;
}

.bulleted li, .list li, .numbered li {
  line-height: 1.4;
  margin-top: 8px;
}

.list {
  margin: 10px 0 0;
}

.iconArrowDown:before, .iconArrowDownAfter:after {
  content: "\e621";
  margin: 0;
}

.iconAfter:after {
  margin-left: 0.25em;
}

.link {
  -webkit-appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  color: var(--ui-link-color);
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.icon:active, .icon:focus, .icon:hover, .iconAfter:active, .iconAfter:focus, .iconAfter:hover, a.icon, button.icon, button.iconAfter {
  text-decoration: none;
}

.lifeStoryFamily .card {
  padding: 0;
  position: relative;
  z-index: 2;
}
.lifeStoryFamily .userItem, .lifeStoryFamily .userList {
  display: block;
  position: relative;
  width: 100%;
}
.lifeStoryFamily .userItem .userPerson, .lifeStoryFamily .userList .userPerson {
  display: block;
  margin: 0;
  padding: 7px;
}
.lifeStoryFamily .userItem a, .lifeStoryFamily .userList a {
  color: var(--ui-link-color);
  text-decoration: none;
}
.lifeStoryFamily .treeSecSplit + .treeSecSplit {
  margin-top: 10px;
}
.lifeStoryFamily .userPerson {
  display: block;
  margin: 0;
  padding: 7px;
}
.lifeStoryFamily .userList:not(.showAll) .toggleSkinnyFamilyLI ul {
  display: none;
}
.lifeStoryFamily .link {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.userCardSize2 .userCardTitle {
  font-size: 14.5px;
}

.userCardContent {
  display: inline-block;
  line-height: 1.3;
  margin-top: -0.25em;
  vertical-align: middle;
  width: 100%;
}

.iconAvatarMale:after, .userCardImg.icon.iconAvatarMale:after, .userCardImg.icon.iconMale:after {
  color: #404a63 !important;
  content: "\e915";
}

.icon:before, .iconAfter:after {
  font: normal 100%/0 ancestry-icon;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  speak: none;
  text-transform: none;
  top: 0.12em;
}

.icon:after, .icon:before, .iconAfter:after {
  -webkit-print-color-adjust: exact;
}

.icon:before, span.icon {
  margin-right: 0.25em;
}

.iconFemale:before, .iconMale:before {
  content: "\e64a";
}

.icon:empty:before {
  margin-right: 0;
}

.userCardImg.icon:before {
  color: #999;
  display: block;
  font-size: 30.5px;
  line-height: 50px;
  margin-right: 0;
  position: static;
}

.iconAvatarFemale:after, .iconAvatarFemale:before, .iconAvatarMale:after, .iconAvatarMale:before, .iconAvatarPerson:before, .userCardImg.icon.iconFemale:after, .userCardImg.icon.iconFemale:before, .userCardImg.icon.iconMale:after, .userCardImg.icon.iconMale:before, .userCardImg.icon.iconPerson:before {
  font: normal 1em/1em ancestry-icon;
  left: 0;
  position: absolute;
  speak: none;
  text-transform: none;
  top: 0;
}

.iconAvatarMale:before, .userCardImg.icon.iconAvatarMale:before, .userCardImg.icon.iconMale:before {
  color: #7facc0 !important;
  content: "\e914";
}

.userCardSize2 .userCardImg.icon:before {
  font-size: 18px;
  line-height: 30px;
}

.userCardImg.icon.iconAvatarFemale.iconAvatarFemale:before, .userCardImg.icon.iconAvatarMale.iconAvatarMale:before, .userCardImg.icon.iconAvatarPerson.iconAvatarPerson:before, .userCardImg.icon.iconFemale.iconFemale:before, .userCardImg.icon.iconMale.iconMale:before, .userCardImg.icon.iconPerson.iconPerson:before {
  font-size: 1em;
  line-height: 1em;
}

.userCardImg {
  border-radius: 50%;
  color: #262626;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin: 0 0 -50px -60px;
  overflow: hidden;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  width: 50px;
}

.userCardImgNode, .userCardImgSquare {
  border-radius: 50% 0 50% 50%;
}

.userCardImg:not([class*=avColor], [class*=userCardImgPict]) {
  background-color: rgba(0, 0, 0, 0.16);
}

.userCardImg.icon {
  border: 0;
}

.userCardSize2 .userCardImg {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 -30px -40px;
  width: 30px;
}

.iconAvatarMale, .userCardImg.icon.iconAvatarMale, .userCardImg.icon.iconMale {
  background-color: #c8dbe5;
}

.userCardImg.icon.iconAvatarFemale, .userCardImg.icon.iconAvatarMale, .userCardImg.icon.iconAvatarPerson, .userCardImg.icon.iconFemale, .userCardImg.icon.iconMale, .userCardImg.icon.iconPerson {
  border-radius: 50% 0 50% 50%;
  font-size: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.userCardSize2 .userCardImg.iconAvatarFemale, .userCardSize2 .userCardImg.iconAvatarMale, .userCardSize2 .userCardImg.iconAvatarPerson, .userCardSize2 .userCardImg.iconFemale, .userCardSize2 .userCardImg.iconMale, .userCardSize2 .userCardImg.iconPerson {
  font-size: 30px;
}

.userCard {
  color: inherit;
  display: block;
  line-height: 50px;
  margin-top: 10px;
  max-width: 100%;
  min-height: 50px;
  padding-left: 60px;
  position: relative;
  text-align: left;
  word-wrap: break-word;
  z-index: 1;
}

.userCardSize2 {
  font-size: 13px;
  line-height: 30px;
  min-height: 30px;
  padding-left: 40px;
}

.lifeStoryFamily.conNoBorder {
  position: relative;
  text-align: left;
}

input, select {
  padding: 0 6px;
}

label:not(.ancBtn), legend {
  color: var(--ui-text-color);
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.23;
  padding-bottom: 0.5em;
}

.bgColor1 {
  background-color: #4d4d4d;
}

.text2xlrg {
  font-size: 18px;
}

.text3xlrg {
  font-size: 21.5px;
}

.smallLineHeight {
  line-height: 1.35;
}

.sml {
  font-size: 14.5px;
  line-height: 17px;
  min-height: 20px;
  padding: 3px 16px;
}

.bold, .bolder, b, strong {
  font-weight: 700;
}/*# sourceMappingURL=life.css.map */