#todo .widget-content {
    border: 1px solid black;
    height: 200px;
    background-image: linear-gradient(#ffc5bf, #f0f4c1, #bfd9ff);
    /* background-image: linear-gradient(#ffc5bf, #ffefbf, #fbf4bf, #f0f4c1, #e4f8d4, #bfffea, #bfe8ff, #bfd9ff); */
}

