{% load static i18n %}

<div class="scroll">

  <ul class="nav-menu">
    {% for fix in fix_list %}
      <li{% if restriction == fix.name %} class="selected"{% endif %}>
        <a class="fix" href="{{ fix.url }}">
          <div class="nav-menu-item-left">
            <img src="{% static fix.icon %}">
            {{ fix.title }}
          </div>
          <div class="nav-menu-qty">{% if fix.qty != None %}{{ fix.qty }}{% endif %}</div>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if not without_lists %}
    <div class="nav-last-static-list"></div>
  
    <ul class="nav-menu">
      {% for node in groups %}
        <li class="grp-item{% if node.is_list and restriction == 'list' and node.id == list_id %} selected{% endif %}">
          {% if node.is_list %}
            <a href="list/{{ node.id }}/">
              <div class="nav-menu-item-left">
                <img class="level-{{ node.level }}" src="{% static 'v2/rok/icon/list.png' %}">
                <div>{{ node.name }}</div>
              </div>
            </a>
            <div class="nav-menu-qty">
              {{ node.qty }}
            </div>
          {% else %}
            <a href="group/{{ node.id }}/">
              <div class="nav-menu-item-x1">
                <img class="level-{{ node.level }}" src="{% static 'v2/rok/icon/group.png' %}">
                <div class="nav-menu-item-x2">{{ node.name }}</div>
              </div>
            </a>
            <div class="nav-menu-item-right">
              <a href="toggle_group/{{ node.id }}/">
                {% if node.is_open %}
                  <img class="img-20_20" src="{% static 'v2/rok/icon/direct-down.png' %}">
                {% else %}
                  <img class="img-20_20" src="{% static 'v2/rok/icon/direct-left.png' %}">
                {% endif %}
              </a>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  
    <form method="post" class="grp-actions">{% csrf_token %}
      <button type="submit" name="list-add" class="default lst-add" label="create list"><img class="img-20_20" src="{% static 'v2/rok/icon/add.png' %}"></button>
      <input type="text" class="add-grp" placeholder="{% trans 'create list or group'|capfirst %}" name="name">
      <button type="submit" name="group-add" class="default grp-add" label="create group"><img class="img-20_20" src="{% static 'v2/rok/icon/group-add.png' %}"></button>
    </form>
  {% endif %}

</div>

