{% extends "v2_hier/list.html" %}
{% load static i18n %}

{% block article_content %}
  <!-- Apart.name -->
  <div class="header">
    <div class="row">
      {{ form.name.label_tag }}
    </div>
    {% if form.name.errors %}
      <div class="row">
        <div class="field-error">{{ form.name.errors }}</div>
      </div>
    {% endif %}
    <div class="row editable-content full-width main-element">
      <button type="submit" name="apart-active" class="field-icon">
        {% if item_active %}
          <img src="{% static 'v2/todo/icon/complete.png' %}">
        {% else %}
          <img src="{% static 'v2/todo/icon/uncomplete.png' %}">
        {% endif %}
      </button>
      {{ form.name }}
    </div>
  </div>

  <div class="body">
    <div class="section">
      <!-- Apart.addr -->
      <div class="row">
        {{ form.addr.label_tag }}
      </div>
      {% if form.addr.errors %}
        <div class="row">
          <div class="field-error">{{ form.addr.errors }}</div>
        </div>
      {% endif %}
      <div class="row editable-content full-width auxiliary-element">
        {{ form.addr }}
      </div>
    </div>

    <div class="section">
      <div class="section-item">
        <button type="submit" name="apart-gas" class="section-inner-click">
          <div class="section-inner">
            <div class="section-icon">
              <img src="{% static 'v2/todo/icon/myday.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title{% if has_gas %} selected{% endif %}">
                {% if has_gas %}
                  {% trans 'gas supplied'|capfirst %}
                {% else %}
                  {% trans 'gas not supplied'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
        </button>
      </div>
  
      <div class="section-item">
        <button type="submit" name="apart-ppo" class="section-inner-click">
          <div class="section-inner">
            <div class="section-icon">
              <img src="{% static 'v2/rok/icon/cost.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title{% if has_ppo %} selected{% endif %}">
                {% if has_ppo %}
                  {% trans 'Payments to the PoO' %}
                {% else %}
                  {% trans 'No payments to the PoO' %}
                {% endif %}
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
