{% extends "v2_hier/list.html" %}
{% load static i18n %}

{% block article_content %}
  <!-- Service.name -->
  <div class="header">
    <div class="row">
      {{ form.name.label_tag }}
    </div>
    {% if form.name.errors %}
      <div class="row">
        <div class="field-error">{{ form.name.errors }}</div>
      </div>
    {% endif %}
    <div class="row editable-content full-width main-element">
      {{ form.name }}
    </div>
  </div>

  <div class="body">
    <div class="section">
      <!-- Service.abbr -->
      {% if form.abbr.errors %}
        <div class="row">
          <div class="field-error">{{ form.abbr.errors }}</div>
        </div>
      {% endif %}
      <div class="row editable-content full-width auxiliary-element">
        {{ form.abbr.label_tag }}
        {{ form.abbr }}
      </div>
    </div>
  </div>
{% endblock %}
