{% extends "store/entry_list.html" %}
{% load static %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
<form method="post">{% csrf_token %}
  <!-- Form Errors -->
  {% if form.errors %}
    <div class="fieldset">
      <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
    </div>
  {% endif %}
  {% if form.non_field_errors %}
    <div class="fieldset">
    {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
    </div>
  {% endif %}

  <!-- EDIT Entry.title -->
  <div class="header">
    <button type="hidden" name="item-save" id="id_item_save"></button>
    <div class="row">
      {{ form.title.label_tag }}
    </div>
    {% if form.actual.errors %}
      <div class="row">
        <div class="field-error">{{ form.actual.errors }} - actual</div>
      </div>
    {% endif %}
    <input type="hidden" name="actual" value="{{ form.actual.value }}" required="" id="id_actual">
    {% if form.title.errors %}
      <div class="row field-error">{{ form.title.errors }} - title</div>
    {% endif %}
    <div class="row editable-content full-width main-element">
      <button type="submit" name="set-actual" class="field-icon">
        {% if form.actual.value == 1 %}
          <img src="{% static 'todo/icon/uncomplete.png' %}">
        {% else %}
          <img src="{% static 'todo/icon/complete.png' %}">
        {% endif %}
      </button>
      {{ form.title }}
      <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
    </div>
  </div>

  <div class="body">
    <div class="section">
      <!-- Entry.username -->
      {% if form.username.errors %}
        <div class="row">
          <div class="field-error">{{ form.username.errors }} - username</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="editable-content full-width">
          <div class="labeled-input">
            <div class="label">{{ form.username.label_tag }}</div>
            <div class="input">{{ form.username }}</div>
          </div>
        </div>
      </div>

      <!-- Entry.value -->
      {% if form.value.errors %}
        <div class="row">
          <div class="field-error">{{ form.value.errors }} - value</div>
        </div>
      {% endif %}
      {% if form.params.errors %}
        <div class="row">
          <div class="field-error">{{ form.params.errors }} - params</div>
        </div>
      {% endif %}
      {% if form.uuid.errors %}
        <div class="row">
          <div class="field-error">{{ form.uuid.errors }} - uuid</div>
        </div>
      {% endif %}
      <div class="row">
        {{ form.value.label_tag }}
      </div>
      <div class="row">
        <div class="editable-content full-width">
          {{ form.value }}
          <div class="button field-icon" id="id_edit" onclick="OpenParams()"><img src="{% static 'rok/icon/edit.png' %}"></div>
          <div class="button field-icon" id="id_execute" onclick="BuildValue()"><img src="{% static 'rok/icon/execute.png' %}"></div>
        </div>
      </div>
      <div class="row" id="id_options">
        <div class="col">
          <div class="flex-row"><div class="row"><label for="id_ln">Длина:</label> <input type="number" name="ln" value="15" min="5" max="100" required="" id="id_ln"> </div></div>
          <div class="w3-panel"><input type="checkbox" name="uc" id="id_uc" checked="">  <label for="id_uc">Буквы в верхнем регистре</label> </div>
          <div class="w3-panel"><input type="checkbox" name="lc" id="id_lc" checked="">  <label for="id_lc">Буквы в нижнем регистре</label>  </div>
          <div class="w3-panel"><input type="checkbox" name="dg" id="id_dg" checked="">  <label for="id_dg">Цифры</label>                    </div>
          <div class="w3-panel"><input type="checkbox" name="sp" id="id_sp">             <label for="id_sp">Специальные символы</label>      </div>
          <div class="w3-panel"><input type="checkbox" name="br" id="id_br">             <label for="id_br">Скобки</label>                   </div>
          <div class="w3-panel"><input type="checkbox" name="mi" id="id_mi">             <label for="id_mi">Минус</label>                    </div>
          <div class="w3-panel"><input type="checkbox" name="ul" id="id_ul">             <label for="id_ul">Знак подчеркивания</label>       </div>
          <div class="w3-panel"><input type="checkbox" name="ac" id="id_ac" checked="">  <label for="id_ac">Исключить путаницу</label>       </div>
        </div>
      </div>
      <div class="row" id="id_buttons">
          <div class="button field-icon full-width flex-row"></div>
          <div class="button field-icon" onclick="CloseParams()"><img src="{% static 'rok/icon/close-top.png' %}"></div>
      </div>
      <input type="hidden" name="default_len" value="{{ default_len }}" id="id_default_len">
      <input type="hidden" name="default_params" value="{{ default_params }}" id="id_default_params">
      <input type="hidden" name="params" value="{{ form.params.value }}" required="" id="id_params">
    </div> <!-- section -->

    <div class="section">
      <!-- Entry.url -->
      <div class="row">
        <div class="label">{{ form.url.label_tag }}</div>
      </div>
      {% if form.url.errors %}
        <div class="row">
          <div class="field-error">{{ form.url.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        {% if form.url.value %}
              <input type="hidden" name="url" value="{{ form.url.value }}" id="id_url">
              <a href="{{ form.url.value }}">{{ form.url.value }}</a>
            <button type="submit" name="url-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
        {% else %}
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="input">{{ form.url }}</div>
            </div>
          </div>
        {% endif %}
      </div>

      <!-- Entry.notes -->
      <div class="section-item">
        <div class="section-inner">
          <div class="field-error">{{ form.notes.errors }}</div>
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="label">{{ form.notes.label_tag }}</div>
              <div class="input">{{ form.notes }}</div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- section -->

    <div class="section">
      <!-- Entry.lst -->
      <div class="section-item">
        <div class="section-inner">
          <div class="field-error">{{ form.lst.errors }}</div>
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="label">{{ form.lst.label_tag }}</div>
              <div class="input">{{ form.lst }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry.categories -->
      <div class="row">
        {{ form.category.label_tag }}
      </div>
      <div class="row">
        {% if categories %}
          <button type="hidden" name="category-delete" id="id_category_delete" value="???"></button>
            <div class="categories">
              {% for categ in categories %}
                <div class="category category-design-{{ categ.design }}">
                  <div class="label">
                    <div class="value">
                      {{ categ.name }}
                    </div>
                  </div>
                  <div class="icon" onclick="CategoryDelete('{{categ.name}}')">
                  <div class="delete">
                    <svg height="8" width="8" style="fill: currentcolor;">
                      <path d="M4.46607 4L8 7.53905L7.53905 8L4 4.46607L0.460948 8L0 7.53905L3.53393 4L0 0.460948L0.460948 0L4 3.53393L7.53905 0L8 0.460948L4.46607 4Z"></path>
                    </svg>
                  </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        {% endif %}
      </div>
      {% if form.category.errors %}
      <div class="row">
        <div class="field-error">{{ form.category.errors }}</div>
      </div>
	  {% endif %}
      <div class="row">
        <div class="section-icon">
          <img src="{% static 'todo/icon/category.png' %}">
        </div>
        {{ form.category }}
      </div>
    </div> <!-- section -->

  </div> <!-- body -->
</form>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script>
    AddAutoResize();
    var protectedValue = true;
    ValueEditCheck();

    function AddAutoResize()
    {
      document.querySelectorAll('[data-autoresize]').forEach(function (element) {
      element.style.boxSizing = 'border-box';
      var offset = element.offsetHeight - element.clientHeight;
      element.addEventListener('input', function (event) {
        event.target.style.height = 'auto';
        event.target.style.height = event.target.scrollHeight + offset + 'px';});
      element.removeAttribute('data-autoresize');});

      element = document.getElementById('id_notes');
      element.style.minHeight = "25px";
      element.style.height = (element.scrollHeight + element.offsetHeight - element.clientHeight)+"px";
    }

    function CategoryDelete(_category)
    {
      element = document.getElementById('id_category_delete');
      element.value = _category;
      element.click();
    }

    function ValueEditCheck()
    {
      element = document.getElementById('id_value');
      var generator = !protectedValue || (element.value == '')
      element.readOnly = !generator;
      if (generator)
      {
        if (element.value != '')
          document.getElementById('id_ln').value = element.value.length;
        else
          document.getElementById('id_ln').value = document.getElementById('id_default_len').value;

        var params = document.getElementById('id_params').value;
        if (params == 0)
          params = document.getElementById('id_default_params').value;
        document.getElementById('id_uc').checked = (params & 1);
        document.getElementById('id_lc').checked = (params & 2);
        document.getElementById('id_dg').checked = (params & 4);
        document.getElementById('id_sp').checked = (params & 8);
        document.getElementById('id_br').checked = (params & 16);
        document.getElementById('id_mi').checked = (params & 32);
        document.getElementById('id_ul').checked = (params & 64);
        document.getElementById('id_ac').checked = (params & 128);

        document.getElementById('id_edit').style.display = 'none';
        document.getElementById('id_execute').style.display = 'block';
        document.getElementById('id_options').style.display = 'block';
        document.getElementById('id_buttons').style.display = 'flex';
      }
      else
      {
        document.getElementById('id_edit').style.display = 'block';
        document.getElementById('id_execute').style.display = 'none';
        document.getElementById('id_options').style.display = 'none';
        document.getElementById('id_buttons').style.display = 'none';
      }
    }

    function OpenParams()
    {
      protectedValue = false;
      ValueEditCheck();
    }

    function CloseParams()
    {
      protectedValue = true;
      ValueEditCheck();
    }

    function BuildValue()
    {
      var ln = document.getElementById('id_ln').value;
      var uc = document.getElementById('id_uc').checked;
      var lc = document.getElementById('id_lc').checked;
      var dg = document.getElementById('id_dg').checked;
      var sp = document.getElementById('id_sp').checked;
      var br = document.getElementById('id_br').checked;
      var mi = document.getElementById('id_mi').checked;
      var ul = document.getElementById('id_ul').checked;
      var ac = document.getElementById('id_ac').checked;

      var allowed_chars = '';
    
      if (uc)
      {
        allowed_chars += 'ABCDEFGHJKLMNPQRSTUVWXYZ';
        if (!ac)
            allowed_chars += 'IO';
      }

      if (lc)
      {
        allowed_chars += 'abcdefghjkmnpqrstuvwxyz';
        if (!ac)
            allowed_chars += 'io';
      }

      if (dg)
      {
        allowed_chars += '23456789';
        if (!ac)
            allowed_chars += '10';
      }

      if (sp)
        allowed_chars += '!@#$%^&*=+';

      if (br)
        allowed_chars += '()[]{}<>';

      if (mi)
        allowed_chars += '-';

      if (ul)
        allowed_chars += '_';

      if (allowed_chars == '')
        allowed_chars = 'abcdefghjkmnpqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ23456789!@#$%^&*(-_=+)';

      var randomString = '';
      for (var i = 0; i < ln; i++)
      {
        var randomPoz = Math.floor(Math.random() * allowed_chars.length);
        randomString += allowed_chars.substring(randomPoz, randomPoz + 1);
      }
      document.getElementById('id_value').value = randomString;

      var params = 0;
      if (uc)
        params += 1;
      if (lc)
        params += 2;
      if (dg)
        params += 4;
      if (sp)
        params += 8;
      if (br)
        params += 16;
      if (mi)
        params += 32;
      if (ul)
        params += 64;
      if (ac)
        params += 128;

      document.getElementById('id_params').value = params;
      document.getElementById('id_item_save').click();
    }

  </script>
{% endblock %}


