{% extends "base_window.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'store:index' %}">{% trans 'entries'|capfirst %}</a>
  <a class="w3-bar-item w3-button" href="{% url 'store:group_add' %}"><i class="fa fa-plus fa-lg"></i></a>
{% endblock %}

{% block win_content %}
  Total: {{ total }}
  <p>
  <table class="w3-table-all w3-hoverable w3-card-4" style="width: 400px;">
    <thead>
      <tr class="w3-theme-l3">
        <th>{% trans 'code'|capfirst %}</th>
        <th>{% trans 'name'|capfirst %}</th>
        <th>{% trans 'records'|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td><a href="{% url 'store:group_form' group.id %}">{{ group.code }}</a></td>
        <td><a href="{% url 'store:group_form' group.id %}">{{ group.name }}</a></td>
        <td class="w3-center"><a href="{% url 'store:index' %}?group={{ group.id }}&q=">{{ group.qty }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
