{% extends "base_window.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="w3-dropdown-click">
    <button onclick="ShowMenu('settings')" class="w3-button"><i class="fa fa-cog fa-lg"></i></button>
    <div id="settings" class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button w3-hover-dark" href="{% url 'store:group_list' %}">{% trans 'groups'|capfirst %}</a>
      <a class="w3-bar-item w3-button w3-hover-dark" href="{% url 'store:param_form' %}">{% trans 'parameters'|capfirst %}</a>
    </div>
  </div>    
  <a class="w3-bar-item w3-button" href="{% url 'store:entry_add' %}"><i class="fa fa-plus fa-lg"></i></a>
  <form action="{% url 'store:index' %}" method="GET">
    <div class="w3-bar-item rok-field">{{ filter.group }}</div>
    <input type="text" class="w3-bar-item w3-input" placeholder="{% trans 'search'|capfirst %}..." name="q" value="{{ request.GET.q }}">
    <button class="w3-bar-item w3-button w3-theme-d1"><i class="fa fa-search fa-lg"></i></button>
  </form>
{% endblock %}

{% block win_content %}

  Total: {{ total }}<br>

  <table class="w3-table-all w3-hoverable w3-card-4" style="width:1200px">
    <thead>
      <tr class="w3-theme-l3">
        <th>{% trans 'title'|capfirst %}</th>
        <th>{% trans 'username'|capfirst %}</th>
        <th>{% trans 'value'|capfirst %}</th>
        <th>{% trans 'url'|capfirst %}</th>
        <th>{% trans 'group'|capfirst %}</th>
        <th>{% trans 'notes'|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in page_obj %}
      <tr>
        <td><a href="{% url 'store:entry_form' entry.id %}?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.number }}">
            {{ entry.title }}</a></td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.value }}</td>
        <td><a href="{% url 'store:entry_form' entry.id %}?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.number }}">
            {{ entry.url }}</a></td>
        <td><a href="{% url 'store:entry_form' entry.id %}?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.number }}">
            {{ entry.group.name }}</a></td>
        <td class="w3-center"><a href="{% url 'store:entry_form' entry.id %}?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.number }}">
            {{ entry.have_notes }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="w3-button" href="?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page=1">&laquo;</a>
            <a class="w3-button" href="?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="current active w3-button w3-theme-l1">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a class="w3-button" href="?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a class="w3-button" href="?group={% if filter.group.value %}{{ filter.group.value }}{% endif %}&q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
  </div>
  <p>
  {% if site_header == 'localhost:8000' %}
    <div class="w3-card-4 w3-border" style="width:200px">
      <table class="w3-table-all">
        <thead>
          <tr class="w3-theme-l3"> <th>{% trans 'table'|capfirst %}</th> <th>{% trans 'records'|capfirst %}</th> </tr>
        </thead>
        <tbody>
          {% for table, qty in stat %}
            <tr> <td>{{ table }}</td> <td>{{ qty }}</td> </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{{ imp_errors }}

<p>
{{ imp_data }}

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    function ShowMenu(menu_id) {
      var x = document.getElementById(menu_id);
      if (x.className.indexOf("w3-show") == -1) { 
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
{% endblock %}
