{% extends "base_sidebar.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
  <link rel="manifest" href="{% static 'todo/json/manifest.json' %}">
{% endblock %}

{% block aside_content %}
  <ul class="nav-menu">
    <li class="important{% if restriction == 'actual' %} selected{% endif %}"><a class="fix" href="{% url 'store:actual' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'todo/icon/myday.png' %}">
          {% trans 'actual'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ actual_qty }}</div>
      </a></li>
    <li{% if restriction == 'waste' %} class="selected"{% endif %}><a class="fix" href="{% url 'store:waste' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'todo/icon/completed.png' %}">
          {% trans 'waste'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ waste_qty }}</div>
      </a></li>
    <li{% if restriction == 'all' %} class="selected"{% endif %}><a class="fix" href="{% url 'store:all' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/all.png' %}">
          {% trans 'all'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ all_qty }}</div>
      </a></li>
    <li{% if restriction == 'default' %} class="selected"{% endif %}><a class="fix" href="{% url 'store:param_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/param.png' %}">
          {% trans 'default options'|capfirst %}
        </div>
      </a></li>
  </ul>
  
  <div class="nav-last-static-list"></div>
  
  <ul class="nav-menu">
    {% for node in groups %}
      <li class="grp-item">
        {% if node.is_list %}
          <a href="{% url 'todo:list_items' node.id %}">
            <div class="nav-menu-item-left">
              <img class="level-{{ node.level }}" src="{% static 'rok/icon/list.png' %}">
              <div>{{ node.name }}</div>
            </div>
          </a>
          <div class="nav-menu-qty">
            {{ node.qty }}
          </div>
        {% else %}
          <a href="{% url 'todo:group_form' node.id %}">
            <div class="nav-menu-item-x1">
              <img class="level-{{ node.level }}" src="{% static 'rok/icon/group.png' %}">
              <div class="nav-menu-item-x2">{{ node.name }}</div>
            </div>
          </a>
          <div class="nav-menu-item-right">
            <a href="{% url 'todo:toggle_group' node.id %}">
              {% if node.is_open %}
                <img class="img-20_20" src="{% static 'rok/icon/direct-down.png' %}">
              {% else %}
                <img class="img-20_20" src="{% static 'rok/icon/direct-left.png' %}">
              {% endif %}
            </a>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <form method="post" class="grp-actions">{% csrf_token %}
    <button type="submit" name="list-add" class="default lst-add" label="create list"><img class="img-20_20" src="{% static 'rok/icon/add.png' %}"></button>
    <input type="text" class="add-grp" placeholder="{% trans 'create list or group'|capfirst %}" name="name">
    <button type="submit" name="group-add" class="default grp-add" label="create group"><img class="img-20_20" src="{% static 'rok/icon/group-add.png' %}"></button>
  </form>
{% endblock %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ form_title }}
      </div>
    </div>
  </div>
  
  <form method="post" class="tree">{% csrf_token %}
    <div class="section">
      {% if form.ln.errors %}
        <div class="row">
          <div class="field-error">{{ form.ln.errors }} - ln</div>
        </div>
      {% endif %}
      <div class="row" id="id_options">
        <div class="col">
          <div class="w3-panel">{{ form.ln.label_tag }} {{ form.ln }}
            <button type="submit" name="param-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
          </div>
          <div class="w3-panel">{{ form.uc }} {{ form.uc.label_tag }}</div>
          <div class="w3-panel">{{ form.lc }} {{ form.lc.label_tag }}</div>
          <div class="w3-panel">{{ form.dg }} {{ form.dg.label_tag }}</div>
          <div class="w3-panel">{{ form.sp }} {{ form.sp.label_tag }}</div>
          <div class="w3-panel">{{ form.br }} {{ form.br.label_tag }}</div>
          <div class="w3-panel">{{ form.mi }} {{ form.mi.label_tag }}</div>
          <div class="w3-panel">{{ form.ul }} {{ form.ul.label_tag }}</div>
          <div class="w3-panel">{{ form.ac }} {{ form.ac.label_tag }}</div>
        </div>
        <input type="hidden" name="default_params" value="{{ default_params }}" id="id_default_params">
      </div>
    </div> <!-- section -->
  </form>
{% endblock %}

{% block article_content %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}


