{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
  <form method="post" class="item-form px-2" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
    {% include "base/title.html" %}
    {% include "base/form_errors.html" %}

    <div class="row">
      <div class="col">
        <div class="">{{ form.ln.label_tag }}{{ form.ln }}</div>
        <div class="">{{ form.un.label_tag }}{{ form.un }}</div>
      </div>
      <div class="col">
        <div class="">{{ form.uc.label_tag }}{{ form.uc }}</div>
        <div class="">{{ form.lc.label_tag }}{{ form.lc }}</div>
        <div class="">{{ form.dg.label_tag }}{{ form.dg }}</div>
        <div class="">{{ form.sp.label_tag }}{{ form.sp }}</div>
          </div>
      <div class="col">
        <div class="">{{ form.br.label_tag }}{{ form.br }}</div>
        <div class="">{{ form.mi.label_tag }}{{ form.mi }}</div>
        <div class="">{{ form.ul.label_tag }}{{ form.ul }}</div>
        <div class="">{{ form.ac.label_tag }}{{ form.ac }}</div>
          </div>
    </div>

    <div class="d-flex justify-content-evenly mt-3 pb-5">
      <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
        {% trans 'save'|capfirst %}
      </button>
    </div>
  </form>
{% endblock %}

