{% extends "hier/page.html" %}
{% load static i18n %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <h3>
        {{ form_title }}
      </h3>
    </div>
  </div>
  
  <form method="post">{% csrf_token %}
    <div class="section">
      {% if form.ln.errors %}
        <div class="field-error">{{ form.ln.errors }} - ln</div>
      {% endif %}
      <div id="id_options" class="row">
        {{ form.ln.label_tag }} {{ form.ln }}
        <button type="submit" name="param-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
      </div>
      <div class="row">{{ form.uc }} {{ form.uc.label_tag }}</div>
      <div class="row">{{ form.lc }} {{ form.lc.label_tag }}</div>
      <div class="row">{{ form.dg }} {{ form.dg.label_tag }}</div>
      <div class="row">{{ form.sp }} {{ form.sp.label_tag }}</div>
      <div class="row">{{ form.br }} {{ form.br.label_tag }}</div>
      <div class="row">{{ form.mi }} {{ form.mi.label_tag }}</div>
      <div class="row">{{ form.ul }} {{ form.ul.label_tag }}</div>
      <div class="row">{{ form.ac }} {{ form.ac.label_tag }}</div>
      <input type="hidden" name="default_params" value="{{ default_params }}" id="id_default_params">
    </div> <!-- section -->
  </form>
{% endblock %}

{% block article_content %}
{% endblock %}


