{% extends "core/item_detail.html" %}
{% load static i18n %}

{% block item_detail %}

    <div class="row mb-3">
        <div class="col">{{ form.name.label_tag }}{{ form.name }}</div>
    </div>

    <div class="row mb-3">
        <div class="col">{{ form.start }}</div>
        <div class="col">{{ form.months.label_tag }}{{ form.months }}</div>
        <div class="col">
            <label for="id_stop">{% trans 'stop warranty date:'|capfirst %}</label>
            <input type="date" name="stop" value="{{ form.stop.value|date:'Y-m-d' }}" class="form-control" readonly id="id_stop">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div>{{ form.grp.errors }}{{ form.grp.label_tag }}{{ form.grp }}</div>
            <div>{{ form.info.errors }}{{ form.info.label_tag }}{{ form.info }}</div>
        </div>
        <div class="col">
            <div>{{ form.categories.errors }}{{ form.categories.label_tag }}{{ form.categories }}</div>
            <div>{{ form.url.errors }}{{ form.url.label_tag }}{{ form.url }}</div>
            <div>{{ form.upload.errors }}{{ form.upload.label_tag }}{{ form.upload }}</div>
        </div>
    </div>

  {% include "widgets/url_list.html" %}
  {% include "widgets/attachments.html" %}

{% endblock %}
