.search
{ 
  display: flex;
  flex-direction: column;
}

.search .statistics {
  margin-bottom: 3rem;
}

.search .results,
.search .results .element .link
{ 
  display: flex;
  flex-direction: column;
}

.search .results .element {
  margin-bottom: 2rem;
}

.link .determinant,
.determinant .app,
.determinant .entity,
.determinant .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app .icon, .entity .icon, .container .icon {
  margin-right: 0.5rem;
}

.entity .icon, .container .icon {
  margin-left: 1rem;
}

.value .name {
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 3px;
  color: #1a0dab;
}

.element .info {
  margin-top: 0.5rem;
}