{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
{% include "base/title.html" %}
<form method="post" class="w-100 px-2 item-form" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
  {% include "base/form_errors.html" %}

    <div class="input-group flex-wrap mb-3">
      <div>{{ form.event }}</div>
      <div>{{ form.name }}</div>
      <div>{{ form.qty }}</div>
      <div>{{ form.price }}</div>
      <div>{{ form.rate }}</div>
      <div>{{ form.rate_2 }}</div>
      <div>{{ form.usd }}</div>
      <div>{{ form.eur }}</div>
      <div>{{ form.kontr }}</div>
      <div>{{ form.info }}</div>
      <div class="col-sm">{{ form.categories.label_tag }}{{ form.categories }}</div>
      <div>{{ form.url.label_tag }}{{ form.url }}</div>
    </div>
      

    {% include "widgets/url_list.html" %}
    {% include "widgets/attachments.html" %}

    <div class="d-flex justify-content-evenly mt-3 pb-5">
      <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
        {% trans 'save'|capfirst %}
      </button>
      <button type="button" name="form_close" class="btn btn-secondary bi-x" onclick="closeForm()" title="{% trans 'close edit form'|capfirst %}">
        {% trans 'close'|capfirst %}
      </button>
      <button type="button" name="item_delete" class="btn btn-danger bi-trash" onclick="delItemConfirm('{{config.app}}', '{{ban_on_deletion}}', '{{delete_question}} {{title}}?')" title="{% trans 'delete record'|capfirst %}">
        {% trans 'delete'|capfirst %}
      </button>
    </div>
  </form>
{% endblock %}

