{% extends "base/item_detail.html" %}
{% load static i18n %}

{% block item_detail %}
    {% if summary %}
      <div class="mb-3">
        {% for item in summary %}
          <span class="sort {{ item.color }}">
            <i class="sort__icon bi-star"></i>
            <span class="sort__name">{{ item.value }}</span>
          </span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row mb-3">
      <div class="col">{{ form.grp.label_tag }}{{ form.grp }}</div>
    </div>
    <div class="row mb-3">
      <div class="col">{{ form.event }}</div>
      <div class="col">{{ form.name.label_tag }}{{ form.name }}</div>
    </div>
    <div class="row mb-3">
      <div class="col">{{ form.expen_qty.errors }}{{ form.expen_qty.label_tag }}{{ form.expen_qty }}</div>
      {% if expen_byn %}
        <div class="col">{{ form.expen_price.errors }}{{ form.expen_price.label_tag }}{{ form.expen_price }}</div>
        <div class="col">
          <label for="id_amount_nc">{% trans 'Amount in NC:' %}</label>
          <input type="text" name="amount_nc" value="{{ amount_nc|escape }}" class="form-control" readonly id="id_amount_nc">
        </div>
      {% endif %}
      {% if expen_usd %}
        <div class="col">{{ form.expen_rate_usd.errors }}{{ form.expen_rate_usd.label_tag }}{{ form.expen_rate_usd }}</div>
        <div class="col">{{ form.expen_usd.errors }}{{ form.expen_usd.label_tag }}{{ form.expen_usd }}</div>
      {% endif %}
      {% if expen_eur %}
        <div class="col">{{ form.expen_rate_eur.errors }}{{ form.expen_rate_eur.label_tag }}{{ form.expen_rate_eur }}</div>
        <div class="col">{{ form.expen_eur.errors }}{{ form.expen_eur.label_tag }}{{ form.expen_eur }}</div>
      {% endif %}
      {% if expen_gbp %}
        <div class="col">{{ form.expen_rate_gbp.errors }}{{ form.expen_rate_gbp.label_tag }}{{ form.expen_rate_gbp }}</div>
        <div class="col">{{ form.expen_gbp.errors }}{{ form.expen_gbp.label_tag }}{{ form.expen_gbp }}</div>
      {% endif %}
    </div>
    <div class="row mb-3">
      <div class="col">
        <div>{{ form.expen_kontr.errors }}{{ form.expen_kontr.label_tag }}{{ form.expen_kontr }}</div>
        <div>{{ form.info.errors }}{{ form.info.label_tag }}{{ form.info }}</div>
      </div>
      <div class="col">
        <div>{{ form.categories.errors }}{{ form.categories.label_tag }}{{ form.categories }}</div>
        <div>{{ form.url.errors }}{{ form.url.label_tag }}{{ form.url }}</div>
        <div>{{ form.upload.errors }}{{ form.upload.label_tag }}{{ form.upload }}</div>
          </div>
    </div>

    {% include "widgets/url_list.html" %}
    {% include "widgets/attachments.html" %}
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/expen.js' %}"></script>
{% endblock %}
