<!DOCTYPE html>
<html lang="en">
<title>Задачи</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="import" href="/_menu.html">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<script>
  var link = document.querySelector('link[rel=import]');
  var content = link.import.querySelector('#intro-menu');
  document.body.appendChild(content.cloneNode(true));
</script>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Интересности</h1>
        <p><a href="https://www.youtube.com/watch?v=Vit1nCBEFag">Презентация Полного Автопилота Tesla</a></p>
        <p><a href="https://habr.com/ru/company/ods/blog/487172/">Открытый курс «Deep Learning in NLP»</a></p>
        <p><a href="https://habr.com/ru/company/ruvds/blog/486686/">О реализации библиотеки для глубокого обучения на Python</a></p>
        <p><a href="https://www.feistyduck.com/library/openssl-cookbook/online/ch-openssl.html">OpenSSL Cookbook</a></p>
        <p><a href="https://www.ssllabs.com/ssltest/analyze.html?d=rusel.by">Рейтинг SSL</a></p>
        <p><a href="https://editrocket.com/articles/python_apache_windows.html">Как настроить Apache httpd на использование указанного Python-а</a></p>
        <p><a href=""></a></p>
    </div>
  </div>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
