{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
    {% for src in sources %}
        <h3>{{ src.name }}</h3>
        <h4>Etalon</h4>
        <table>
            <thead>
                <tr>
                    <td class="px-2">Age</td>
                    <td class="px-2">Mode</td>
                    <td class="px-2">Etalon</td>
                    <td class="px-2">Range</td>
                    <td class="px-2">Valid</td>
                </tr>
            </thead>
            <tbody>
                {% for x in src.arch_data %}
                    <tr>
                        <td class="px-2">{{ x.age }}</td>
                        <td class="px-2">{{ x.mode }}</td>
                        <td class="px-2">{{ x.name }}</td>
                        <td class="px-2">{{ x.min_range }}-{{ x.max_range }}</td>
                        <td class="px-2">{{ x.valid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>Fact</h4>
        <ul>
            {% for x in src.fact_arch %}
                <li style="{% if not x.valid %} color: red;{% endif %}">{{x.name}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
