{% extends "core/page_content.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/form.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/widgets.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  <form method="post" class="item-form px-2" enctype="multipart/form-data" id="article_form">{% csrf_token %}
    {% include "core/title.html" %}
    {% include "core/form_errors.html" %}

    {{ form }}

    <div class="d-flex justify-content-evenly align-items-center">
      <a href="{% url 'account:avatar' %}" class=" mb-3">
        <img src="{{ avatar_url }}" class="avatar-preview" title="{% trans 'change avatar'|capfirst %}">
      </a>
  
      <div class="d-flex flex-wrap justify-content-evenly mt-3 pb-5">
        <button type="button" name="password_change" class="btn btn-warning bi-key m-1" onclick="changePassword()" title="{% trans 'change password'|capfirst %}">
          {% trans 'change password'|capfirst %}
        </button>
        <button type="submit" name="item_save" id="id_submit" class="btn btn-primary bi-save m-1" title="{% trans 'save changes'|capfirst %}">
          {% trans 'save'|capfirst %}
        </button>
        <button type="submit" name="form_close" id="id_submit" class="btn btn-secondary bi-x m-1" title="{% trans 'save changes and close profile form'|capfirst %}">
          {% trans 'close'|capfirst %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
