{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<script language="javascript" type="text/javascript">
  
  function navigate()
  {
    alert('nav');
  }

</script>

<div id="header">
</div>

<nav id="menu">
  <ul>
    {% for v in views %}
      <li id="menuitem">
        <span class="navIcon"></span>
        <span class="navItem"><a href="/task/test/{{v.id}}">{{ v.name }}</a></span>
      </li>
    {% endfor %}
  </ul>
</nav>

<div id="content">
{{form}}
</div>

<div id="footer">
</div>

{% endblock %}
