@media (min-width:601px) {
  aside.vis {
    display: flex;
    box-shadow: none;
    position: static;
  }
  aside.hid { display: flex; }
  main.with_article { width: calc(100vw - 340px - 340px); }
  main.without_article { width: calc(100vw - 340px); }
  article.vis {
    box-shadow: none;
    position: static;
  }
  article.hid { display: none; }
  .desktop-only { display: block; }
  .desktop-only.hid { display: none; }
  .phone-only { display: none; }
}

@media (max-width:600px) {
  aside {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.15), 5px 0px 10px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 48px;
    left: 0px;
  }
  aside.vis { display: flex; }
  aside.hid { display: none; }
  main { width: 100vw; }
  article.vis {
    display: flex;
    position: absolute;
    top: 48px;
    right: 0px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.15), -5px 0px 10px rgba(0, 0, 0, 0.05);
  }
  article.hid { display: none; }
  .desktop-only { display: none; }
  .phone-only { display: block; }
  .phone-only.hid { display: none; }
}


