.bd-navbar {
  background-color: #417690 !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  color: #666;
}

a:link, a:visited {
  text-decoration: none;
}

.nav-link:hover {
  background-color: #d7e3eb;
}

.inp-300 {
  width: 300px; 
  border: 0; 
  padding: 5px;
  margin-top: 5px;
}

p.errornote {
  color: #ba2121;
}

ul.errorlist {
  color: #ba2121;
  list-style-type: none;
}

.form-control.datetime {
  width: 200px;
}

.form-control.select {
  appearance: auto;
}

textarea.form-control {
  height: 100px;
}

.item-form {
  background-color: lavender;
}