.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  color: #666;
}

a:link, a:visited {
  //color: #447e9b;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #d7e3eb;
}

.content-title {
  font-size: 2rem;
  padding: 10px 20px;
}