.nav-link:hover {
    background-color: inherit !important;
}

.nav-link .openable {
    font-weight: 400;
}

aside .nav-link.active {
    background-color: #afc6d7 !important;
    border-radius: 0.15rem;
}

aside .nav-link:hover {
    background-color: #d7dfe6 !important;
}

.bg-primary {
    background-color: #7e94a5 !important;
}

.groups-item-icon {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
}

.groups-item-toggle-icon {
    width: 20px;
    height: 20px;
}

.level-0 { margin-left: 0px; }
.level-1 { margin-left: 10px; }
.level-2 { margin-left: 20px; }
.level-3 { margin-left: 30px; }
.level-4 { margin-left: 40px; }
.level-5 { margin-left: 50px; }
.level-6 { margin-left: 60px; }
