main .list-content {
    display: flex;
    flex-direction: column;
    background-color: #d1e7dd !important;
    width: 100% !important;
    margin:0 auto;
}

main .content-list {
    min-height: 300px;
    max-height: 500px;
    list-style-type: none;
    padding: 0 15px;
    overflow: auto;
}
.content-list__item {
    display: flex !important;
    justify-content: space-between !important;
    min-height: 50px;
    margin-bottom: 0.25rem !important;
    border-radius: 0.25rem;
    background-color: white;
}

.content-list__item-left-icon {
    cursor: pointer;
    padding: 17px;
}

.content-list__item-container {
    display: flex;
    min-height: 50px;
    width: 100%;
}

.content-list__item-descr {
    display: flex !important;
}

.content-list__item-right-icon {
    cursor: pointer;
    padding: 17px;
}

.add-form {
    display: flex !important;
    position: relative;
}

.add-form__button {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 20px 15px;
    padding: 17px;
    cursor: pointer;
}

.add-form__button:hover {
    background-color: rgba(30, 71, 53, 0.671);
}

.add-form__input {
    height: 50px;
    width: 100%;
    margin: 20px 15px;
    padding-left: 60px;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    background-color: rgba(43, 99, 75, 0.671);
    color: white;
}

.add-form__input::placeholder {
    color: white;
    opacity: 0.5;
}
