{% extends "v2_hier/list.html" %}
{% load static i18n %}

{% block actions %}
  <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'v2/rok/icon/add-gray.png' %}">{% trans 'add new service'|capfirst %}</button>
{% endblock %}

{% block article_content %}
  <div class="header">
    <!-- Repl.odometr -->
    {% if form.odometr.errors %}
      <div class="row">
        <div class="field-error">{{ form.odometr.errors }}</div>
      </div>
    {% endif %}
    <div class="row">
      <div class="editable-content full-width">
        <div class="labeled-input">
          <div class="label">{{ form.odometr.label_tag }}</div>
          <div class="input">{{ form.odometr }}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="body">

    <div class="section">

      <!-- Repl.dt_chg -->
      <div class="section-item" id="remind-select">
        <div class="section-inner">
          {{ form.dt_chg.label_tag }}
          {{ form.dt_chg }}
        </div>
      </div>

      <!-- Repl.part -->
      {% if form.part.errors %}
        <div class="row">
          <div class="field-error">{{ form.part.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="editable-content full-width">
          <div class="labeled-input">
            <div class="label">{{ form.part.label_tag }}</div>
            <div class="input">{{ form.part }}</div>
          </div>
        </div>
      </div>

      <!-- Repl.manuf -->
      {% if form.manuf.errors %}
        <div class="row">
          <div class="field-error">{{ form.manuf.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="editable-content full-width">
          <div class="labeled-input">
            <div class="label">{{ form.manuf.label_tag }}</div>
            <div class="input">{{ form.manuf }}</div>
          </div>
        </div>
      </div>

      <!-- Repl.part_num -->
      {% if form.part_num.errors %}
        <div class="row">
          <div class="field-error">{{ form.part_num.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="editable-content full-width">
          <div class="labeled-input">
            <div class="label">{{ form.part_num.label_tag }}</div>
            <div class="input">{{ form.part_num }}</div>
          </div>
        </div>
      </div>

      <!-- Repl.descr -->
      {% if form.descr.errors %}
        <div class="row">
          <div class="field-error">{{ form.descr.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="editable-content full-width">
          <div class="labeled-input">
            <div class="label">{{ form.descr.label_tag }}</div>
            <div class="input">{{ form.descr }}</div>
          </div>
        </div>
      </div>

      <!-- Repl.comment -->
      <div class="section-item">
        <div class="section-inner">
          <div class="field-error">{{ form.comment.errors }}</div>
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="label">{{ form.comment.label_tag }}</div>
              <div class="input">{{ form.comment }}</div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- section -->

  </div> <!-- body -->
{% endblock %}
