{% load static i18n %}

<div class="steps">
  <div class="step-list" id="step_list">
    {% for step in steps %}
      <div class="step-field-group" id="step_field_group_{{ step.id }}">
        <button type="button" class="field-icon" onclick="stepComplete({{ step.id }})">
          {% if step.completed %}
            <img src="{% static 'v2/todo/icon/step-complete.png' %}">
          {% else %}
            <img src="{% static 'v2/todo/icon/step-uncomplete.png' %}">
          {% endif %}
        </button>
        <div class="step-name">
          <div class="editable-content full-width auxiliary-element">
            <input type="text" id="step_{{ step.id }}" onchange="stepChange({{ step.id }})" value="{{ step.name }}" maxlength="200" required="" id="id_step_edit_name" class="{% if step.completed %}completed{% endif %}">
          </div>
        </div>
        <button type="button" class="field-icon" onclick="stepDelete({{ step.id }})"><img src="{% static 'v2/rok/icon/delete.png' %}"></button>
      </div>
    {% endfor %}
  </div>

  <!-- ADD Step.name -->
  <div class="field-error">{{ form.name.errors }}</div>
  <div class="step-field-group">
    <button type="button" class="field-icon" onclick="stepAdd()"><img src="{% static 'v2/todo/icon/step-add.png' %}"></button>
    <div class="step-name">
      <div class="editable-content full-width auxiliary-element">
        {{ form.add_step }}
      </div>
    </div>
  </div>
</div> <!-- steps -->
