{% load static i18n %}

<!-- Task.url -->
<div class="section-item">
  <div class="section-inner">
    <div class="section-icon">
      <img src="{% static 'v2/rok/icon/click.png' %}">
    </div>
    {% if form.url.value %}
      <div class="section-content">
        <div class="section-title">
          <input type="hidden" name="url" value="{{ form.url.value }}" id="id_url">
          <a href="{{ form.url.value }}">{{ url_cutted }}</a>
        </div>
      </div>
      <button type="submit" name="url_delete" class="field-icon"><img src="{% static 'v2/rok/icon/delete.png' %}"></button>
    {% else %}
      {{ form.url }}
    {% endif %}
  </div>
</div>
