{% extends "proj/proj_aside.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title }}
      </div>
      <div class="main-title-subline">
        {{ search_info }}
      </div>
    </div>
    <div class="dropdown">
      <button class="list-sort dropbtn" onclick="ShowMenu('sort_menu')">
        <img src="{% static 'todo/icon/sort.png' %}">
        {% trans 'sort'|capfirst %}
      </button>
      <form method="post" class="sort-actions">{% csrf_token %}
        <div class="dropdown-content pos-sort" id="sort_menu">
          <div class="dropdown-content-title">{% trans 'sort order'|capfirst %}</div>
          <button type="submit" class="dropdown-content-item" name="sort-name">    <img src="{% static 'todo/icon/important.png' %}"> {% trans 'by name'|capfirst %}                   </button>
          <button type="submit" class="dropdown-content-item" name="sort-created"> <img src="{% static 'todo/icon/created.png' %}">   {% trans 'by creation date'|capfirst %}          </button>
          <button type="submit" class="dropdown-content-item" name="sort-lmod">    <img src="{% static 'todo/icon/created.png' %}">   {% trans 'by last modification date'|capfirst %} </button>
        </div>
      </form>

      <div class="sort">
        {% if sort_mode %}
        <form method="post" class="sort-actions sort">{% csrf_token %}
          <button type="submit" name="sort-direction">
            {% if sort_dir %}
              <img class="img-20_20" src="{% static 'rok/icon/direct-down.png' %}">
            {% else %}
              <img class="img-20_20" src="{% static 'rok/icon/direct-up.png' %}">
            {% endif %}
          </button>
          <span>{{ sort_mode }}</span>
          <button type="submit" name="sort-delete">
            <img class="img-20_20" src="{% static 'rok/icon/delete.png' %}">
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}"></button>
    <input type="text" name="item_name_add" maxlength="200" required="" id="id_item_name_add" placeholder="{% trans 'add new project'|capfirst %}">
  </form>
  
  <div class="tree">
    <ul>
      {% for item in page_obj %}
        <li>
          <a href="{% url 'proj:dirs_form' item.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}" class="{% if item.id == item_id %}current{% endif %}">
            <div class="tree-item">
              <form method="post" class="icon">{% csrf_token %}
                <button type="submit" name="item-active" value="{{ item.id }}">
                  {% if item.active %}
                    <img class="img-20_20" src="{% static 'todo/icon/complete.png' %}">
                  {% else %}
                    <img class="img-20_20" src="{% static 'todo/icon/uncomplete.png' %}">
                  {% endif %}
                </button>
              </form>
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="descr">{{ item.get_info }}</div>
              </div>
            </div>
            <div class="icon"> </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/dropdown-menu.js' %}"></script>
{% endblock %}
