{% extends "base_sidebar.html" %}
{% load static i18n %}

{% block aside_content %}
  <ul class="nav-menu">
    <li{% if cur_view == 'dirs' %} class="selected"{% endif %}><a class="fix" href="{% url 'proj:dirs_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/car.png' %}">
          {% trans 'projects'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ dirs_qty }}</div>
      </a></li>
    <li{% if cur_view == 'proj' %} class="selected"{% endif %}><a class="fix" href="{% url 'proj:proj_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/gas.png' %}">
          {% trans 'expenses'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ proj_qty }}</div>
      </a></li>
  </ul>
{% endblock %}

