{% extends "base_list.html" %}

{% block win_content %}
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Дата</th> <th>Количество</th> <th>Цена</th> <th>Курс</th> <th>USD</th> <th>Контрагент</th> <th>Комментарий</th> </tr>
    </thead>
    <tbody>
      {% for proj in page_obj %}
      <tr>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.date|date:"d.m.Y" }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.kol    }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.price  }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.course }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.usd    }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.kontr  }}</a></td>
        <td><a href="{% url 'proj:proj_form' proj.id %}">{{ proj.text   }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
