{% extends "hier/list.html" %}
{% load static %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  <div class="fields">
    <form method="post">{% csrf_token %}
      <button type="hidden" name="item-save"></button>

      <div class="header">
        {% include "hier/form_errors.html" %}
        {% if form.name.errors %} 
          <div class="row">
            <div class="field-error">{{ form.name.errors }}</div>
          </div>
        {% endif %}
        <div class="row label">{{ form.name.label_tag }}</div>
        <div class="row">
          <div class="section-item">
            <div class="editable-content full-width">
              {{ form.name }}
            </div>
            <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
          </div>
        </div>
      </div>

      <div class="body">
        <div class="section">

          {% if form.tot_byn.errors %}
            <div class="field-error">{{ form.tot_byn.errors }}</div>
          {% endif %}
          <div class="row">
            <div class="label">{{ form.tot_byn.label_tag }}</div>
            <div class="input summ-field">{{ form.tot_byn }}</div>
          </div>

          {% if form.tot_usd.errors %}
            <div class="field-error">{{ form.tot_usd.errors }}</div>
          {% endif %}
          <div class="row">
            <div class="label">{{ form.tot_usd.label_tag }}</div>
            <div class="input summ-field">{{ form.tot_usd }}</div>
          </div>

          {% if form.tot_eur.errors %}
            <div class="field-error">{{ form.tot_eur.errors }}</div>
          {% endif %}
          <div class="row">
            <div class="label">{{ form.tot_eur.label_tag }}</div>
            <div class="input summ-field">{{ form.tot_eur }}</div>
          </div>

        </div>
      </div>
    </form>
  </div>
{% endblock %}
