{% extends "hier/list.html" %}
{% load static %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  <div class="fields">
    <form method="post">{% csrf_token %}
      <button type="hidden" name="item-save"></button>

      <div class="header">
        <div class="section-item">
          {% include "hier/form_errors.html" %}
        </div>

        <div class="row">
          {{ form.name.label_tag }}
        </div>
        {% if form.name.errors %}
          <div class="row">
            <div class="field-error">{{ form.name.errors }}</div>
          </div>
        {% endif %}
        <div class="row editable-content full-width main-element">
          {{ form.name }}
          <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        </div>
      </div>

      <div class="body">
      </div>
    </form>
  </div>
{% endblock %}
