{% extends "apart/apart_list.html" %}
{% load static i18n %}

{% block article_content %}
    <div class="fields">
      <form method="post" class="header">{% csrf_token %}
        {% if form.errors %}
          <div class="fieldset">
            <p class="errornote"> {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %} </p> 
          </div>
        {% endif %}
        {% if form.non_field_errors %}
          <div class="fieldset">
          {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
          </div>
        {% endif %}
        <div class="field-group">
          <button type="submit" name="apart-active" class="field-icon">
            {% if item_active %}
              <img src="{% static 'todo/icon/complete.png' %}">
            {% else %}
              <img src="{% static 'todo/icon/uncomplete.png' %}">
            {% endif %}
          </button>
          <div class="article-name">
            <div class="editable-content main-element">
              {{ form.name.errors }}
              <input type="text" name="apart_name_edit" value="{{ form.name.value }}" maxlength="200" required="" id="id_apart_name_edit" placeholder="{% trans 'apartment name'|capfirst %}">
            </div>
          </div>
          <button type="submit" name="apart-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        </div>
      </form>

      <div class="body">
        <div class="section">
          <form class="section-inner"method="post">{% csrf_token %}
            <div class="section-item">
              <div class="editable-content auxiliary-element">
                <input type="text" name="apart_addr_edit" value="{{ form.addr.value }}" maxlength="200" required="" id="id_apart_addr_edit" placeholder="{% trans 'apartment address'|capfirst %}">
              </div>
              <button type="submit" name="apart-addr" class="">
                <div class="section-icon">
                  <img src="{% static 'rok/icon/save.png' %}">
                </div>
              </button>
            </div>

            <div class="section-item">
              <button type="submit" name="apart-gas" class="section-inner-click">
                <div class="section-inner">
                  <div class="section-icon">
                    <img src="{% static 'todo/icon/myday.png' %}">
                  </div>
                  <div class="section-content">
                    <div class="section-title{% if form.has_gas.value %} selected{% endif %}">
                      {% if form.has_gas.value %}
                        {% trans 'gas supplied'|capfirst %}
                      {% else %}
                        {% trans 'gas not supplied'|capfirst %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </button>
            </div>

            <div class="section-item">
              <button type="submit" name="apart-ppo" class="section-inner-click">
                <div class="section-inner">
                  <div class="section-icon">
                    <img src="{% static 'rok/icon/cost.png' %}">
                  </div>
                  <div class="section-content">
                    <div class="section-title{% if form.has_ppo.value %} selected{% endif %}">
                      {% if form.has_ppo.value %}
                        {% trans 'Payments to the PoO' %}
                      {% else %}
                        {% trans 'No payments to the PoO' %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
