{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


  <script language="javascript" type="text/javascript">

    bFirst = true; // Самая старая запись
    bLast  = true; // Самая новая запись

    function count_vol(_new, _old)
    {
      var i_vol = 0;
      i_new = parseInt(document.getElementById('fld_form').elements[_new].value);
      i_old = parseInt(document.getElementById('fld_form').elements[_old].value);

      if (!isNaN(i_new) && !isNaN(i_old))
        i_vol = (i_new - i_old);

      return i_vol;
    }

    var t1, b1, t2, b2, t3;

    function init_tarif(_res)
    {
      switch (_res) 
      {
        case 1: 
          t1 = document.getElementById('fld_form').elements['el_t1'].value;
          b1 = document.getElementById('fld_form').elements['el_b1'].value;
          t2 = document.getElementById('fld_form').elements['el_t2'].value;
          b2 = document.getElementById('fld_form').elements['el_b2'].value;
          t3 = document.getElementById('fld_form').elements['el_t3'].value;
          break;
    
        case 2:
          t1 = document.getElementById('fld_form').elements['gs_t1'].value;
          b1 = document.getElementById('fld_form').elements['gs_b1'].value;
          t2 = document.getElementById('fld_form').elements['gs_t2'].value;
          b2 = document.getElementById('fld_form').elements['gs_b2'].value;
          t3 = document.getElementById('fld_form').elements['gs_t3'].value;
          break;
    
        case 3:
          t1 = document.getElementById('fld_form').elements['wt_t1'].value;
          b1 = document.getElementById('fld_form').elements['wt_b1'].value;
          t2 = document.getElementById('fld_form').elements['wt_t2'].value;
          b2 = document.getElementById('fld_form').elements['wt_b2'].value;
          t3 = document.getElementById('fld_form').elements['wt_t3'].value;
          break;

    
        case 4:
          t1 = document.getElementById('fld_form').elements['wk_t1'].value;
          b1 = document.getElementById('fld_form').elements['wk_b1'].value;
          t2 = document.getElementById('fld_form').elements['wk_t2'].value;
          b2 = document.getElementById('fld_form').elements['wk_b2'].value;
          t3 = document.getElementById('fld_form').elements['wk_t3'].value;
          break;

        default:
          t1 = b1 = t2 = b2 = t3 = 0;
      }

      if (isNaN(b1))
        b1 = 0;
    }

    function count_sum(_vol, _res)
    {
      init_tarif(_res);

      var i_sum = 0;
      
      if (!isNaN(_vol))
      {
        if ((b1 == 0) || (_vol <= b1))
          i_sum = _vol * t1;
        else
        {
          i_sum = b1 * t1;
    
          if ((b2 == 0) || (_vol <= b2))
            i_sum += (_vol-b1) * t2;
          else
            i_sum += (b2-b1) * t2 + (_vol-b2) * t3;
        }
      }

      return Math.round(i_sum);
    }

    function get_period_num()
    {
      return get_el('year')*100+get_el('month');
    }
    
    function count_water(_vol, _month, _year)
    {
      var i_sum = 0;

      if (!isNaN(_vol))
      {
        if (get_period_num() < 201508)
          init_tarif(3);
        else
          init_tarif(4);

        var days_in_month = new Date(_year, _month, 0).getDate();
        var bb1 = b1 * days_in_month * 4 / 1000;
        var bb2 = b2 * days_in_month * 4 / 1000;
      
        if ((bb1 == 0) || (_vol <= bb1))
          i_sum = _vol * t1;
        else
        {
          i_sum = bb1 * t1;
    
          if ((bb2 == 0) || (_vol <= bb2))
            i_sum += (_vol-bb1) * t2;
          else
            i_sum += (bb2-bb1) * t2 + (_vol-bb2) * t3;
        }
      }

      return Math.round(i_sum);
    }
    
    function get_el(_name)
    {
      var ret = parseInt(document.getElementById('fld_form').elements[_name].value);
      if (isNaN(ret))
        return 0;

      return ret;
    }

    function addCommas(input) 
    {
      output = input.toString();
      var sRegExp = new RegExp('(-?[0-9]+)([0-9]{3})');
      while(sRegExp.test(output)) 
      {
        output = output.replace(sRegExp, '$1 $2');
      }
      return output;
    }

    function check()
    {
      //alert('check');
      var ele_vol = count_vol('el_new',   'el_old');
      var gas_vol = count_vol('gas_new',  'gas_old');
      var wat_vol = count_vol('cold_new', 'cold_old') + count_vol('hot_new', 'hot_old');

      document.getElementById('ele_vol').innerHTML = addCommas(ele_vol);
      document.getElementById('gas_vol').innerHTML = addCommas(gas_vol);
      document.getElementById('wat_vol').innerHTML = addCommas(wat_vol);

      ele_sum = count_sum(ele_vol, 1);
      gas_sum = count_sum(gas_vol, 2);
      wat_sum = count_water(wat_vol, get_el('month'), get_el('year'));

      document.getElementById('ele_sum').innerHTML = addCommas(ele_sum);
      document.getElementById('gas_sum').innerHTML = addCommas(gas_sum);
      document.getElementById('wat_sum').innerHTML = addCommas(wat_sum);

      var zhir_pay = get_el('ZKX_pay');
      var total_pay = get_el('tv_pay') + get_el('phone_pay') + get_el('ZKX_pay') + get_el('el_pay') + get_el('gas_pay') + get_el('water_pay');
      var total_bill = ele_sum + gas_sum + wat_sum + get_el('tv_tar') + get_el('phone_tar') + get_el('zhirovka');

      if (get_period_num() < 201508)
      {
        zhir_pay = zhir_pay + get_el('hot_pay') + get_el('repair_pay');
        total_pay = total_pay + get_el('hot_pay') + get_el('repair_pay')
        document.getElementById('zhir_pay').innerHTML = addCommas(zhir_pay);
      }

      document.getElementById('tv_debt').innerHTML    = addCommas(get_el('tv_tar')    - get_el('tv_pay'));
      document.getElementById('phone_debt').innerHTML = addCommas(get_el('phone_tar') - get_el('phone_pay'));
      document.getElementById('zhir_debt').innerHTML  = addCommas(get_el('zhirovka')  - zhir_pay);
      document.getElementById('ele_debt').innerHTML   = addCommas(ele_sum             - get_el('el_pay'));
      document.getElementById('gas_debt').innerHTML   = addCommas(gas_sum             - get_el('gas_pay'));
      document.getElementById('wat_debt').innerHTML   = addCommas(wat_sum             - get_el('water_pay'));
      document.getElementById('total_bill').innerHTML = addCommas(total_bill);
      document.getElementById('total_pay').innerHTML = addCommas(total_pay);
      document.getElementById('debt').innerHTML = addCommas(total_bill - total_pay);

      var course = get_el('course');
      var total_usd = 0;
      if (course != 0)
        total_usd = total_bill / course;
      document.getElementById('total_usd').innerHTML = addCommas(Math.round(total_usd, 2));
    }

    function FieldNum(_name, _value)
    {
      var html = '';

      if (bLast && ((_name.indexOf('_old') < 0) || bFirst))
        html += '<td class="fl2"> <input id="ifl2" name="' + _name + '" type="number" value="' + _value + '" onChange="check()" /> </td>';
      else
        html += '<td class="fl3"> <input name="' + _name + '" type="hidden" value="' + _value + '" />' + _value + '</td>';
      document.write(html);
    }

    // расчет должен быть реализован в браузере, чтобы считать сумму при изменении объема ресурса
    function FieldTar(_name, _res)
    {
      init_tarif(_res);

      if ((_res == 3) && ((get_el('year')*100+get_el('month')) >= 201508))
        init_tarif(4);

      var tar = '';
      if (b1 == 0)
        tar = parseFloat(t1);
      else
      {
        tar = parseFloat(t1) + ' до ' + parseFloat(b1) + ' / ';

        if (b2 == 0)
          tar += parseFloat(t2);
        else
          tar += parseFloat(t2) + ' до ' + parseFloat(b2) + ' / ' + parseFloat(t3);
      }

      var html = '';
      html += '<td class="fl3"> <input name="' + _name + '" type="hidden" />' + tar + '</td>';
      document.write(html);
    }

    function FieldDat(_name, _value)
    {
      var html = '';
      
      if (bLast)
        html += '<td class="fl2"> <input id="ifl2" name="' + _name + '" type="date" value="' + _value + '" onChange="check()" /> </td>';
      else
        html += '<td class="fl3"> <input name="' + _name + '" type="hidden" value="' + _value + '" />' + _value + ' </td>';
      
      document.write(html);
    }

  </script>



  <div id="gmenu" class="menu"> <a href="/"> {{ app_text }} </a> | <a href="/apart/tarif/"> {{ tarif_text }} </a> </div>
  <div class="PageTitle"> {{ page_title }} </div>
  <!-- <div class="PageDebug"> DEBUG: {{ debug_text }} </div> -->

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <div class="fieldWrapper"> {{ field.label }} {{ field.errors }} </div>
    {% endif %}
  {% endfor %}


  <form id="fld_form" action="{% url 'apart:apart_edit' form.period.value %}" method="post">
    {% csrf_token %}
  
    <script language="javascript" type="text/javascript">
      bFirst = ({{is_first}}==1);
      bLast  = ({{is_last}}==1); 
    </script>

    {% if form.id.value > 0 %} 
       ID: {{ form.id.value }} &nbsp &nbsp &nbsp
    {% endif %}

    {% if is_last == 1 and is_first == 1 %}
      Период {{ form.month }} {{ form.year }} г.
    {% else %}
      Период {{ s_period }} г.
      <input name="month"      type="hidden" value="{{ form.month.value }}" />
      <input name="year"       type="hidden" value="{{ form.year.value }}" />
      <input name="period_num" type="hidden" value="{{ form.period_num }}" />
    {% endif %}

    <input name="el_t1" type="hidden" value="{{ el_t1 }}" />
    <input name="el_b1" type="hidden" value="{{ el_b1 }}" />
    <input name="el_t2" type="hidden" value="{{ el_t2 }}" />
    <input name="el_b2" type="hidden" value="{{ el_b2 }}" />
    <input name="el_t3" type="hidden" value="{{ el_t3 }}" />

    <input name="gs_t1" type="hidden" value="{{ gs_t1 }}" />
    <input name="gs_b1" type="hidden" value="{{ gs_b1 }}" />
    <input name="gs_t2" type="hidden" value="{{ gs_t2 }}" />
    <input name="gs_b2" type="hidden" value="{{ gs_b2 }}" />
    <input name="gs_t3" type="hidden" value="{{ gs_t3 }}" />

    <input name="wt_t1" type="hidden" value="{{ wt_t1 }}" />
    <input name="wt_b1" type="hidden" value="{{ wt_b1 }}" />
    <input name="wt_t2" type="hidden" value="{{ wt_t2 }}" />
    <input name="wt_b2" type="hidden" value="{{ wt_b2 }}" />
    <input name="wt_t3" type="hidden" value="{{ wt_t3 }}" />

    <input name="wk_t1" type="hidden" value="{{ wk_t1 }}" />
    <input name="wk_b1" type="hidden" value="{{ wk_b1 }}" />
    <input name="wk_t2" type="hidden" value="{{ wk_t2 }}" />
    <input name="wk_b2" type="hidden" value="{{ wk_b2 }}" />
    <input name="wk_t3" type="hidden" value="{{ wk_t3 }}" />

    <table class="fl1"><tbody>
      <tr> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
      <tr> <td></td> <td class="fl3"> Новое </td> <td class="fl3"> Старое </td> <td class="fl3"> Объем </td> <td class="fl3"> Тариф </td> </tr>
      <tr><td class="fl1"> Электро </td>
          <script language="javascript" type="text/javascript">FieldNum('el_new', {{ form.el_new.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('el_old', {{ form.el_old.value }});</script>
          <td class="fl3" id="ele_vol"> </td>
          <script language="javascript" type="text/javascript">FieldTar('el_tar', 1);</script>
      </tr>
      <tr><td class="fl1"> Газ </td>
          <script language="javascript" type="text/javascript">FieldNum('gas_new', {{ form.gas_new.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('gas_old', {{ form.gas_old.value }});</script>
          <td class="fl3" id="gas_vol"> </td>
          <script language="javascript" type="text/javascript">FieldTar('gas_tar', 2);</script>
      </tr>
      <tr><td class="fl1"> Холодная </td>
          <script language="javascript" type="text/javascript">FieldNum('cold_new', {{ form.cold_new.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('cold_old', {{ form.cold_old.value }});</script>
          <td class="fl3" id="wat_vol"> </td>
          <script language="javascript" type="text/javascript">FieldTar('water_tar', 3);</script>
      </tr>
      <tr><td class="fl1"> Горячая </td>
          <script language="javascript" type="text/javascript">FieldNum('hot_new', {{ form.hot_new.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('hot_old', {{ form.hot_old.value }});</script>
          <td></td>  <td></td>
      </tr>
      <tr> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
      <tr> <td></td> <td class="fl3"> Начислено </td> <td class="fl3"> Оплата </td> <td class="fl3"> Долг </td> <td></td> </tr>
      <tr><td class="fl1"> Пок.,Опл. </td>
          <script language="javascript" type="text/javascript">FieldDat('dCounter', '{{ form.dCounter.value }}');</script>
          <script language="javascript" type="text/javascript">FieldDat('dPay',     '{{ form.dPay.value }}');    </script>
          <td></td>  
          <td></td>
      </tr>
      <tr><td class="fl1"> Антена </td>
          <script language="javascript" type="text/javascript">FieldNum('tv_tar', {{ form.tv_tar.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('tv_pay', {{ form.tv_pay.value }});</script>
          <td class="fl3" id="tv_debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Телефон </td>
          <script language="javascript" type="text/javascript">FieldNum('phone_tar', {{ form.phone_tar.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('phone_pay', {{ form.phone_pay.value }});</script>
          <td class="fl3" id="phone_debt"> </td>
          <td></td>
      </tr>
    {% if period_num >= 201508 %}
      <tr><td class="fl1"> Коммунальные </td>
          <script language="javascript" type="text/javascript">FieldNum('zhirovka', {{ form.zhirovka.value }});</script>
          <script language="javascript" type="text/javascript">FieldNum('ZKX_pay',  {{ form.ZKX_pay.value }});</script>
          <td class="fl3" id="zhir_debt"> </td>
          <td></td>
      </tr>
    {% else %}
      <tr><td class="fl1"> Жировка </td>
          <script language="javascript" type="text/javascript">FieldNum('zhirovka', {{ form.zhirovka.value }});</script>
          <td class="fl3" id="zhir_pay"> </td>
          <td class="fl3" id="zhir_debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Тепло </td>
          <td></td>
          <script language="javascript" type="text/javascript">FieldNum('hot_pay', {{ form.hot_pay.value }});</script>
          <td></td>  
          <td></td>
      </tr>
      <tr><td class="fl1"> Капремонт </td>
          <td></td>
          <script language="javascript" type="text/javascript">FieldNum('repair_pay', {{ form.repair_pay.value }});</script>
          <td></td>  
          <td></td>
      </tr>
      <tr><td class="fl1"> ЖКХ </td>
          <td></td>
          <script language="javascript" type="text/javascript">FieldNum('ZKX_pay', {{ form.ZKX_pay.value }});</script>
          <td></td>  
          <td></td>
      </tr>
    {% endif %}
      <tr><td class="fl1"> Электро </td>
          <td class="fl3" id="ele_sum"> </td>
          <script language="javascript" type="text/javascript">FieldNum('el_pay', {{ form.el_pay.value }});</script>
          <td class="fl3" id="ele_debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Газ </td>
          <td class="fl3" id="gas_sum"> </td>
          <script language="javascript" type="text/javascript">FieldNum('gas_pay', {{ form.gas_pay.value }});</script>
          <td class="fl3" id="gas_debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Вода </td>
          <td class="fl3" id="wat_sum"> </td>
          <script language="javascript" type="text/javascript">FieldNum('water_pay', {{ form.water_pay.value }});</script>
          <td class="fl3" id="wat_debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Итого </td>
          <td class="fl3" id="total_bill"> </td>
          <td class="fl3" id="total_pay"> </td>
          <td class="fl3" id="debt"> </td>
          <td></td>
      </tr>
      <tr><td class="fl1"> Курс </td>
          <script language="javascript" type="text/javascript">FieldNum('course', {{ form.course.value }});</script>
          <td class="fl3" id="total_usd"> </td>
          <td></td>
          <td></td>
      </tr>
      <tr><td class="fl3"> Коммент </td>
          <td class="fl4" colspan="4">
            {% if is_last == 1 %} 
              <input name="text" type="text" size="60" value="{{ form.text.value }}" />
            {% else %}
              {{ form.text.value }}
            {% endif %}
          </td>
      </tr>
    </tbody></table>
    
    {% if is_new == 1 %} 
      <input type="submit" class="LiteButton" name="action" id="update" value="Добавить">
      <input type="submit" class="LiteButton" name="action" id="common" value="Отменить">
    {% else %}
      {% if is_last == 1 %} 
        <input type="submit" class="LiteButton" name="action" id="update" value="Сохранить">
        <input type="submit" class="LiteButton" name="action" id="delete" value="Удалить">
        <input type="submit" class="LiteButton" name="action" id="common" value="Отменить">
      {% else %}
        <input type="submit" class="LiteButton" name="action" id="common" value="Отменить">
      {% endif %}
    {% endif %}
    <script language="javascript" type="text/javascript"> check() </script>
  </form>


{% endblock %}

