{% extends "base_sidebar.html" %}
{% load static i18n %}

{% block aside_content %}
  <ul class="nav-menu">
    <li{% if cur_view == 'apart' %} class="selected"{% endif %}><a class="fix" href="{% url 'apart:apart_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'todo/icon/myday.png' %}">
          {% trans 'apartments'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ apart_qty }}</div>
      </a></li>
    <li{% if cur_view == 'meter' %} class="selected"{% endif %}><a class="fix" href="{% url 'apart:meter_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'todo/icon/planned.png' %}">
          {% trans 'meters'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ meter_qty }}</div>
      </a></li>
    <li{% if cur_view == 'price' %} class="selected"{% endif %}><a class="fix" href="{% url 'apart:price_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/all.png' %}">
          {% trans 'prices'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ price_qty }}</div>
      </a></li>
    <li{% if cur_view == 'bill' %} class="selected"{% endif %}><a class="fix" href="{% url 'apart:bill_list' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'todo/icon/important.png' %}">
          {% trans 'bills'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ bill_qty }}</div>
      </a></li>
  </ul>
{% endblock %}
