{% extends "base_window.html" %}
{% load i18n %}

{% block win_content %}
<div class="w3-container w3-padding">
<div class="w3-row">
<div class="w3-col">
  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    <input type="hidden" name="prev_id" value="{{ prev.id }}">
    <input type="hidden" name="curr_id" value="{{ curr.id }}">

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.period.errors }} {{ form.period.label_tag }} {{ form.period }} {% if form.period.help_text %}<div class="help">{{ form.period.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.payment.errors }} {{ form.payment.label_tag }} {{ form.payment }} {% if form.payment.help_text %}<div class="help">{{ form.payment.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.rate.errors }} {{ form.rate.label_tag }} {{ form.rate }} {% if form.rate.help_text %}<div class="help">{{ form.rate.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <table>
    <tbody>
      <tr> <td style="width: 25%"></td> <td style="width: 25%"> <b>Старое</b> </td> <td style="width: 25%"> <b>Новое</b> </td> <td style="width: 25%"> <b>Объем</b> </td> </tr>
      <tr><td> Электро </td>
        <td>{{ prev.el }}</td>
        <td>{{ curr.el }}</td>
        <td>{{ volume.el }}</td>
      </tr>
      {% if apart.has_gas %}
      <tr><td> Газ </td>
        <td>{{ prev.ga }}</td>
        <td>{{ curr.ga }}</td>
        <td>{{ volume.ga }}</td>
      </tr>
      {% endif %}
      <tr><td> Холодная </td>
        <td>{{ prev.cw }}</td>
        <td>{{ curr.cw }}</td>
        <td>{{ volume.wt }}</td>
      </tr>
      <tr><td> Горячая </td>
        <td>{{ prev.hw }}</td>
        <td>{{ curr.hw }}</td>
        <td></td>
      </tr>
      <tr><td>&nbsp;</td> <td></td> <td></td> <td></td> </tr>
      <tr> <td></td> <td> <b>Тариф</b> </td> <td> <b>Начислено</b> </td> <td> <b>Оплата</b> </td> </tr>
      <tr><td> Интернет </td>
          <td></td>
          <td class="rok-field">{{ form.tv_bill.errors }} {{ form.tv_bill }}</td>
          <td class="rok-field">{{ form.tv_pay.errors }} {{ form.tv_pay }}</td>
      </tr>
      <tr><td> Телефон </td>
          <td></td>
          <td class="rok-field">{{ form.phone_bill.errors }} {{ form.phone_bill }}</td>
          <td class="rok-field">{{ form.phone_pay.errors }} {{ form.phone_pay }}</td>
      </tr>
    {% if period_num >= 201508 %}
      <tr><td> Коммунальные </td>
          <td></td>
          <td class="rok-field">{{ form.zhirovka.errors }} {{ form.zhirovka }}</td>
          <td class="rok-field">{{ form.ZKX_pay.errors }} {{ form.ZKX_pay }}</td>
      </tr>
    {% else %}
      <tr><td> Жировка </td>
          <td></td>
          <td class="rok-field">{{ form.zhirovka.errors }} {{ form.zhirovka }}</td>
          <td> {{ form.zhir_pay }} </td>
      </tr>
      <tr><td> Тепло </td>
          <td></td>
          <td></td>
          <td class="rok-field">{{ form.hot_pay.errors }} {{ form.hot_pay }}</td>
      </tr>
      <tr><td> Капремонт </td>
          <td></td>
          <td></td>
          <td class="rok-field">{{ form.repair_pay.errors }} {{ form.repair_pay }}</td>
      </tr>
      <tr><td> ЖКХ </td>
          <td></td>
          <td></td>
          <td class="rok-field">{{ form.ZKX_pay.errors }} {{ form.ZKX_pay }}</td>
      </tr>
    {% endif %}
      <tr><td> Электро </td>
          <td>{{ el_tar }}</td>
          <td>{{ el_bill }}</td>
          <td class="rok-field">{{ form.el_pay.errors }} {{ form.el_pay }}</td>
      </tr>
      {% if apart.has_gas %}
      <tr><td> Газ </td>
          <td>{{ gas_tar }}</td>
          <td>{{ gas_bill }}</td>
          <td class="rok-field">{{ form.gas_pay.errors }} {{ form.gas_pay }}</td>
      </tr>
      {% endif %}
      <tr><td> Вода </td>
          <td>{{ water_tar }}</td>
          <td>{{ water_bill }}</td>
          <td class="rok-field">{{ form.water_pay.errors }} {{ form.water_pay }}</td>
      </tr>
    </tbody>
    </table>

    <div class="w3-row">
      <div class="w3-col"><div class="w3-margin rok-field">
        {{ form.info.errors }} {{ form.info.label_tag }} {{ form.info }} {% if form.info.help_text %}<div class="help">{{ form.info.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>


    <div class="w3-row w3-padding">
      {% if pk == 0 %}
        <input type="submit" value="{% trans 'add'|capfirst %}" class="default">
      {% else %}
        <input type="submit" value="{% trans 'save'|capfirst %}" class="default">
      {% endif %}
      <p>
    </div>

  </form>
</div>
</div>
</div>
{% endblock %}
