{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
  <form method="post" class="w-100 px-2 item-form" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
    {% include "base/title.html" %}
    {% include "base/form_errors.html" %}

    <div class="row">
      {{ form.period }}
      {{ form.payment }}
      {{ form.rate }}
    </div>

    <div class="container">
      <div class="row">
        <div class="col title"></div>
        <div class="col title">{% trans 'old'|capfirst %}</div>
        <div class="col title">{% trans 'new'|capfirst %}</div>
        <div class="col title">{% trans 'volume'|capfirst %}</div>
      </div>
      {% if ed_item.apart.has_el %}
      <div class="row">
        <div class="col title">{% trans 'electro'|capfirst %}</div>
        <div class="col value">{{ ed_item.prev.el }}</div>
        <div class="col value">{{ ed_item.curr.el }}</div>
        <div class="col value">{{ volume.el }}</div>
      </div>
      {% endif %}
      {% if ed_item.apart.has_gas %}
      <div class="row">
        <div class="col title">{% trans 'gas'|capfirst %}</div>
        <div class="col value">{{ ed_item.prev.ga }}</div>
        <div class="col value">{{ ed_item.curr.ga }}</div>
        <div class="col value">{{ volume.ga }}</div>
      </div>
      {% endif %}
      {% if ed_item.apart.has_cw %}
      <div class="row">
        <div class="col title">{% trans 'cold'|capfirst %}</div>
        <div class="col value">{{ ed_item.prev.cw }}</div>
        <div class="col value">{{ ed_item.curr.cw }}</div>
        <div class="col value">{{ volume.wt }}</div>
      </div>
      {% endif %}
      {% if ed_item.apart.has_hw %}
      <div class="row">
        <div class="col title">{% trans 'hot'|capfirst %}</div>
        <div class="col value">{{ ed_item.prev.hw }}</div>
        <div class="col value">{{ ed_item.curr.hw }}</div>
        <div class="col value"></div>
      </div>
      {% endif %}
    </div>

    <div class="row">
      {% if not ed_item.apart.has_communal %}
      {{ form.tv_bill }}
      {{ form.tv_pay }}
      {{ form.phone_bill }}
      {{ form.phone_pay }}
      {{ form.zhirovka }}
      {% endif %}
    </div>

    {{ form.info.label_tag }} {{ form.info }}
    {% include "widgets/attachments.html" %}

    <div class="d-flex justify-content-evenly mt-3 pb-5">
      <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
        {% trans 'save'|capfirst %}
      </button>
      <button type="button" name="form_close" class="btn btn-secondary bi-x" onclick="closeForm()" title="{% trans 'close edit form'|capfirst %}">
        {% trans 'close'|capfirst %}
      </button>
      <button type="button" name="item_delete" class="btn btn-danger bi-trash" onclick="delItem('{{config.app}}')" title="{% trans 'delete record'|capfirst %}">
        {% trans 'delete'|capfirst %}
      </button>
    </div>
  </form>
{% endblock %}

