{% extends "base/item_detail.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link href="{% static 'scss/apart.css' %}" rel="stylesheet">
{% endblock %}

{% block item_detail %}
    <div class="row mb-3" name="period_date_rate">
      {{ form.period.errors }} {{ form.period }}
      {{ form.payment.errors }} {{ form.payment }}
      {{ form.rate.errors }} {{ form.rate }}
    </div>
    <div class="bill">
      <div class="meters" name="meters_data">
        <div class="meter">
          <div class="title"></div>
          <div class="title">{% trans 'old'|capfirst %}</div>
          <div class="title">{% trans 'new'|capfirst %}</div>
          <div class="title">{% trans 'volume'|capfirst %}</div>
        </div>
        {% if ed_item.apart.has_el %}
        <div class="meter">
          <div class="title">{% trans 'electro'|capfirst %}</div>
          <div class="value">{{ ed_item.prev.el }}</div>
          <div class="value">{{ ed_item.curr.el }}</div>
          <div class="value">{{ volume.el }}</div>
        </div>
        {% endif %}
        {% if ed_item.apart.has_gas %}
        <div class="meter">
          <div class="title">{% trans 'gas'|capfirst %}</div>
          <div class="value">{{ ed_item.prev.ga }}</div>
          <div class="value">{{ ed_item.curr.ga }}</div>
          <div class="value">{{ volume.ga }}</div>
        </div>
        {% endif %}
        {% if ed_item.apart.has_cw %}
        <div class="meter">
          <div class="title">{% trans 'cold'|capfirst %}</div>
          <div class="value">{{ ed_item.prev.cw }}</div>
          <div class="value">{{ ed_item.curr.cw }}</div>
          <div class="value">{{ volume.wt }}</div>
        </div>
        {% endif %}
        {% if ed_item.apart.has_hw %}
        <div class="meter">
          <div class="title">{% trans 'hot'|capfirst %}</div>
          <div class="value">{{ ed_item.prev.hw }}</div>
          <div class="value">{{ ed_item.curr.hw }}</div>
          <div class="value"></div>
        </div>
        {% endif %}
      </div>

      <div class="accruals" name="pay_data_el_gas_water">
        {% if ed_item.apart.has_el %}
          <div class="service">
            <div class="tarif">
              <div class="title">{{ el_tar.title }}</div>
              <div class="value">{{ el_tar.value }}</div>
            </div>
            <div class="values">
              <div class="bill">{{ el_bill.value }}</div>
              {{ form.el_pay }}
            </div>
          </div>
        {% endif %}

        {% if ed_item.apart.has_gas %}
          <div class="service">
            <div class="tarif">
              <div class="title">{{ gas_tar.title }}</div>
              <div class="value">{{ gas_tar.value }}</div>
            </div>
            <div class="values">
              <div class="bill">{{ gas_bill.value }}</div>
              {{ form.gas_pay }}
            </div>
          </div>
        {% endif %}

        {% if ed_item.apart.has_hw or ed_item.apart.has_cw %}
          <div class="service">
            <div class="tarif">
              <div class="title">{{ water_tar.title }}</div>
              <div class="value">{{ water_tar.value }}</div>
            </div>
            <div class="values">
              <div class="bill">{{ water_bill.value }}</div>
              {{ form.water_pay }}
            </div>
          </div>
        {% endif %}
      </div>

      <div class="" name="pay_data_tv_phone_ppo">
        {% if ed_item.apart.has_tv %}
          <div class="row">
            <div class="title">
              {{ tv_title }}
            </div>
            <div class="values">
              {{ form.tv_bill }}
              {{ form.tv_pay }}
              </div>
          </div>
        {% endif %}

        {% if ed_item.apart.has_phone %}
          <div class="row">
            <div class="title">
              {{ phone_title }}
            </div>
            <div class="values">
              {{ form.phone_bill }}
              {{ form.phone_pay }}
            </div>
          </div>
        {% endif %}
        {% if ed_item.apart.has_zkx %}
          <div class="row">
            <div class="title">
              {{ ZKX_title }}
            </div>
            <div class="values">
              {{ form.zhirovka }}
              {{ form.ZKX_pay }}
            </div>
          </div>
        {% endif %}

        {% if ed_item.apart.has_ppo %}
          <div class="row">
            <div class="title">
              {{ PoO_title }}
            </div>
            <div class="values">
              {{ form.PoO }}
              {{ form.PoO_pay }}
            </div>
          </div>
        {% endif %}
      </div>

    </div>

    {{ form.url.label_tag }} {{ form.url }}
    {{ form.info.label_tag }} {{ form.info }} {{ form.upload }}

    {% include "widgets/url_list.html" %}
    {% include "widgets/attachments.html" %}
{% endblock %}

