{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
<div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
    {% include "apart/title.html" %}

    <ul>
        {% for item in items %}
            {% include "base/item.html" %}
        {% endfor %}
    </ul>

    {% if not hide_add_item_input %}
        <form method="post" class="add-form">{% csrf_token %}
          {% if add_button %}
            <button type="button" class="btn bi-plus-lg add-form__button" onclick="addItem('{{ config.app }}', '{{ config.get_cur_role }}', {{ config.cur_view_group.id|escape }})">{{ add_item_placeholder }}</button>
          {% else %}
            <input type="text" name="name" maxlength="200" required="" id="id_name" class="add-form__input" placeholder="{{ add_item_placeholder }}">
            <button type="button" class="btn btn-primary ms-2" onclick="addItem('{{ config.app }}', '{{ config.get_cur_role }}', {{ config.cur_view_group.id|escape }})">{% trans 'add'|capfirst %}</button>
          {% endif %}
        </form>
    {% endif %}

</div>
{% endblock %}

