{% extends "base_window.html" %}
{% load i18n %}

{% block win_content %}
  <div class="w3-row">
    <div class="w3-half">
      <table class="w3-table-all w3-hoverable w3-card-4">
        <thead>
          <tr class="w3-theme-l3">
            <th>{% trans 'period'|capfirst %}</th>
            <th>{% trans 'reading'|capfirst %}</th>
            <th>{% trans 'electricity'|capfirst %}</th>
            <th>{% trans 'hot water'|capfirst %}</th>
            <th>{% trans 'cold water'|capfirst %}</th>
            {% if apart.has_gas %}
              <th>{% trans 'gas'|capfirst %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for meter in page_obj %}
          <tr>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.period|date:'m.Y' }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.reading|date:'d.m.Y' }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.el }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.hw }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.cw }}</a></td>
            {% if apart.has_gas %}
              <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' folder.id meter.id %}">{{ meter.ga }}</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <p>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="w3-button" href="?page=1">&laquo;</a>
            <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="current active w3-button w3-theme-l1">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
  </div>
  <p>
{% endblock %}
