{% extends "base_list.html" %}
{% load i18n %}

{% block win_content %}
  <div class="w3-row">
    <div class="w3-half">
      <table class="w3-table-all w3-hoverable w3-card-4">
        <thead>
          <tr class="w3-theme-l3">
            <th>{% trans 'period'|capfirst %}</th>
            <th>{% trans 'reading'|capfirst %}</th>
            <th>{% trans 'electricity'|capfirst %}</th>
            <th>{% trans 'hot water'|capfirst %}</th>
            <th>{% trans 'cold water'|capfirst %}</th>
            {% if apart.has_gas %}
              <th>{% trans 'gas'|capfirst %}</th>
            {% endif %}
            <th>{% trans 'info'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for meter in page_obj %}
          <tr>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.period|date:'m.Y' }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.reading|date:'d.m.Y' }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.el }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.hw }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.cw }}</a></td>
            {% if apart.has_gas %}
              <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.ga }}</a></td>
            {% endif %}
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:meter_form' meter.id %}">{{ meter.info }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
