{% extends "apart/apart.html" %}
{% load static i18n %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title|capfirst }}
      </div>
    </div>
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}">{% trans 'add new meter readings'|capfirst %}</button>
  </form>

  <div class="tree">
    <ul>
      {% for item in page_obj %}
        <li>
          <a href="{% url 'apart:meter_form' item.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}" class="{% if item.id == item_id %}current{% endif %}">
            <div class="icon"> </div>
            <div class="tree-item">
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="descr">{{ item.descr }}</div>
              </div>
            </div>
            <div class="icon"> </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    
    <p>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a class="w3-button" href="?page=1">&laquo;</a>
          <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    
        <span class="current active w3-button w3-theme-l1">
          {{ page_obj.number }}
        </span>
    
        {% if page_obj.has_next %}
          <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
          <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
{% endblock %}


