{% extends "base_list.html" %}
{% load i18n %}

{% block win_content %}
  <div class="w3-row">
    <div class="w3-rest">
      <table class="w3-table-all w3-hoverable w3-card-4" style="width:1200px">
        <thead>
          <tr class="w3-theme-l3">
            <th>{% trans 'service'|capfirst %}</th>
            <th>{% trans 'period'|capfirst %}</th>
            <th>{% trans 'tarif'|capfirst %}</th>
            <th>{% trans 'border'|capfirst %}</th>
            <th>{% trans 'tarif 2'|capfirst %}</th>
            <th>{% trans 'border 2'|capfirst %}</th>
            <th>{% trans 'tarif 3'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for price in page_obj %}
          <tr>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{{ price.service }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{{ price.period|date:'m.Y' }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{{ price.tarif }}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{% if price.border != 0 %}{{ price.border|default_if_none:"" }}{% endif %}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{% if price.tarif2 != 0 %}{{ price.tarif2|default_if_none:"" }}{% endif %}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{% if price.border2 != 0 %}{{ price.border2|default_if_none:"" }}{% endif %}</a></td>
            <td><a class="w3-button w3-padding-small" href="{% url 'apart:price_form' price.id %}">{% if price.tarif3 != 0 %}{{ price.tarif3|default_if_none:"" }}{% endif %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
