{% extends "hier/list.html" %}
{% load static i18n %}

{% block article_content %}
  <div class="fields">
    <form method="post" class="header">{% csrf_token %}
      <!-- Form Errors -->
      {% if form.errors %}
        <div class="fieldset">
          <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
        </div>
      {% endif %}
      {% if form.non_field_errors %}
        <div class="fieldset">
        {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
        </div>
      {% endif %}

      <!-- Service.name -->
      <div class="header">
        <button type="hidden" name="item-save" id="id_item_save"></button>
        <div class="row">
          {{ form.name.label_tag }}
        </div>
        {% if form.name.errors %}
          <div class="row">
            <div class="field-error">{{ form.name.errors }}</div>
          </div>
        {% endif %}
        <div class="row editable-content full-width main-element">
          {{ form.name }}
          <button type="submit" name="item-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        </div>
      </div>

      <div class="body">
        <div class="section">
          <!-- Service.abbr -->
          {% if form.abbr.errors %}
            <div class="row">
              <div class="field-error">{{ form.abbr.errors }}</div>
            </div>
          {% endif %}
          <div class="row editable-content full-width auxiliary-element">
            {{ form.abbr.label_tag }}
            {{ form.abbr }}
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
