{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
  {% include "base/title.html" %}
  <form method="post" class="w-100 px-2 item-form row" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
    {% include "base/form_errors.html" %}

    {{ form }}
    {% include "widgets/attachments.html" %}

    <div class="d-flex justify-content-evenly mt-3 pb-5">
      <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
        {% trans 'save'|capfirst %}
      </button>
      <button type="button" name="form_close" class="btn btn-secondary bi-x" onclick="closeForm()" title="{% trans 'close edit form'|capfirst %}">
        {% trans 'close'|capfirst %}
      </button>
      <button type="button" name="item_delete" class="btn btn-danger bi-trash" onclick="delItemConfirm('{{config.app}}', '{{ban_on_deletion}}', '{{delete_question}} {{title}}?')" title="{% trans 'delete record'|capfirst %}">
        {% trans 'delete'|capfirst %}
      </button>
    </div>
  </form>
{% endblock %}

