{% load static i18n %}

{% block item_content %}
    <div class="content-title d-none d-md-block">
        {% if config.icon %}
            <i class="bi-{{config.icon}} content-title__icon"></i>
        {% endif %}

        {% if group_path %}
            {% for group in group_path reversed %}
                <a href="{% url group.edit_url group.id %}?ret={{ group_return }}" class="content-title__href">{{ group.name }}</a>{% if group != group_path|first %} / {% endif %}
            {% endfor %}
        {% else %}
            <span class="content-title__text">{{ title }}</span>
        {% endif %}
    </div>

    <form method="post" class="select-form">{% csrf_token %}
        {{ apart_form }}
    </form>
{% endblock %}
