{% extends "logs/logs.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/home.min.css' %}" rel="stylesheet">
{% endblock %}

{% block log_top %}
  {% if show_stat %}
    <h4>{% trans 'site statistics'|capfirst %}</h4>
    <table class="info-table">
      <tr> <th>{% trans 'application'|capfirst %}</th> <th>{% trans 'visitor'|capfirst %}</th> <th>{% trans 'page'|capfirst %}</th> </tr>
      {% for app, hosts in stat.items %}
        <tr> <td>{{ app }}</td> <td></td> <td></td> </tr>
        {% for host, pages in hosts.items %}
          <tr> <td></td> <td>{{ host }}</td> <td></td> </tr>
            {% for page in pages %}
              <tr> <td></td> <td></td> <td>{{ page }}</td> </tr>
            {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
  {% endif %}
  {% if indicators %}
    <h4>{% trans 'site statistics'|capfirst %}</h4>
    <table class="info-table">
      <tr> <th>{% trans 'indictor'|capfirst %}</th> <th>{% trans 'value'|capfirst %}</th> </tr>
      {% for x in indicators %}
        <tr> <td>{{ x.0 }}</td> <td>{{ x.1 }}</td> </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
