{% extends "core/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'core/css/home.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    {% for deep in backup_deeps %}
    <div class="row">
        <h3>{{ deep.device }} - {{ deep.service_name }}</h3>
        <h5>{% trans 'Periodicity' %}: {{ deep.periodicity }}</h5>
            <div class="col">
                <h5>Etalon</h5>
                <table class="info-table">
                    <thead>
                        <tr>
                            <td class="pe-3">{% trans 'Age' %}</td>
                            <td class="pe-3">{% trans 'File name' %}</td>
                            <td class="pe-3">{% trans 'Range' %}</td>
                            <td class="pe-3">{% trans 'Valid' %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in deep.etalon %}
                            <tr style="{% if not x.has_fact %} color: red; background-color: snow;{% endif %}">
                                <td>{{ x.age }}</td>
                                <td>{{ x.name }}</td>
                                <td>{{ x.min_range }}-{{ x.max_range }}</td>
                                <td>{{ x.ripe }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h5>Fact</h5>
                <table class="info-table">
                    <thead>
                        <tr>
                            <td>{% trans 'Age' %}</td>
                            <td>{% trans 'File name' %}</td>
                            <td>{% trans 'Size' %}</td>
                            <td>{% trans 'Valid' %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in deep.fact %}
                            <tr style="{% if not x.valid %} color: red; background-color: snow;{% endif %}">
                                <td class="pe-3">{{ x.age }}</td>
                                <td class="pe-3">{{ x.name }}</td>
                                <td class="pe-3" style="text-align: right">{{ x.size }}</td>
                                <td class="pe-3">{{ x.valid }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    {% endfor %}
{% endblock %}
