ansel==1.0.0
asgiref==3.8.1
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
convertdate==2.4.0
cryptography==42.0.8
Django==5.0.6
django-cors-headers==4.3.1
django-cprofile-middleware==1.0.5
djangorestframework==3.15.1
firebase-admin==6.5.0
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.1
grpcio==1.64.1
grpcio-status==1.62.2
gunicorn==22.0.0
httplib2==0.22.0
idna==3.7
lxml==5.2.2
msgpack==1.0.8
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
proto-plus==1.23.0
protobuf==4.25.3
psycopg==3.1.19
psycopg-binary==3.1.19
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodomex==3.20.0
PyJWT==2.8.0
PyMeeus==0.5.12
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzipper==0.3.6
requests==2.32.3
rsa==4.9
six==1.16.0
snakeviz==2.2.0
sqlparse==0.5.0
tornado==6.4.1
typing_extensions==4.12.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
