{% load static i18n %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/fcm.css' %}">
    <link rel="manifest" href="{% static 'todo/json/manifest.json' %}">
  </head>
  <body>
    <main>
      <section>
        <h3>{% trans 'the token of this application'|capfirst %}</h3>
        <div id="this_app_token" class="token">There will be a token</div>
        <div id="permission_div" style="display: none;">
          <h4>Needs Permission</h4>
          <button onclick="requestPermission()">Request Permission</button>
        </div>
      </section>
      <section>
        <h3>{% trans 'tokens for all user subscriptions to push notifications'|capfirst %}</h3>
          {% for subscription in object_list %}
            <div class="token-info">
              <form method="post">{% csrf_token %}
                <input type="hidden" name="app_token_id" value="{{ subscription.id }}">
                <button type="submit" name="app_token_del" class="btn-del"><img src="{% static 'rok/icon/delete.png' %}"></button>
              </form>
              <div class="token token-value">
                {{ subscription.token }}
              </div>
            </div>
          {% endfor %}
        </ul>
      </section>
      <section>
        <form method="post" class="app_token_add">{% csrf_token %}
          <h3>{% trans 'add new token'|capfirst %}</h3>
          <input type="text" name="app_token" maxlength="200" required="" id="id_app_token">
          <button type="submit" name="app_token_add" class="app_token_add"><img src="{% static 'todo/icon/add.png' %}"></button>
        </form>
      </section>
      <section>
        <p>{% trans 'return to app'|capfirst %} <a href="{% url 'todo:task_list' %}">ToDo</a></p>
      </section>
    </main>
  </body>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
  <script src="{% static 'todo/js/fcm.js' %}"></script>
</html>
