{% extends "base/page.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block content %}

  <div class="top">
    <div class="main-top-headline_new">
      <h3>
        {{ title }}
      </h3>
    </div>
  </div>
  
  <article class="tree">
    <form method="post" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
      <div class="article-top">
        <div class="info"></div>
        <a href="/todo/{{ params }}"><img class="img-20_20" src="{% static 'rok/icon/clear.png' %}"></a>
      </div>

      <section id="article-content">
        {% include "base/form_errors.html" %}

        <div class="form">
          <div class="fieldset"> {% include "todo/fld/name.html" %}   </div>

          <div class="w3-half">
            <div class=""> {% include "todo/fld/list.html" %}   </div>
            <div class=""> {% include "todo/fld/steps.html" %}  </div>
            <div class=""> {% include "todo/fld/urls.html" %}   </div>
          </div>

          <div class="w3-half">
            <div class="w3-half"> {% include "todo/fld/termin.html" %} 
                                  {% include "todo/fld/remind.html" %}
                                  {% include "todo/fld/repeat.html" %} </div>
            <div class="w3-half"> {% include "todo/fld/myday.html" %} 
                                  {% include "base/categories.html" %}     
                                  {% include "todo/fld/files.html" %}  </div>
          </div>

          <div class="fieldset"> {% include "todo/fld/info.html" %}   </div>
        </div>

      </section>
  
      <div class="article-bottom">
        <button type="submit" name="item_save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
        <div class="info">{% block article_info %}{% endblock %}</div>
        <button type="submit" name="item_delete" title="{% trans 'delete record'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/trash-red.png' %}"></button>
      </div>
  
    </form>
  </article>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/resize.js' %}"></script>
  <script src="{% static 'rok/js/uploads.js' %}"></script>
  <script src="{% static 'rok/js/categories.js' %}"></script>
  <script src="{% static 'todo/js/task.js' %}"></script>
{% endblock %}
