{% extends "hier/tree.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
<div class="fields">
  <form method="post" class="header">{% csrf_token %}
    <button type="hidden" name="task-name-save"></button>
    <!-- Form Errors -->
    {% if name_form.errors %}
      <div class="fieldset">
        <p class="errornote"> {% if name_form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
      </div>
    {% endif %}
    {% if name_form.non_field_errors %}
      <div class="fieldset">
      {% for error in name_form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
      </div>
    {% endif %}

    <!-- EDIT Task.name -->
    <div class="field-group">
      <button type="submit" name="task-completed" class="field-icon">
        {% if ed_item.completed %}
          <img src="{% static 'todo/icon/complete.png' %}">
        {% else %}
          <img src="{% static 'todo/icon/uncomplete.png' %}">
        {% endif %}
      </button>
      <div class="field-error">{{ name_form.name.errors }}</div>
      <div class="article-name{% if ed_item.completed %} completed{% endif %}">
        <div class="editable-content full-width main-element">
          {{ name_form.name }}
        </div>
      </div>
      <button type="submit" name="task-important" class="field-icon">
        {% if ed_item.important %}
          <img src="{% static 'todo/icon/important-on.png' %}">
        {% else %}
          <img src="{% static 'todo/icon/important-off.png' %}">
        {% endif %}
      </button>
      <button type="submit" name="task-name-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
    </div>
  </form> <!-- header -->

  <div class="steps">
    <div class="step-list">
      {% for step in steps %}
        <!-- EDIT Step.name -->
        <form method="post">{% csrf_token %}
          <div class="field-error">{{ step.name.errors }}</div>
          <div class="step-field-group">
            <button type="hidden" name="step-save"></button>
            <input type="hidden" name="step_id" value="{{ step.id }}" required="" id="id_step_id">
            <button type="submit" name="step-complete" class="field-icon">
              {% if step.completed %}
                <img src="{% static 'todo/icon/step-complete.png' %}">
              {% else %}
                <img src="{% static 'todo/icon/step-uncomplete.png' %}">
              {% endif %}
            </button>
            <div class="step-name">
              <div class="editable-content full-width auxiliary-element">
                <input type="text" name="step_edit_name" value="{{ step.name }}" maxlength="200" required="" id="id_step_edit_name" class="{% if step.completed %}completed{% endif %}">
              </div>
            </div>
            <button type="submit" name="step-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          </div>
        </form>
      {% endfor %}
    </div>

    <!-- ADD Step.name -->
    <form method="post" class="step-add">{% csrf_token %}
      <div class="field-error">{{ step_form.name.errors }}</div>
      <div class="step-field-group">
        <button type="submit" name="step-add" class="field-icon"><img src="{% static 'todo/icon/step-add.png' %}"></button>
        <div class="step-name">
          <div class="editable-content full-width auxiliary-element">
            <input type="text" name="step_add_name" maxlength="200" required="" placeholder="{% trans 'next step'|capfirst %}" id="id_step_add_name">
          </div>
        </div>
      </div>
    </form>
  </div> <!-- steps -->

  <form class="body" method="post" enctype="multipart/form-data" id="task_form">{% csrf_token %}

    <button type="hidden" name="task-save" class="field-icon"></button>

    <!-- Form Errors -->
    {% if form.errors %}
      <div class="fieldset">
        <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
      </div>
    {% endif %}
    {% if form.non_field_errors %}
      <div class="fieldset">
      {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
      </div>
    {% endif %}
    {{ form.remind.errors }}
    {{ form.category.errors }}

    <!-- Task.my_day -->
    <div class="section">
      <div class="section-item">
        <button type="submit" name="task-myday" class="section-inner-click">
          <div class="section-inner">
            <div class="section-icon">
              <img src="{% static 'todo/icon/myday.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title{% if ed_item.in_my_day %} selected{% endif %}">
                {% if ed_item.in_my_day %}
                  {% trans 'added in "My day"'|capfirst %}
                {% else %}
                  {% trans 'add to "My day"'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
        </button>
        <button type="submit" name="task-save" class="field-icon"><img src="{% static 'rok/icon/save.png' %}"></button>
      </div>
    </div>
  
    <div class="section">

      <!-- Task.remind VIEW -->
      <div class="section-item" id="remind-view">
        <div class="section-inner">
          <div class="section-inner button" onclick="ToggleSelectField('remind')">
            <div class="section-icon">
              <img src="{% static 'todo/icon/remind.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title">
                {% if task_b_remind %}
                  <div {% if remind_active %} class="actual"{% endif %}> {{ task_remind_time }} </div>
                  <div class="section-description"> {{ task_remind_date }} </div>
                {% else %}
                  {% trans 'to remind'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if task_b_remind %}
            <button type="submit" name="remind-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          {% endif %}
        </div>
      </div>


      <!-- Task.remind SELECT -->
      <div class="section-item" id="remind-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="remind-today">
          <div class="c002">
            <img src="{% static 'todo/icon/remind-today.png' %}">
            <span class="c003">{% trans 'later'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_today_info }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="remind-tomorrow">
          <div class="c002">
            <img src="{% static 'todo/icon/remind-tomorrow.png' %}">
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_tomorrow_info }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="remind-next-week">
          <div class="c002">
            <img src="{% static 'todo/icon/remind-next-week.png' %}">
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_next_week_info }}</div>
        </button>
        <div class="section-inner">
          {{ form.remind.label_tag }}
          {{ form.remind }}
        </div>
        <div class="dropdown-content-separator"></div>
      </div>
      
      <!-- Task.stop VIEW -->
      <div class="section-item" id="termin-view">
        <div class="section-inner">
          <div class="section-inner button" onclick="ToggleSelectField('termin')">
            <div class="section-icon">
              <img src="{% static 'todo/icon/planned.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title{% if ed_item.b_expired %} expired{% elif task_actual %} actual{% endif %}">
                {% if ed_item.stop %}
                  {{ ed_item.s_termin }}
                {% else %}
                  {% trans 'add due date'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if ed_item.stop %}
            <button type="submit" name="termin-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          {% endif %}
        </div>
      </div>

      <!-- Task.stop SELECT -->
      <div class="section-item" id="termin-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="termin-today">
          <div class="c002">
            <img src="{% static 'todo/icon/termin-today.png' %}">
            <span class="c003">{% trans 'today'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_today_info|date:'D' }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="termin-tomorrow">
          <div class="c002">
            <img src="{% static 'todo/icon/termin-tomorrow.png' %}">
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_tomorrow_info|date:'D' }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="termin-next-week">
          <div class="c002">
            <img src="{% static 'todo/icon/termin-next-week.png' %}">
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_next_week_info|date:'D' }}</div>
        </button>
        <div class="section-inner">
          {{ form.stop.errors }} 
          <img class="img-20_20" src="{% static 'todo/icon/termin-select.png' %}">
          <div class="section-content">
            <div class="section-title">
              {{ form.stop.label_tag }}
            </div>
            {{ form.stop }}
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>

      <!-- Task.repeat VIEW -->
      <div class="section-item" id="repeat-view">
        <div class="section-inner">
          <div class="section-inner button" onclick="ToggleSelectField('repeat')">
            <div class="section-icon">
              <img src="{% static 'todo/icon/repeat.png' %}">
            </div>
            <div class="section-content">
              <div class="section-title">
                {% if ed_item.repeat != 0 %}
                  <div {% if ed_item.repeat != 0 %} class="actual"{% endif %}> {{ ed_item.s_repeat }} </div>
                  <div class="section-description"> {{ ed_item.repeat_s_days }} </div>
                {% else %}
                  {% trans 'repeat'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if ed_item.stop %}
            <button type="submit" name="repeat-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          {% endif %}
        </div>
      </div>

      <!-- Task.repeat SELECT -->
      <div class="section-item" id="repeat-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="repeat-daily">
          <div class="c002">
            <img src="{% static 'todo/icon/repeat-daily.png' %}">
            <span class="c003">{% trans 'daily'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat-workdays">
          <div class="c002">
            <img src="{% static 'todo/icon/repeat-workdays.png' %}">
            <span class="c003">{% trans 'work days'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat-weekly">
          <div class="c002">
            <img src="{% static 'todo/icon/repeat-weekly.png' %}">
            <span class="c003">{% trans 'weekly'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat-monthly">
          <div class="c002">
            <img src="{% static 'todo/icon/repeat-monthly.png' %}">
            <span class="c003">{% trans 'monthly'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat-annually">
          <div class="c002">
            <img src="{% static 'todo/icon/repeat-annually.png' %}">
            <span class="c003">{% trans 'annually'|capfirst %}</span>
          </div>
        </button>
        <div class="dropdown-content-separator"></div>
        <div class="dropdown-content-title-part">{% trans 'repeat every...'|capfirst %}</div>
        <div class="repeat-options-block">
          <div class="repeat-options-main">
            <img src="{% static 'todo/icon/repeat.png' %}">
            <div class="repeat-options-input">
              <div class="repeat-options-num">{{ form.repeat_num }}</div>
              <div class="repeat-options-type">{{ form.repeat }}</div>
            </div>
            <div>&nbsp;</div>
          </div>
          <div class="repeat-options-week">
            <input type="hidden" id="id_repeat_days" name="repeat_days" value="{{ form.repeat_days.value }}" required="">
            <div id="d1" class="button day" onclick="DayClick(1)">{{ repeat_form_d1 }}</div>
            <div id="d2" class="button day" onclick="DayClick(2)">{{ repeat_form_d2 }}</div>
            <div id="d3" class="button day" onclick="DayClick(3)">{{ repeat_form_d3 }}</div>
            <div id="d4" class="button day" onclick="DayClick(4)">{{ repeat_form_d4 }}</div>
            <div id="d5" class="button day" onclick="DayClick(5)">{{ repeat_form_d5 }}</div>
            <div id="d6" class="button day" onclick="DayClick(6)">{{ repeat_form_d6 }}</div>
            <div id="d7" class="button day" onclick="DayClick(7)">{{ repeat_form_d7 }}</div>
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>

    </div> <!-- section -->

    <div class="section">
      <!-- Task.categories -->
      {% if categories %}
        <button type="hidden" name="category-delete" id="id_category_delete" value="???"></button>
        <div class="section-item">
          <div class="section-inner">
            <div class="categories">
              {% for categ in categories %}
                <div class="category category-design-{{ categ.design }}">
                  <div class="label">
                    <div class="value">
                      {{ categ.name }}
                    </div>
                  </div>
                  <div class="icon" onclick="CategoryDelete('{{categ.name}}')">
                    <div class="delete">
                      <svg height="8" width="8" style="fill: currentcolor;">
                        <path d="M4.46607 4L8 7.53905L7.53905 8L4 4.46607L0.460948 8L0 7.53905L3.53393 4L0 0.460948L0.460948 0L4 3.53393L7.53905 0L8 0.460948L4.46607 4Z"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="section-item">
        <div class="section-inner">
          <div class="section-icon">
            <img src="{% static 'todo/icon/category.png' %}">
          </div>
          {{ form.category }}
        </div>
      </div>

      <!-- Task.url -->
      <div class="section-item">
        <div class="section-inner">
          <div class="section-icon">
            <img src="{% static 'rok/icon/click.png' %}">
          </div>
          {% if form.url.value %}
            <div class="section-content">
              <div class="section-title">
                <input type="hidden" name="url" value="{{ form.url.value }}" id="id_url">
                <a href="{{ form.url.value }}">{{ url_cutted }}</a>
              </div>
            </div>
            <button type="submit" name="url-delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          {% else %}
            {{ form.url }}
          {% endif %}
        </div>
      </div>

      <!-- Task.info -->
      <div class="section-item section-item-note">
        <div class="field-error">{{ form.info.errors }}</div>
        <div class="section-inner">
          {{ form.info }}
        </div>
      </div>
  
      <!-- Task.lst -->
      <div class="section-item">
        <div class="field-error">{{ form.lst.errors }}</div>
        <div class="section-52">
          <div class="section-icon">
            <img src="{% static 'rok/icon/list.png' %}">
          </div>
          <div class="section-content">
            <div class="section-title full-width">
              {{ form.lst }}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- section -->
  
    <div class="section">
      <div class="file-list">
        {% for file in files %}
          <!-- LIST TaskFiles -->
          <div class="file-item">
            <a href="{{ file.url }}" class="clickable-item">
              <div class="thumbnail-wrapper" style="background-color: {{ file.design }}">
                <div class="thumbnail">{{ file.ext }}</div>
              </div>
              <div class="file-content">
                <div class="file-title">{{ file.name }}</div>
                <div class="file-metadata">{{ file.size }}</div>
              </div>
            </a>
            <button type="submit" name="file-delete" value="{{ file.url }}" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          </div>
        {% endfor %}
      </div> <!-- file-list -->

      <!-- ADD TaskFiles -->
      <div class="file-add">
        <div class="section-item">
          <button type="button" name="task-file-upload" class="section-inner-click">
            <div class="section-inner">
              <div class="section-icon">
                <img src="{% static 'todo/icon/file.png' %}">
              </div>
              <div class="section-content">
                <div class="section-title">
                  <div id="loadFile" type="button" onclick="UploadFile()">{% trans 'add file'|capfirst %}</div>
                  <input type="file" style="display:none;" id="id_upload" name="upload" onchange="FileSelected()">
                </div>
              </div>
            </div>
          </button>
          <button type="submit" id="id_submit" name="file-upload"></button>
        </div>
      </div> <!-- file-add -->
    </div> <!-- section -->
  </form> <!-- body -->

</div> <!-- fields -->
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/AddAutoResize.js' %}"></script>
  <script src="{% static 'rok/js/UploadFile.js' %}"></script>
  <script src="{% static 'rok/js/CategoryDelete.js' %}"></script>
  <script src="{% static 'todo/js/task.js' %}"></script>
{% endblock %}

