{% extends "task/tree.html" %}
{% load static i18n %}
{% load rest_framework %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  {% csrf_token %}
  {% if serializer %}
    {% render_form serializer %}
  {% endif %}
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/AddAutoResize.js' %}"></script>
  <script src="{% static 'rok/js/UploadFile.js' %}"></script>
  <script src="{% static 'rok/js/CategoryDelete.js' %}"></script>
{% endblock %}

