{% extends "base/item_detail.html" %}
{% load static i18n %}

{% block item_detail %}
  <div class="input-group">
    {{ form.completed.errors }}{{ form.completed }}
    {{ form.name.errors }}{{ form.name }}
    {% include "widgets/important.html" %}
  </div>
  {% include "todo/steps.html" %}
  <div class="termin-row">
    {% include "widgets/my_day.html" %}
    {% include "widgets/termin.html" %}
  </div>
  <div class="row g-3">
    <div class="col-sm-7">{{ form.info.errors }}{{ form.info.label_tag }}{{ form.info }}</div>
    <div class="col-sm">{{ form.grp.errors }}{{ form.grp.label_tag }}{{ form.grp }}</div>
    <div class="col-sm">{{ form.categories.errors }}{{ form.categories.label_tag }}{{ form.categories }}</div>
  </div>
  <div>{{ form.url.errors }}{{ form.url.label_tag }}{{ form.url }}</div>
  <div>{{ form.upload.errors }}{{ form.upload.label_tag }}{{ form.upload }}</div>
  {% include "widgets/url_list.html" %}
  {% include "widgets/attachments.html" %}
{% endblock %}

{% block footer_detail %}
  <div class="row">
    <div class="col">{% trans 'created'|capfirst %}: {{ item.created }}</div>
    <div class="col">{% if item.completed %}{% trans 'completed'|capfirst %}: {{ item.completion }}{% endif %}</div>
  </div>
{% endblock %}