{% extends "hier/content_top.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'photo/css/photo.css' %}">
{% endblock %}

{% block actions %}
  {% for crumb in bread_crumbs %}
    {% if crumb.url %}
      <a href="{{ crumb.url }}">{{ crumb.name }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    {% else %}
      {{ crumb.name }}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block upload %}
  <form class="body" method="post" enctype="multipart/form-data" id="photo_form">{% csrf_token %}
    {% include "hier/form_errors.html" %}
    {% if file_form.upload.errors %}
      [upload: {{ file_form.upload.errors }}]
    {% endif %}
    <input type="file" style="display:none;" id="id_upload" name="upload" onchange="FileSelected()">
    <div id="loadPhoto" class="button" type="button" onclick="UploadFile()"><img class="img-20_20" src="{% static 'rok/icon/upload.png' %}">{% trans 'add photo'|capfirst %}</div>
    <button type="submit" id="id_submit" name="file-upload"></button>
  </form>
{% endblock %}

{% block items_content %}
  <input type="hidden" value="{{ gps_data|safe }}" id="id_data">
  <div class="bank">
    {% for item in page_obj %}
      <div>
        <div class="gallery">
          {% if item.is_dir == 0 %}
            <a href="goto/?file={{ item.url }}">  <img src="get_thumb/?file=dir" alt="{{ item.name }}">  </a>
          {% else %}
            <a href="one/?file={{ item.url }}">  <img src="get_thumb/?file={{ item.url }}" alt="{{ item.name }}">  </a>
          {% endif %}
          <div class="desc">{{ item.name }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  {% if page_obj %}
    <p>
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a class="w3-button" href="?page=1">&laquo;</a>
              <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
          {% endif %}
  
          <span class="current active w3-button w3-theme-l1">
              {{ page_obj.number }}
          </span>
  
          {% if page_obj.has_next %}
              <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
              <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
          {% endif %}
      </span>
    </div>
  {% endif %}

{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/UploadFile.js' %}"></script>
{% endblock %}


