{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'scss/tune.css' %}" rel="stylesheet">
  <link href="{% static 'scss/home.css' %}" rel="stylesheet">
  <link href="{% static 'scss/photo.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
{% endblock %}

{% block actions %}
  {% for crumb in bread_crumbs %}
    {% if crumb.url %}
      <a href="{{ crumb.url }}">{{ crumb.name }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    {% else %}
      {{ crumb.name }}
    {% endif %}
  {% endfor %}
  <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'v2/rok/icon/add-gray.png' %}">{% trans 'add photo'|capfirst %}</button>
{% endblock %}

{% block main %}
  <div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
    {% include "base/title.html" %}
    <input type="hidden" value="{{ gps_data|safe }}" id="id_data">
    <div id="mapid"></div>
  </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/docs.js' %}"></script>
  <script>
    buildDirTree('dirs-tree');
  </script>
  <script src="{% static 'js/photo.js' %}"></script>
  <script src="{% static 'js/uploadFile.js' %}"></script>
{% endblock %}
