{% extends "hier/content_top.html" %}
{% load static i18n %}

{% block extrastyle %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

  <link rel="stylesheet" type="text/css" href="{% static 'photo/css/photo.css' %}">
{% endblock %}

{% block actions %}
  {% for crumb in bread_crumbs %}
    {% if crumb.url %}
      <a href="{{ crumb.url }}">{{ crumb.name }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    {% else %}
      {{ crumb.name }}
    {% endif %}
  {% endfor %}
  <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}">{% trans 'add photo'|capfirst %}</button>
{% endblock %}

{% block items_content %}
  <input type="hidden" value="{{ gps_data|safe }}" id="id_data">
  <div id="mapid"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'photo/js/photo.js' %}"></script>
{% endblock %}
