{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'scss/form.css' %}" rel="stylesheet">
  <link href="{% static 'scss/category.css' %}" rel="stylesheet">
  <link href="{% static 'scss/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'iziToast/css/iziToast.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  <form method="post" class="item-form px-2" enctype="multipart/form-data" id="article_form" data-item_id="{{ ed_item.id|cut:" " }}">{% csrf_token %}
    {% include "base/title.html" %}
    {% include "base/form_errors.html" %}

    {% block item_detail %}{% endblock %}

    <div class="d-flex justify-content-evenly mt-3 pb-5">
      <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
        {% trans 'save'|capfirst %}
      </button>
      <button type="button" name="form_close" class="btn btn-secondary bi-x" onclick="closeForm()" title="{% trans 'close edit form'|capfirst %}">
        {% trans 'close'|capfirst %}
      </button>
      <button type="button" name="item_delete" class="btn btn-danger bi-trash" onclick="delItemConfirm('{{config.get_cur_role}}', '{{ban_on_deletion}}', '{{delete_question}} {{title}}?')" title="{% trans 'delete record'|capfirst %}">
        {% trans 'delete'|capfirst %}
      </button>
    </div>

    {% block footer_detail %}
      <div class="row">
        <div class="col">{% trans 'created'|capfirst %}: {{ item.created }}</div>
        {% if item.completed %}<div class="col">{% trans 'completed'|capfirst %}: {{ item.completion }}</div>{% endif %}
      </div>
    {% endblock %}
  </form>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>
  <script src="{% static 'js/form.js' %}"></script>
  <script src="{% static 'js/getRateOnDate.js' %}"></script>
{% endblock %}