{% load static i18n %}

<div class="related d-flex">
    {% for role in related_roles %}
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="{{ role.href }}" role="button" id="relRoleLink_{{ role.name }}" 
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-{{ role.icon }}" title="Related role is '{{ role.name }}'"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="relRoleLink_{{ role.name }}">
                <li><a class="dropdown-item" href="{{ role.href }}">{% trans 'go to linked role'|capfirst %}</a></li>
                <li><button type="button" class="dropdown-item" onclick="delRole('{{ role.name }}')">{% trans 'remove relation'|capfirst %}</button></li>
            </ul>
        </div>
    {% endfor %}
    {% for role in possible_related %}
        <button class="btn possible-related bi-{{ role.icon }}" type="button" id="addRole_{{ role.name }}" 
            onclick="addRole('{{ role.name }}')" title="Possible related role is '{{ role.name }}'"></button>
    {% endfor %}
</div>

{% if not hide_add_item_input %}
    {% include add_item_template %}
{% endif %}

{% if sorts %}
    <div class="dropdown">
        <button class="btn bi-sort-alpha-down{% if dark_theme %} dark-theme{% endif %}" type="button" id="dropdownMenuButton1" 
            data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for sort in sorts %}
                <button type="button" class="btn dropdown-item" 
                    onclick="setSort({{config.cur_view_group.id|escape}}, '{{ sort.id }}')">{{ sort.name }}</button>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if themes %}
    <div class="dropdown mx-3">
        <button class="btn bi-gear{% if dark_theme %} dark-theme{% endif %}" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
            data-bs-auto-close="false" aria-expanded="false"></button>
        <ul class="dropdown-menu wide" aria-labelledby="dropdownMenuButton1">
            <p>{% trans 'Theme' %}</p>
            {% for theme in themes %}
                <button type="button" class="btn theme{% if theme.style %} {{ theme.style }}{% endif %}" 
                    onclick="setTheme({{config.cur_view_group.id|escape}}, {{ theme.id|escape }})">
                    {% if theme.img %}<img src="/static/backgrounds/{{ theme.img }}/thumb.jpg">{% endif %}
                </button>
            {% endfor %}
            {% if config.use_sub_groups %}
            <div class="form-check form-switch my-1 mx-1">
                <input type="checkbox" name="use_sub_groups" id="id_use_sub_groups" class="form-check-input" 
                {% if config.cur_view_group.use_sub_groups %} checked{% endif %} onclick="toggleSubGroups({{config.cur_view_group.id|escape}})">
                <label for="id_use_sub_groups" class="form-check-label">
                    {% trans 'use groups'|capfirst %}
                </label>
            </div>
            {% endif %}
            {% if config.cur_view_group.view_id == 'planned' %}
            <div class="form-check form-switch my-1 mx-1">
                <input type="checkbox" name="services_visible" id="id_services_visible" class="form-check-input" 
                {% if config.cur_view_group.services_visible %} checked{% endif %} onclick="toggleServicesVisible({{config.cur_view_group.id|escape}})">
                <label for="id_services_visible" class="form-check-label">
                    {% trans 'services visible'|capfirst %}
                </label>
            </div>
            {% endif %}
        </ul>
    </div>
{% endif %}
