.week-row {
    display: flex;
    flex-direction: row;
}

.week-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86px;
}

.subtitle {
    padding: 0 10px;
}

.option-links {
    background-color: rgb(0, 153, 255);
    min-height: 40px;
}
.option-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    text-align: center;
}

.option-link.active {
    background-color: rgba(0, 0, 0, 0.25);
}

.widget-content .widget-title {
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 15px;
    background-color: rgb(235, 233, 233);
}

.day-name, .day-date, .day-icon {
    margin: 0 auto;
}

.weather-icon {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 5px;
}

.week-column.blue {
    color: rgb(0, 153, 255);
}

.week-column.red {
    color: rgb(204, 0, 0);
}

.week-wind, .week-precipitation {
    text-align: center;
}

.bar .top {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--widget_background_color);
}

.bar .mid {
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

.bar .bot {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 25px;
    background-color: var(--widget_background_color);
}

.temp-bars {
    display: flex;
    align-items: start;
}

.week-wind, .week-precipitation {
    font-size: 0.9rem;
}

.day-wind {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wind-icon {
    font-size: 1rem;
    padding: 3px;
}

.day-preci {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.day-preci .bar {
    background-color: #a1d7ff;
    width: 100%;
}