{% extends "wage/main.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'wage:index' %}">Начало</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_list' %}">Сотрудники</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_form' employee.id %}">{{ employee.fio }}</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:appoint_add' employee.id %}">Добавить</a>
{% endblock %}

{% block wage_content %}
<div class="w3-container w3-padding">
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Назначен с</th> <th>Контракт до</th> <th>Отдел</th> <th>Должность</th> <th>Оклад</th> <th>Валюта</th> <th>Дополнительная информация</th> </tr>
    </thead>
    <tbody>
      {% for appoint in appoints %}
      <tr>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.dBeg|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.dEnd|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.depart }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.post }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.salary }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.currency }}</a></td>
        <td><a href="{% url 'wage:appoint_form' employee.id appoint.id %}">{{ appoint.info }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
