{% extends "wage/main.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'wage:index' %}">Начало</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_list' %}">Сотрудники</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_form' employee.id %}">{{ employee.fio }}</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:child_list' employee.id %}">Дети</a>
  {% if pk != 0 %}
    <a class="w3-bar-item w3-button w3-red w3-right" href="{% url 'wage:child_del' employee.id pk %}">Удалить</a>
  {% endif %}
{% endblock %}

{% block wage_content %}
<div class="w3-container w3-padding">

  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.born.errors }} {{ form.born.label_tag }} {{ form.born }} {% if form.born.help_text %}<div class="help">{{ form.born.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% if form.name.help_text %}<div class="help">{{ form.name.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.info.errors }} {{ form.info.label_tag }} {{ form.info }} {% if form.info.help_text %}<div class="help">{{ form.info.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.sort.errors }} {{ form.sort.label_tag }} {{ form.sort }} {% if form.sort.help_text %}<div class="help">{{ form.sort.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding">
      {% if pk == 0 %}
        <input type="submit" value="Добавить" class="default">
      {% else %}
        <input type="submit" value="Сохранить" class="default">
      {% endif %}
      <p>
    </div>

  </form>

</div>
{% endblock %}

