{% extends "wage/main.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'wage:index' %}">Начало</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:depart_list' %}">Отделы</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:depart_form' depart.id %}">{{ depart.name }}</a>
  {% if pk != 0 %}
    <a class="w3-bar-item w3-button w3-red w3-right" href="{% url 'wage:dep_hist_del' depart.id pk %}">Удалить</a>
  {% endif %}
{% endblock %}

{% block wage_content %}
<div class="w3-container w3-padding">

  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.dBeg.errors }} {{ form.dBeg.label_tag }} {{ form.dBeg }} {% if form.dBeg.help_text %}<div class="help">{{ form.dBeg.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-threequarter"><div class="w3-margin rok-field">
          {{ form.node.errors }} {{ form.node.label_tag }} {{ form.node }} {% if form.node.help_text %}<div class="help">{{ form.node.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding">
      {% if pk == 0 %}
        <input type="submit" value="Добавить" class="default">
      {% else %}
        <input type="submit" value="Сохранить" class="default">
      {% endif %}
      <p>
    </div>

  </form>

</div>
{% endblock %}
