{% extends "hier/list.html" %}
{% load static i18n %}

{% block actions %}
  <button type="submit" name="item-add"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}">{% trans 'add department history record'|capfirst %}</button>
{% endblock %}

{% block article_content %}
  <div class="header">
    <div class="row">
      {{ form.name.label_tag }}
    </div>
    {% if form.name.errors %}
      <div class="row">
        <div class="field-error">{{ form.name.errors }}</div>
      </div>
    {% endif %}
    <div class="row editable-content full-width main-element">
      {{ form.name }}
    </div>
  </div>

  <div class="body">
    <div class="section">
      <!-- Note.descr -->
      <div class="section-item">
        <div class="section-inner">
          <div class="field-error">{{ form.sort.errors }}</div>
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="label">{{ form.sort.label_tag }}</div>
              <div class="input">{{ form.sort }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

