{% extends "base_list.html" %}

{% block win_content %}
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Наименование</th> <th>Сортировка</th> </tr>
    </thead>
    <tbody>
      {% for depart in page_obj %}
      <tr>
        <td><a href="{% url 'wage:depart_form' depart.id %}">{{ depart.name }}</a></td>
        <td><a href="{% url 'wage:depart_form' depart.id %}">{{ depart.sort }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
