{% extends "base_list.html" %}

{% block win_content %}
<div class="w3-container w3-padding">
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Начало</th> <th>Окончание</th> <th>ВУЗ</th> <th>Учебный курс</th> <th>Специальность</th> <th>Квалификация</th> <th>Документ</th> <th>Номер</th> <th>Город</th> <th>Дата документа</th> <th>Дополнительная информация</th> </tr>
    </thead>
    <tbody>
      {% for education in page_obj %}
      <tr>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.dBeg|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.dEnd|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.institution   }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.course        }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.specialty     }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.qualification }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.document      }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.number        }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.city          }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.docdate|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:education_form' employee.id education.id %}">{{ education.info          }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}