{% extends "base_window.html" %}
{% load i18n %}

{% block win_content %}
<div class="w3-container w3-padding">

  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.dBeg.errors }} {{ form.dBeg.label_tag }} {{ form.dBeg }} {% if form.dBeg.help_text %}<div class="help">{{ form.dBeg.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.dEnd.errors }} {{ form.dEnd.label_tag }} {{ form.dEnd }} {% if form.dEnd.help_text %}<div class="help">{{ form.dEnd.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.city.errors }} {{ form.city.label_tag }} {{ form.city }} {% if form.city.help_text %}<div class="help">{{ form.city.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.institution.errors }} {{ form.institution.label_tag }} {{ form.institution }} {% if form.institution.help_text %}<div class="help">{{ form.institution.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.course.errors }} {{ form.course.label_tag }} {{ form.course }} {% if form.course.help_text %}<div class="help">{{ form.course.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.specialty.errors }} {{ form.specialty.label_tag }} {{ form.specialty }} {% if form.specialty.help_text %}<div class="help">{{ form.specialty.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.qualification.errors }} {{ form.qualification.label_tag }} {{ form.qualification }} {% if form.qualification.help_text %}<div class="help">{{ form.qualification.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.document.errors }} {{ form.document.label_tag }} {{ form.document }} {% if form.document.help_text %}<div class="help">{{ form.document.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.number.errors }} {{ form.number.label_tag }} {{ form.number }} {% if form.number.help_text %}<div class="help">{{ form.number.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.docdate.errors }} {{ form.docdate.label_tag }} {{ form.docdate }} {% if form.docdate.help_text %}<div class="help">{{ form.docdate.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-rest"><div class="w3-margin rok-field">
          {{ form.info.errors }} {{ form.info.label_tag }} {{ form.info }} {% if form.info.help_text %}<div class="help">{{ form.info.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding">
      {% if pk == 0 %}
        <button type="submit" class="dialog default">{% trans 'add'|capfirst %}</button>
      {% else %}
        <button type="submit" class="dialog default">{% trans 'save'|capfirst %}</button>
      {% endif %}
      <p>
    </div>

  </form>

</div>
{% endblock %}
