{% extends "base_window.html" %}

{% block win_content %}
<div class="w3-container w3-padding">

  <form class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    <div class="w3-row">
      <div class="w3-half"><div class="w3-margin rok-field">
        {{ form.fio.label_tag }} {{ form.fio }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.appoint_beg.label_tag }} {{ form.appoint_beg }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.appoint_end.label_tag }} {{ form.appoint_end }}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.salary.label_tag }} {{ form.salary }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.currency.label_tag }} {{ form.currency }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.salaryRate.label_tag }} {{ form.salaryRate }}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-half"><div class="w3-margin rok-field">
        {{ form.department.label_tag }} {{ form.department }}
      </div></div>
      <div class="w3-half"><div class="w3-margin rok-field">
        {{ form.post.label_tag }} {{ form.post }}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.plan_days.label_tag }} {{ form.plan_days }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.factDays.label_tag }} {{ form.factDays }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.privilege.label_tag }} {{ form.privilege }}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.debtIn.label_tag }} {{ form.debtIn }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.accrued.label_tag }} {{ form.accrued }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.paid_out.label_tag }} {{ form.paid_out }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.debtOut.label_tag }} {{ form.debtOut }}
      </div></div>
    </div>

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.debt_in_v.label_tag }} {{ form.debt_in_v }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.accrued_v.label_tag }} {{ form.accrued_v }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.paid_out_v.label_tag }} {{ form.paid_out_v }}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {{ form.debt_out_v.label_tag }} {{ form.debt_out_v }}
      </div></div>
    </div>

  </form>

</div>

{% endblock %}
