{% extends "base_list.html" %}

{% block win_content %}
<div class="w3-container w3-padding">
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Использовалась до</th> <th>Фамилия</th> <th>Дополнительная информация</th> </tr>
    </thead>
    <tbody>
      {% for fio_hist in page_obj %}
      <tr>
        <td><a href="{% url 'wage:fio_hist_form' employee.id fio_hist.id %}">{{ fio_hist.dEnd|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:fio_hist_form' employee.id fio_hist.id %}">{{ fio_hist.fio }}</a></td>
        <td><a href="{% url 'wage:fio_hist_form' employee.id fio_hist.id %}">{{ fio_hist.info }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
