{% extends "wage/main.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'wage:depart_list'    %}">Отделы</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:post_list'      %}">Должности</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:pay_title_list' %}">Виды начислений и выплат</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:period_list'    %}">Периоды</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_list'      %}">Сотрудники</a>

  <a class="w3-bar-item w3-button w3-right w3-red" href="{% url 'wage:clear' %}">Удалить всё</a>
  <a class="w3-bar-item w3-button w3-right" href="{% url 'wage:xml_import' %}">Импортировать</a>
{% endblock %}

{% block wage_content %}
<div class="w3-row">
    <table class="w3-table-all w3-card-4">
      <thead>
        <tr class="w3-theme-l3"> <th>Таблица</th> <th>Записей</th> </tr>
      </thead>
      <tbody>
        {% for table, qty in stat %}
          <tr> <td>{{ table }}</td> <td>{{ qty }}</td> </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
