{% extends "wage/main.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'wage:index' %}">Начало</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_list' %}">Сотрудники</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:empl_form' employee.id %}">{{ employee.fio }}</a>
  <a class="w3-bar-item w3-button" href="{% url 'wage:payout_add' employee.id y m %}">Добавить</a>
{% endblock %}

{% block wage_content %}
<div class="w3-container w3-padding">
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Дата</th> <th>Наименование</th> <th>Сумма</th> <th>Валюта</th> <th>Курс</th> <th>Дополнительная информация</th> <th>Сортировка</th> </tr>
    </thead>
    <tbody>
      {% for payout in payouts %}
      <tr>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.payed|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.title    }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.value    }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.currency }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.rate     }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.info     }}</a></td>
        <td><a href="{% url 'wage:payout_form' employee.id y m payout.id %}">{{ payout.sort     }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
