{% extends "base_list.html" %}

{% block win_content %}
  <table class="w3-table-all w3-hoverable w3-card-4">
    <thead>
      <tr class="w3-theme-l3"><th>Тек.</th> <th>Месяц/год</th> <th>План, дней</th> <th>Дата аванса</th> <th>Дата выплаты</th> <th>Курс аванса</th> <th>Курс выплаты</th> <th>Курс вх. остатка</th> <th>Дата выплаты 2 части</th> <th>Курс выплаты 2 части</th> </tr>
    </thead>
    <tbody>
      {% for period in page_obj %}
      <tr>
        <td>{{ period.s_active }}</td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.dBeg|date:'m.Y' }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.planDays }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.AvansDate|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.PaymentDate|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.AvansRate }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.PaymentRate }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.DebtInRate }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.Part2Date|date:'d.m.Y' }}</a></td>
        <td><a href="{% url 'wage:period_form' period.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">{{ period.Part2Rate }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
