{% extends "base_window.html" %}

{% block breadcrumbs %}
  {% if views.0 %}
    <div class="w3-dropdown-click">
      <button onclick="ShowMenu('get_view')" class="w3-button">Выбор</button>
      <div id="get_view" class="w3-dropdown-content w3-bar-block w3-card-4">
        {% for view in views %}
          <a class="w3-bar-item w3-button w3-hover-dark" href="{% url 'note:view_set' view.id %}">{{ view.name }}</a>
        {% endfor %}
      </div>
    </div>    
  {% endif %}
  <div class="w3-dropdown-click">
    <button onclick="ShowMenu('settings')" class="w3-button">Настройка</button>
    <div id="settings" class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button w3-hover-dark" href="{% url 'note:list_list' %}">Списки</a>
      <a class="w3-bar-item w3-button w3-hover-dark" href="{% url 'note:view_list' %}">Представления</a>
    </div>
  </div>    
  <a class="w3-bar-item w3-button" href="{% url 'note:chrono_add' %}?list={{sets.0.0.id}}">{{ sets.0.0.name }}</a>
{% endblock %}

{% block win_content %}

<div class="w3-row">
  {% for note in sets.0.1 %}
    <a class="w3-bar-item w3-button" href="{% url 'note:chrono_form' note.id %}">{{ note.publ|date:'d.m.Y' }}</a>
    <button onclick="myFunction('Demo{{ note.id }}')" class="w3-bar-item w3-button w3-left-align">{{ note.name }}</button><br>
    <div id="Demo{{ note.id }}" class="w3-border w3-padding w3-light-gray w3-hide">
      {% autoescape off %}
      {{ note.descr }}
      {% endautoescape %}
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>

    function ShowMenu(menu_id) {
      var x = document.getElementById(menu_id);
      if (x.className.indexOf("w3-show") == -1) { 
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
{% endblock %}
