{% extends "base_window.html" %}

{% block win_content %}
<div class="w3-container w3-padding">

  <form method="post" class="w3-container w3-card-4 w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-threequarter"><div class="w3-margin rok-field">
          {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% if form.name.help_text %}<div class="help">{{ form.name.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.publ.errors }} {{ form.publ.label_tag }} {{ form.publ }} {% if form.publ.help_text %}<div class="help">{{ form.publ.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <input type="hidden" name="list" id="id_list" value="{{ form.list.value }}">

    <div class="collapse {% if form.descr.value %}show{% endif %}" id="descr">
      <div class="w3-rest"><div class="w3-margin rok-field">
          {{ form.descr.errors }} {{ form.descr.label_tag }} {{ form.descr }} {% if form.descr.help_text %}<div class="help">{{ form.descr.help_text|safe }}</div>{% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding w3-center">
      {% if pk == 0 %}
        <input type="submit" value="Добавить" class="default">
      {% else %}
        <input type="submit" value="Сохранить" class="default">
      {% endif %}
      <p>
    </div>

  </form>

</div>
{% endblock %}
