{% extends "hier/list.html" %}
{% load static i18n %}

{% block article_info %}
  {{ item_info }}
{% endblock %}

{% block article_content %}
  <!-- Note.name -->
  <div class="header">
    <div class="row">
      {{ form.name.label_tag }}
    </div>
    {% if form.name.errors %}
      <div class="row">
        <div class="field-error">{{ form.name.errors }}</div>
      </div>
    {% endif %}
    <div class="row editable-content full-width main-element">
      {{ form.name }}
    </div>
  </div>

  <div class="body">
    <div class="section">
      <!-- Note.descr -->
      <div class="section-item">
        <div class="section-inner">
          <div class="field-error">{{ form.descr.errors }}</div>
          <div class="editable-content full-width">
            <div class="labeled-input">
              <div class="label">{{ form.descr.label_tag }}</div>
              <div class="input">{{ form.descr }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Note.url -->
      {% if form.url.errors %}
        <div class="row">
          <div class="field-error">{{ form.url.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="label">{{ form.url.label_tag }}</div>
        {% if form.url.value %}
          <input type="hidden" name="url" value="{{ form.url.value }}" id="id_url">
          <a href="{{ form.url.value }}">{{ form.url.value }}</a>
          <button type="submit" name="url_delete" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
        {% else %}
          <div class="input">{{ form.url }}</div>
        {% endif %}
      </div>

      <!-- Note.lst -->
      {% if form.lst.errors %}
        <div class="field-error">{{ form.lst.errors }}</div>
      {% endif %}
      <div class="row">
        <div class="label">{{ form.lst.label_tag }}</div>
        <div class="input">{{ form.lst }}</div>
      </div>
    </div> <!-- section -->

    <div class="section">
      <!-- Note.publ -->
      {% if form.publ.errors %}
        <div class="row">
          <div class="field-error">{{ form.publ.errors }}</div>
        </div>
      {% endif %}
      <div class="row">
        {{ form.publ.label_tag }}
      </div>
      <div class="row" id="id_publ_view">
        <div class="full-width">{{ form.publ.value|date:'d.m.Y G:i' }}</div>
        <div class="button field-icon" id="id_edit" onclick="OpenPublEdit()"><img src="{% static 'rok/icon/edit.png' %}"></div>
      </div>
      <div class="row" id="id_publ_edit">
        {{ form.publ }}
      </div>
    </div> <!-- section -->

    {% include "hier/categories.html" %}
  
    <div class="section">
      <!-- file-list -->
      <div class="file-list">
        {% for file in files %}
          <div class="file-item">
            <a href="{{ file.url }}" class="clickable-item">
              <div class="thumbnail-wrapper" style="background-color: {{ file.design }}">
                <div class="thumbnail">{{ file.ext }}</div>
              </div>
              <div class="file-content">
                <div class="file-title">{{ file.name }}</div>
                <div class="file-metadata">{{ file.sizeof_fmt }}</div>
              </div>
            </a>
            <button type="submit" name="file_delete" value="{{ file.url }}" class="field-icon"><img src="{% static 'rok/icon/delete.png' %}"></button>
          </div>
        {% endfor %}
      </div> <!-- file-list -->
  
      <!-- file-add -->
      <div class="file-add">
        <div class="section-item">
          <button type="button" name="file_upload" class="section-inner-click" onclick="UploadFile()">
            <div class="section-inner">
              <div class="section-icon">
                <img src="{% static 'todo/icon/file.png' %}">
              </div>
              <div class="section-content">
                <div class="section-title">
                  <div id="loadFile" type="button">{% trans 'add file'|capfirst %}</div>
                  <input type="file" style="display:none;" id="id_upload" name="upload" onchange="FileSelected()">
                </div>
              </div>
            </div>
          </button>
          <button type="submit" id="id_submit" name="file_upload"></button>
        </div>
      </div> <!-- file-add -->
    </div> <!-- section -->

  </div> <!-- body -->
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/AddAutoResize.js' %}"></script>
  <script src="{% static 'rok/js/UploadFile.js' %}"></script>
  <script src="{% static 'rok/js/CategoryDelete.js' %}"></script>
  <script src="{% static 'note/js/OpenPublEdit.js' %}"></script>
{% endblock %}

