{% extends "base_window.html" %}
{% load i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {{ block.super }}
{% endblock %}

{% block win_content %}
  <form method="post" class="rok-form w3-light-grey">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="rok-row">
      <div class="rok-field rok-half">      {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }}    </div>
      <div class="rok-field rok-quarter">   {{ form.code.errors }} {{ form.code.label_tag }} {{ form.code }}    </div>
    </div>

    <div class="rok-row">
      <a href="#descr" data-toggle="collapse">{% trans 'description'|capfirst %}</a>
    </div>

    <div class="collapse {% if form.descr.value %}show{% endif %}" id="descr">
      <div class="rok-field rok-rest">      {{ form.descr.errors }} {{ form.descr }}   </div>
    </div>

    <div class="rok-form-buttons">
      {% if pk == 0 %}
        <button type="submit" class="dialog default">{% trans 'add'|capfirst %}</button>
      {% else %}
        <button type="submit" class="dialog default">{% trans 'save'|capfirst %}</button>
      {% endif %}
    </div>

  </form>

</div>
{% endblock %}

