{% extends "base_sidebar.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'rok/css/rok.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block aside_content %}
  <ul class="nav-menu">
    <li{% if restriction == 'all' %} class="selected"{% endif %}><a class="fix" href="{% url 'note:all_notes' %}">
        <div class="nav-menu-item-left">
          <img src="{% static 'rok/icon/all.png' %}">
          {% trans 'all'|capfirst %}
        </div>
        <div class="nav-menu-qty">{{ all_qty }}</div>
      </a></li>
  </ul>
  
  <div class="nav-last-static-list"></div>
  
  <ul class="nav-menu">
    {% for node in groups %}
      <li class="grp-item">
        {% if node.is_list %}
          <a href="{% url 'note:list_notes' node.id %}">
            <div class="nav-menu-item-left">
              <img class="level-{{ node.level }}" src="{% static 'rok/icon/list.png' %}">
              <div>{{ node.name }}</div>
            </div>
          </a>
          <div class="nav-menu-qty">
            {{ node.qty }}
          </div>
        {% else %}
          <a href="{% url 'note:note_group_form' node.id %}">
            <div class="nav-menu-item-x1">
              <img class="level-{{ node.level }}" src="{% static 'rok/icon/group.png' %}">
              <div class="nav-menu-item-x2">{{ node.name }}</div>
            </div>
          </a>
          <div class="nav-menu-item-right">
            <a href="{% url 'note:note_toggle_group' node.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}">
              {% if node.is_open %}
                <img class="img-20_20" src="{% static 'rok/icon/direct-down.png' %}">
              {% else %}
                <img class="img-20_20" src="{% static 'rok/icon/direct-left.png' %}">
              {% endif %}
            </a>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <form method="post" class="grp-actions">{% csrf_token %}
    <button type="submit" name="list-add" class="default lst-add" label="create list"><img class="img-20_20" src="{% static 'rok/icon/add.png' %}"></button>
    <input type="text" class="add-grp" placeholder="{% trans 'create list or group'|capfirst %}" name="name">
    <button type="submit" name="group-add" class="default grp-add" label="create group"><img class="img-20_20" src="{% static 'rok/icon/group-add.png' %}"></button>
  </form>
{% endblock %}

{% block content %}
  <div class="top">
    <div class="main-top-headline">
      <div class="main-title-container">
        {{ title }}
        {% if list_id %}
          <a href="{% url 'note:note_list_form' list_id %}" class="field-icon"><img class="img-20_20" src="{% static 'rok/icon/edit.png' %}"></a>
        {% endif %}
      </div>
      <div class="main-title-subline">
        {{ search_info }}
      </div>
    </div>
    <div class="dropdown">
      <button class="list-sort dropbtn" onclick="ShowMenu('sort_menu')">
        <img src="{% static 'todo/icon/sort.png' %}">
        {% trans 'sort'|capfirst %}
      </button>
      <form method="post" class="sort-actions">{% csrf_token %}
        <div class="dropdown-content pos-sort" id="sort_menu">
          <div class="dropdown-content-title">{% trans 'sort order'|capfirst %}</div>
          <button type="submit" class="dropdown-content-item" name="sort-name">  <img src="{% static 'todo/icon/important.png' %}"> {% trans 'by name'|capfirst %} </button>
          <button type="submit" class="dropdown-content-item" name="sort-descr"> <img src="{% static 'todo/icon/important.png' %}"> {% trans 'by description'|capfirst %} </button>
          <button type="submit" class="dropdown-content-item" name="sort-publ">  <img src="{% static 'todo/icon/created.png' %}">   {% trans 'by publication date'|capfirst %}    </button>
          <button type="submit" class="dropdown-content-item" name="sort-lmod">  <img src="{% static 'todo/icon/created.png' %}">   {% trans 'by last modification date'|capfirst %}    </button>
        </div>
      </form>

      <div class="sort">
        {% if sort_mode %}
        <form method="post" class="sort-actions sort">{% csrf_token %}
          <button type="submit" name="sort-direction">
            {% if sort_dir %}
              <img class="img-20_20" src="{% static 'rok/icon/direct-down.png' %}">
            {% else %}
              <img class="img-20_20" src="{% static 'rok/icon/direct-up.png' %}">
            {% endif %}
          </button>
          <span>{{ sort_mode }}</span>
          <button type="submit" name="sort-delete">
            <img class="img-20_20" src="{% static 'rok/icon/delete.png' %}">
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  
  <form method="post" class="actions">{% csrf_token %}
    <button type="submit" name="item-add" class="default" placeholder="{% trans 'add note'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/add-gray.png' %}"></button>
    <input type="text" class="add-item" placeholder="{% trans 'add note'|capfirst %}" name="item_add-name" maxlength="200" required="" id="id_item_add-name">
  </form>
  
  <div class="tree">
    <ul>
      {% for item in page_obj %}
      <li>
        <a href="{% url 'note:note_form' item.id %}?q={{ request.GET.q }}&page={{ page_obj.number }}" class="tree-item{% if item.id == item_id %} current{% endif %}">
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="descr">
              <div class="inline-element">
                {% for attr in item.get_info %}
                  <div class="inline-element">
                    {% if attr.icon == "attach" %}
                      <img class="inline-icon" src="{% static 'rok/icon/inline/attach.png' %}">
                    {% elif attr.icon == "category" %}
                      <span class="inline-icon category-icon {{ attr.color }}"></span>
                    {% elif attr.icon == "notes" %}
                      <img class="inline-icon" src="{% static 'rok/icon/inline/notes.png' %}">
                    {% elif attr.icon == "url" %}
                      <img class="inline-icon" src="{% static 'rok/icon/inline/click.png' %}">
                    {% elif attr.icon == "separator" %}
                      <img class="inline-icon" src="{% static 'rok/icon/inline/separator.png' %}">
                    {% endif %}
                    {% if attr.text %}
                      <div class="inline-label {% if attr.color %}{{ attr.color }}{% endif %}"><span>{{ attr.text }}</span></div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </a></li>
      {% endfor %}
    </ul>
    
    {% if page_obj %}
      <p>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="w3-button" href="?page=1">&laquo;</a>
                <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    
            <span class="current active w3-button w3-theme-l1">
                {{ page_obj.number }}
            </span>
    
            {% if page_obj.has_next %}
                <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'rok/js/dropdown-menu.js' %}"></script>
{% endblock %}


