{% extends "base_window.html" %}

{% block breadcrumbs %}
  <a class="w3-bar-item w3-button" href="{% url 'note:index' %}">Доска</a>
  <a class="w3-bar-item w3-button" href="{% url 'note:view_list' %}">Представления</a>
  {% if pk != 0 %}
    <a class="w3-bar-item w3-button w3-red w3-right" href="{% url 'note:view_del' pk %}">Удалить</a>
  {% endif %}
{% endblock %}

{% block win_content %}
<div class="w3-container w3-padding w3-card-4 w3-light-grey">

  <form method="post" class="w3-container">{% csrf_token %}

    {% if form.errors %} <p class="errornote"> {% if form.errors.items|length == 1 %}Нужно исправить ошибку.{% else %}Нужно исправить ошибки{% endif %} </p> {% endif %}
    {% if form.non_field_errors %} {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %} {% endif %}

    <div class="w3-row">
      <div class="w3-quarter"><div class="w3-margin rok-field">
          {{ form.code.errors }} {{ form.code.label_tag }} {{ form.code }} {% if form.code.help_text %}<div class="help">{{ form.code.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-half"><div class="w3-margin rok-field">
          {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% if form.name.help_text %}<div class="help">{{ form.name.help_text|safe }}</div>{% endif %}
      </div></div>
      <div class="w3-quarter"><div class="w3-margin rok-field">
        {% if pk %}
          {% if form.chrono.value %} {{ form.chrono.label_tag }} {% endif %}
          <input type="hidden" name="chrono_id" id="chrono_id" value="{{ form.chrono.value }}">
        {% else %}
          {{ form.chrono.errors }} {{ form.chrono.label_tag }} {{ form.chrono }} {% if form.chrono.help_text %}<div class="help">{{ form.chrono.help_text|safe }}</div>{% endif %}
        {% endif %}
      </div></div>
    </div>

    <div class="w3-row w3-padding w3-center">
      {% if pk == 0 %}
        <input type="submit" value="Добавить" class="default">
      {% else %}
        <input type="submit" value="Сохранить" class="default">
      {% endif %}
      <p>
    </div>

  </form>

  {% if pk and not form.chrono.value %}
  <div class="w3-row">
    <div class="w3-half">
      <h4>Выбрано</h4>
      <div class="w3-bar-block">
        {% for sl in selected_list %}
          <a href="{% url 'note:view_list_del' pk sl.id %}" class="w3-bar-item w3-button" style="background: {{ sl.color }};">{{ sl.full_name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="w3-half">
      <h4>Доступно</h4>
      <div class="w3-bar-block">
        {% for al in available_list %}
          <a href="{% url 'note:view_list_add' pk al.id %}" class="w3-bar-item w3-button" style="background: {{ al.color }};">{{ al.full_name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}

