body {
  font-family: arial, sans-serif;
}

header {
  display: block;
  background: #aaffff
}

aside {
  display: block;
  width: 200px;
  float: right;
  background: #ffaaff
}

article {
  display: block;
  margin-right: 240px;
  background: #ffffaa
}

footer {
  display: block;
  background: #aaffff
}

.currentDayOfWeek {
  color: magenta;
}

