{% extends "base/dialog.html" %}
{% load i18n static %}

{% block content %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    {% include "base/form_snippet.html" %}
    <button type="submit" class="w-100 btn btn-lg btn-primary">{% trans 'Change my password' %}</button>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
