{% extends "base/dialog.html" %}
{% load i18n static %}
{#{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}#}

{% block content %}
  <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
  {% include "base/form_snippet.html" %}
  <button type="submit" class="w-100 btn btn-lg btn-primary">{% trans 'Change my password' %}</button>
{% endblock %}
