{% extends "base_dialog.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block content %}
{% if show_form %}
  <form action="{{ app_path }}" method="post" id="register-form">{% csrf_token %}

    <div class="w3-row">
      <div class="w3-rest"><div class="w3-margin rok-field">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
        {% if form.username.help_text %}
        <div class="help">{{ form.username.help_text|safe }}</div>
        {% endif %}
      </div></div>
    </div>
    
    <div class="w3-row">
      <div class="w3-rest"><div class="w3-margin rok-field">
        {{ form.password1.errors }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {% if form.password1.help_text %}
        <div class="help">{{ form.password1.help_text|safe }}</div>
        {% endif %}
      </div></div>
    </div>
    
    <div class="w3-row">
      <div class="w3-rest"><div class="w3-margin rok-field">
        {{ form.password2.errors }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        {% if form.password2.help_text %}
        <div class="help">{{ form.password2.help_text|safe }}</div>
        {% endif %}
      </div></div>
    </div>
    
    <div class="w3-row">
      <div class="w3-rest"><div class="w3-margin rok-field">
        {{ form.email.errors }}
        {{ form.email.label_tag }} {{ form.email }}
      </div></div>
    </div>
  
    <div class="w3-row w3-padding w3-center">
      <button type="submit" class="dialog">{% trans 'Register' %}</button>
    </div>

  </form>
{% endif %}
{% endblock %}
