{% load i18n %}
    <div class="section">
      <div class="section-item">
        <button type="submit" name="task_myday" class="section-inner-click">
          <div class="section-inner">
            <div class="section-icon">
              <i class="bi-sun"></i>
            </div>
            <div class="section-content">
              <div class="section-title{% if item.in_my_day %} selected{% endif %}">
                {% if item.in_my_day %}
                  {% trans 'added in "My day"'|capfirst %}
                {% else %}
                  {% trans 'add to "My day"'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
