{% load i18n %}
<div class="termin-block__fixed">
  <button type="button" name="task_myday" class="termin-block" onclick="toggleMyDay()">
    <div class="termin-block__content" id="toggle-myday">
      <i class="bi-sun termin-block__icon{% if item.in_my_day %} selected{% endif %}"></i>
      <div class="termin-block__title{% if item.in_my_day %} selected{% endif %}">
        {% if item.in_my_day %}
          {% trans 'added in "My day"'|capfirst %}
        {% else %}
          {% trans 'add to "My day"'|capfirst %}
        {% endif %}
      </div>
    </div>
  </button>
</div>
