{% load static i18n %}

    <div class="termin-block-expandable">
      <!-- Task.stop VIEW -->
      <div class="termin-block" id="termin-view">
        <button type="button" class="termin-block__content" onclick="ToggleSelectField('termin')">
          <i class="bi-check2-square termin-block__icon"></i>
          <div id="id_termin_title"
            class="termin-block__title{% if item.b_expired %} expired{% elif item.task_actual %} actual{% endif %}">
            {% if item.stop %}
              {{ item.s_termin }}
            {% else %}
              {{ add_due_date_text }}
            {% endif %}
          </div>
        </button>
        {% if item.stop %}
          <div type="button" name="termin_delete" id="id_termin_delete"
              class="bi-x del-item-icon" onclick="delTermin('{{ add_due_date_text }}')"></div>
        {% endif %}
      </div>

      <!-- Task.stop SELECT -->
      <div class="section-item d-none" id="termin-select">
        <div class="dropdown-content-separator"></div>
        <button type="button" class="dropdown-content-item c001" name="termin_today" onclick="terminToday()">
          <div class="c002">
            <i class="bi-calendar4"></i>
            <span class="c003">{% trans 'later'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_today_info }}</div>
        </button>
        <button type="button" class="dropdown-content-item c001" name="termin_tomorrow" onclick="terminTomorrow()">
          <div class="c002">
            <i class="bi-calendar4-event"></i>
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_tomorrow_info }}</div>
        </button>
        <button type="button" class="dropdown-content-item c001" name="termin_next_week" onclick="terminNextWeek()">
          <div class="c002">
            <i class="bi-calendar4-week"></i>
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_next_week_info }}</div>
        </button>
        <div class="section-inner">
          {{ form.stop.errors }} 
          <div class="section-content">
            <div class="section-title"></div>
            {{ form.stop }}
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>

    </div>
      
    <div class="termin-block-expandable">
      <!-- Task.repeat VIEW -->
      <div class="termin-block" id="repeat-view">
        <button type="button" class="termin-block__content" onclick="ToggleSelectField('repeat')">
          <i class="bi-arrow-repeat termin-block__icon"></i>
          <div id="id_repeat_title" class="termin-block__title">
            {% if item.repeat and item.repeat != 0 %}
              <div {% if item.repeat != 0 %} class="actual"{% endif %}> {{ item.s_repeat }} </div>
              <div class="termin-block__description"> {{ item.repeat_s_days }} </div>
            {% else %}
              {{ repeat_text }}
            {% endif %}
          </div>
        </button>
        {% if item.repeat %}
          <div type="button" name="repeat_delete" id="id_repeat_delete"
              class="bi-x del-item-icon" onclick="delRepeat('{{ repeat_text }}')"></div>
        {% endif %}
      </div>

      <!-- Task.repeat SELECT -->
      <div class="section-item d-none" id="repeat-select">
        <div class="dropdown-content-separator"></div>
          <button type="button" class="dropdown-content-item c001" name="repeat_daily" onclick="repeatSet(1)">
            <div class="c002">
              <i class="bi-calendar2-date"></i>
              <span class="c003">{% trans 'daily'|capfirst %}</span>
            </div>
          </button>
          <button type="button" class="dropdown-content-item c001" name="repeat_workdays" onclick="repeatSet(2)">
            <div class="c002">
              <i class="bi-calendar2-day"></i>
              <span class="c003">{% trans 'work days'|capfirst %}</span>
            </div>
          </button>
          <button type="button" class="dropdown-content-item c001" name="repeat_weekly" onclick="repeatSet(3)">
            <div class="c002">
              <i class="bi-calendar2-week"></i>
              <span class="c003">{% trans 'weekly'|capfirst %}</span>
            </div>
          </button>
          <button type="button" class="dropdown-content-item c001" name="repeat_monthly" onclick="repeatSet(4)">
            <div class="c002">
              <i class="bi-calendar2-month"></i>
              <span class="c003">{% trans 'monthly'|capfirst %}</span>
            </div>
          </button>
          <button type="button" class="dropdown-content-item c001" name="repeat_annually" onclick="repeatSet(5)">
            <div class="c002">
              <i class="bi-calendar2-range"></i>
              <span class="c003">{% trans 'annually'|capfirst %}</span>
            </div>
          </button>
        <div class="dropdown-content-separator"></div>
        <div class="dropdown-content-title-part">{% trans 'repeat every...'|capfirst %}</div>
        <div class="repeat-options-block">
          <div class="repeat-options-main">
            <i class="bi-calendar2"></i>
            <div class="repeat-options-input">
              <div class="repeat-options-num">{{ form.repeat_num }}</div>
              <div class="repeat-options-type">{{ form.repeat }}</div>
            </div>
            <div>&nbsp;</div>
          </div>
          <div class="repeat-options-week">
            <input type="hidden" id="id_repeat_days" name="repeat_days" value="{{ form.repeat_days.value }}" required="">
            <div id="d1" class="button day" type="button" onclick="dayClick(1)">{{ repeat_form_d1 }}</div>
            <div id="d2" class="button day" type="button" onclick="dayClick(2)">{{ repeat_form_d2 }}</div>
            <div id="d3" class="button day" type="button" onclick="dayClick(3)">{{ repeat_form_d3 }}</div>
            <div id="d4" class="button day" type="button" onclick="dayClick(4)">{{ repeat_form_d4 }}</div>
            <div id="d5" class="button day" type="button" onclick="dayClick(5)">{{ repeat_form_d5 }}</div>
            <div id="d6" class="button day" type="button" onclick="dayClick(6)">{{ repeat_form_d6 }}</div>
            <div id="d7" class="button day" type="button" onclick="dayClick(7)">{{ repeat_form_d7 }}</div>
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>
    </div>

    <div class="termin-block-expandable">

      <!-- Task.remind VIEW -->
      <div class="termin-block" id="remind-view">
        <button type="button" class="termin-block__content" onclick="ToggleSelectField('remind')">
          <i class="bi-bell termin-block__icon"></i>
          <div id="id_remind_title" class="termin-block__title">
            {% if task_b_remind %}
              <div {% if remind_active %} class="actual"{% endif %}> {{ task_remind_time }} </div>
              <div class="termin-block__description"> {{ task_remind_date }} </div>
            {% else %}
              {{ remind_text }}
            {% endif %}
          </div>
        </button>
        {% if task_b_remind %}
          <div type="button" name="remind_delete" id="id_remind_delete"
              class="bi-x del-item-icon" onclick="delRemind('{{ remind_text }}')"></div>
        {% endif %}
      </div>


      <!-- Task.remind SELECT -->
      <div class="section-item d-none" id="remind-select">
        <div class="dropdown-content-separator"></div>
        <button type="button" class="dropdown-content-item c001" name="remind_today" onclick="remindToday()">
          <div class="c002">
            <i class="bi-clock"></i>
            <span class="c003">{% trans 'later'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_today_info }}</div>
        </button>
        <button type="button" class="dropdown-content-item c001" name="remind_tomorrow" onclick="remindTomorrow()">
          <div class="c002">
            <i class="bi-clock-history"></i>
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_tomorrow_info }}</div>
        </button>
        <button type="button" class="dropdown-content-item c001" name="remind_next_week" onclick="remindNextWeek()">
          <div class="c002">
            <i class="bi-calendar-week"></i>
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_next_week_info }}</div>
        </button>
        <div class="section-inner">
          {{ form.remind }}
        </div>
        <div class="dropdown-content-separator"></div>
      </div>
    </div>
