{% load static i18n %}

    <div class="section">

      <!-- Task.remind VIEW -->
      <div class="section-item" id="remind-view">
        <div class="section-inner">
          <div class="section-inner-left button d-flex" role="button" onclick="ToggleSelectField('remind')">
            <div class="section-icon">
              <i class="bi-bell"></i>
            </div>
            <div class="section-content">
              <div class="section-title">
                {% if task_b_remind %}
                  <div {% if remind_active %} class="actual"{% endif %}> {{ task_remind_time }} </div>
                  <div class="section-description"> {{ task_remind_date }} </div>
                {% else %}
                  {% trans 'to remind'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if task_b_remind %}
            <button type="submit" name="remind_delete" class="bi-x field-icon"></button>
          {% endif %}
        </div>
      </div>


      <!-- Task.remind SELECT -->
      <div class="section-item d-none" id="remind-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="remind_today">
          <div class="c002">
            <i class="bi-clock"></i>
            <span class="c003">{% trans 'later'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_today_info }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="remind_tomorrow">
          <div class="c002">
            <i class="bi-clock-history"></i>
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_tomorrow_info }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="remind_next_week">
          <div class="c002">
            <i class="bi-calendar-week"></i>
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ remind_next_week_info }}</div>
        </button>
        <div class="section-inner">
          {{ form.remind.label_tag }}
          {{ form.remind }}
        </div>
        <div class="dropdown-content-separator"></div>
      </div>
    </div>
      
    <div class="section">
      <!-- Task.stop VIEW -->
      <div class="section-item" id="termin-view">
        <div class="section-inner">
          <div class="section-inner-left button d-flex" role="button" onclick="ToggleSelectField('termin')">
            <div class="section-icon">
              <i class="bi-check2-square"></i>
            </div>
            <div class="section-content">
              <div class="section-title{% if item.b_expired %} expired{% elif task_actual %} actual{% endif %}">
                {% if item.stop %}
                  {{ item.s_termin }}
                {% else %}
                  {% trans 'add due date'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if item.stop %}
            <button type="submit" name="termin_delete" class="field-icon"><i class="bi-x"></i></button>
          {% endif %}
        </div>
      </div>

      <!-- Task.stop SELECT -->
      <div class="section-item d-none" id="termin-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="termin_today">
          <div class="c002">
            <i class="bi-calendar4"></i>
            <span class="c003">{% trans 'today'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_today_info|date:'D' }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="termin_tomorrow">
          <div class="c002">
            <i class="bi-calendar4-event"></i>
            <span class="c003">{% trans 'tomorrow'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_tomorrow_info|date:'D' }}</div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="termin_next_week">
          <div class="c002">
            <i class="bi-calendar4-week"></i>
            <span class="c003">{% trans 'next week'|capfirst %}</span>
          </div>
          <div class="c004">{{ termin_next_week_info|date:'D' }}</div>
        </button>
        <div class="section-inner">
          {{ form.stop.errors }} 
          <i class="bi-calendar3"></i>
          <div class="section-content">
            <div class="section-title">
              {{ form.stop.label_tag }}
            </div>
            {{ form.stop }}
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>
    </div>
      
    <div class="section">
      <!-- Task.repeat VIEW -->
      <div class="section-item" id="repeat-view">
        <div class="section-inner">
          <div class="section-inner-left button d-flex" role="button" onclick="ToggleSelectField('repeat')">
            <div class="section-icon">
              <i class="bi-arrow-repeat"></i>
            </div>
            <div class="section-content">
              <div class="section-title">
                {% if item.repeat != 0 %}
                  <div {% if item.repeat != 0 %} class="actual"{% endif %}> {{ item.s_repeat }} </div>
                  <div class="section-description"> {{ item.repeat_s_days }} </div>
                {% else %}
                  {% trans 'repeat'|capfirst %}
                {% endif %}
              </div>
            </div>
          </div>
          {% if item.stop %}
            <button type="submit" name="repeat_delete" class="field-icon"><i class="bu-x"></i></button>
          {% endif %}
        </div>
      </div>

      <!-- Task.repeat SELECT -->
      <div class="section-item d-none" id="repeat-select">
        <div class="dropdown-content-separator"></div>
        <button type="submit" class="dropdown-content-item c001" name="repeat_daily">
          <div class="c002">
            <i class="bi-calendar2-date"></i>
            <span class="c003">{% trans 'daily'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat_workdays">
          <div class="c002">
            <i class="bi-calendar2-day"></i>
            <span class="c003">{% trans 'work days'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat_weekly">
          <div class="c002">
            <i class="bi-calendar2-week"></i>
            <span class="c003">{% trans 'weekly'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat_monthly">
          <div class="c002">
            <i class="bi-calendar2-month"></i>
            <span class="c003">{% trans 'monthly'|capfirst %}</span>
          </div>
        </button>
        <button type="submit" class="dropdown-content-item c001" name="repeat_annually">
          <div class="c002">
            <i class="bi-calendar2-range"></i>
            <span class="c003">{% trans 'annually'|capfirst %}</span>
          </div>
        </button>
        <div class="dropdown-content-separator"></div>
        <div class="dropdown-content-title-part">{% trans 'repeat every...'|capfirst %}</div>
        <div class="repeat-options-block">
          <div class="repeat-options-main">
            <i class="bi-calendar2"></i>
            <div class="repeat-options-input">
              <div class="repeat-options-num">{{ form.repeat_num }}</div>
              <div class="repeat-options-type">{{ form.repeat }}</div>
            </div>
            <div>&nbsp;</div>
          </div>
          <div class="repeat-options-week">
            <input type="hidden" id="id_repeat_days" name="repeat_days" value="{{ form.repeat_days.value }}" required="">
            <div id="d1" class="button day" onclick="DayClick(1)">{{ repeat_form_d1 }}</div>
            <div id="d2" class="button day" onclick="DayClick(2)">{{ repeat_form_d2 }}</div>
            <div id="d3" class="button day" onclick="DayClick(3)">{{ repeat_form_d3 }}</div>
            <div id="d4" class="button day" onclick="DayClick(4)">{{ repeat_form_d4 }}</div>
            <div id="d5" class="button day" onclick="DayClick(5)">{{ repeat_form_d5 }}</div>
            <div id="d6" class="button day" onclick="DayClick(6)">{{ repeat_form_d6 }}</div>
            <div id="d7" class="button day" onclick="DayClick(7)">{{ repeat_form_d7 }}</div>
          </div>
        </div>
        <div class="dropdown-content-separator"></div>
      </div>

    </div> <!-- section -->
