.list-group {
    max-height: 400px;
    overflow-y: scroll;
}

h5 {
    margin: 0;
}

.lang-label {
    min-width: 20px;
}

.phrase-lang {
    color: rgb(189, 189, 189)
}

.phrase {
    margin-left: 16px;
    margin-bottom: 0px;
}