h5 {
    margin: 0;
}

.lang-label {
    min-width: 20px;
}

.phrase-lang {
    color: rgb(189, 189, 189)
}

.phrase {
    margin-left: 16px;
    margin-bottom: 0px;
}

.ru-text-area {
    min-height: 62px;
}

/* --------------------------*/
.sidebar {
    &__groups {
        display: flex !important;
        flex-direction: column;
        width: 600px;
        margin-top: 10px;
        a.sidebar__group-hidden {
            display: none;
        }
        a.sidebar__group-visible {
            display: flex !important;
            justify-content: space-between !important;
            &.active {
                background-color: rgba(112, 76, 167, 0.2);;
            }
            .level-0 { margin-left: 0px; }
            .level-1 { margin-left: 10px; }
            .level-2 { margin-left: 20px; }
            .level-3 { margin-left: 30px; }
            .level-4 { margin-left: 40px; }
            .level-5 { margin-left: 50px; }
            .level-6 { margin-left: 60px; }
        }
    }
}

.diff_chg {
    color: blue;
    font-weight: bold;
}

.diff_add {
    color: green;
    font-weight: bold;
}

.diff_sub {
    color: red;
    font-weight: bold;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightsalmon;
}

.answer-status {
    width: 20px;
}

.answer-icon {
    color: green;
    background-color: green;
}

main {
    .list-group {
        // height: calc(100% - 120px);
        //height: 300px;
        // max-height: auto;
        // overflow-y: scroll;
    }
}