$primary: #447e9b;

.btn-primary, .btn-primary:active, .btn-primary:visited {
  color: #fff !important;
  background-color: #417690 !important;
  border: #417690 !important;
}

.btn-primary:hover {
  color: #fff !important; 
  background-color: #314d61 !important;
  border: #314d61 !important;
}

.nav-link:hover {
  background-color: #afc6d7 !important;
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #def176;
  i {
    font-size: 1rem;
    color: #def176;
  }
}

@import "../../../bootstrap/scss/functions";
@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/mixins";
@import "../../../bootstrap/scss/utilities";

.main-content {
  background-color: $green-100 !important;
}

@import "../../../bootstrap/scss/bootstrap";
