html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.dialog-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  .form-floating:focus-within {
    z-index: 2;
  }
  
  input[type="text"] {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  input[type="email"] {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  input[type="password"] {
    margin-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  button {
    margin-top: 10px;
  }
  
}

ul.errorlist {
  color: #ba2121;
  margin-bottom: 15px;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
