p.errornote {
  color: #ba2121;
}

ul.errorlist {
  color: #ba2121;
  list-style-type: none;
}

.form-control.datetime {
  width: 200px;
}

.form-control.select {
  appearance: auto;
}

textarea.form-control {
  height: 100px;
}

.item-form {
  background-color: lavender;
}

.categories {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.categories .category {
  border-radius: 3px;
  display: flex;
  margin: 4px;
  min-width: 0px;
  box-sizing: border-box;
  border: 1px solid;
  height: 24px;
  -webkit-box-align: center;
  align-items: center;
}
.categories .category .label {
  font-size: 85%;
  overflow: hidden;
  padding: 0px 6px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.categories .category .label .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}
.categories .category .icon {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 0px 7px;
  border-radius: 0px 2px 2px 0px;
  height: 100%;
}
.categories .category .icon .delete {
  display: flex;
  align-items: center;
  height: 100%;
}

/* green */
.category-design-green {
  border-color: #e9f9e8;
  background-color: #e9f9e8;
  color: #257e20;
}

.category-icon.category-design-green, .category-design-green:hover {
  border-color: #257e20;
}

.category-design-green .icon:hover {
  background-color: #257e20;
  color: #e9f9e8;
}

/* blue */
.category-design-blue {
  border-color: #e0f7fd;
  background-color: #e0f7fd;
  color: #007899;
}

.category-icon.category-design-blue, .category-design-blue:hover {
  border-color: #007899;
}

.category-design-blue .icon:hover {
  background-color: #007899;
  color: #e0f7fd;
}

/* red */
.category-design-red {
  border-color: #fce9ea;
  background-color: #fce9ea;
  color: #d01b2a;
}

.category-icon.category-design-red, .category-design-red:hover {
  border-color: #d01b2a;
}

.category-design-red .icon:hover {
  background-color: #d01b2a;
  color: #fce9ea;
}

/* purple */
.category-design-purple {
  border-color: #f0ecf6;
  background-color: #f0ecf6;
  color: #7d57b2;
}

.category-icon.category-design-purple, .category-design-purple:hover {
  border-color: #7d57b2;
}

.category-design-purple .icon:hover {
  background-color: #7d57b2;
  color: #f0ecf6;
}

/* yellow */
.category-design-yellow {
  border-color: #fffde0;
  background-color: #fffde0;
  color: #7a7400;
}

.category-icon.category-design-yellow, .category-design-yellow:hover {
  border-color: #7a7400;
}

.category-design-yellow .icon:hover {
  background-color: #7a7400;
  color: #fffde0;
}

/* orange */
.category-design-orange {
  border-color: #fff1e0;
  background-color: #fff1e0;
  color: #a35a00;
}

.category-icon.category-design-orange, .category-design-orange:hover {
  border-color: #a35a00;
}

.category-design-orange .icon:hover {
  background-color: #a35a00;
  color: #fff1e0;
}

/*# sourceMappingURL=form.css.map */
