p.errornote {
  color: #ba2121;
}

ul.errorlist {
  color: #ba2121;
  list-style-type: none;
}

.form-control.date {
  width: 150px;
}

input[type=number].form-control {
  width: 150px;
}

.form-control.datetime {
  width: 200px;
}

.form-control.select {
  appearance: auto;
}

textarea.form-control {
  height: 100px;
}

.item-form {
  background-color: lavender;
  padding-top: 0.5rem !important;
}

.item-form label {
  margin-right: 10px;
}

.categories {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.categories .category {
  border-radius: 3px;
  display: flex;
  margin: 4px;
  min-width: 0px;
  box-sizing: border-box;
  border: 1px solid;
  height: 24px;
  -webkit-box-align: center;
  align-items: center;
}
.categories .category .label {
  font-size: 85%;
  overflow: hidden;
  padding: 0px 6px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.categories .category .label .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}
.categories .category .icon {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 0px 7px;
  border-radius: 0px 2px 2px 0px;
  height: 100%;
}
.categories .category .icon .delete {
  display: flex;
  align-items: center;
  height: 100%;
}

/* green */
.category-design-green {
  border-color: #e9f9e8;
  background-color: #e9f9e8;
  color: #257e20;
}

.category-icon.category-design-green, .category-design-green:hover {
  border-color: #257e20;
}

.category-design-green .icon:hover {
  background-color: #257e20;
  color: #e9f9e8;
}

/* blue */
.category-design-blue {
  border-color: #e0f7fd;
  background-color: #e0f7fd;
  color: #007899;
}

.category-icon.category-design-blue, .category-design-blue:hover {
  border-color: #007899;
}

.category-design-blue .icon:hover {
  background-color: #007899;
  color: #e0f7fd;
}

/* red */
.category-design-red {
  border-color: #fce9ea;
  background-color: #fce9ea;
  color: #d01b2a;
}

.category-icon.category-design-red, .category-design-red:hover {
  border-color: #d01b2a;
}

.category-design-red .icon:hover {
  background-color: #d01b2a;
  color: #fce9ea;
}

/* purple */
.category-design-purple {
  border-color: #f0ecf6;
  background-color: #f0ecf6;
  color: #7d57b2;
}

.category-icon.category-design-purple, .category-design-purple:hover {
  border-color: #7d57b2;
}

.category-design-purple .icon:hover {
  background-color: #7d57b2;
  color: #f0ecf6;
}

/* yellow */
.category-design-yellow {
  border-color: #fffde0;
  background-color: #fffde0;
  color: #7a7400;
}

.category-icon.category-design-yellow, .category-design-yellow:hover {
  border-color: #7a7400;
}

.category-design-yellow .icon:hover {
  background-color: #7a7400;
  color: #fffde0;
}

/* orange */
.category-design-orange {
  border-color: #fff1e0;
  background-color: #fff1e0;
  color: #a35a00;
}

.category-icon.category-design-orange, .category-design-orange:hover {
  border-color: #a35a00;
}

.category-design-orange .icon:hover {
  background-color: #a35a00;
  color: #fff1e0;
}

.url-list {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.url-list .url-link {
  box-sizing: border-box;
  display: flex;
  min-width: 0px;
  height: 24px;
  -webkit-box-align: center;
  align-items: center;
  margin: 4px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #f0ecf6;
  background-color: #f0ecf6;
  color: #7d57b2;
  border-color: #7d57b2;
}
.url-list .url-link .label {
  font-size: 85%;
  overflow: hidden;
  padding: 0px 6px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.url-list .url-link .label .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
}
.url-list .url-link .icon {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 0px 7px;
  border-radius: 0px 2px 2px 0px;
  height: 100%;
}
.url-list .url-link .icon .delete {
  display: flex;
  align-items: center;
  height: 100%;
}
.url-list .url-link .icon:hover {
  border-color: #7d57b2;
  background-color: #7d57b2;
  color: #f0ecf6;
}

.files-area {
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  font-family: "Arial", "sans-serif";
  line-height: normal;
  color: #333;
  box-sizing: inherit;
  padding: 0;
  position: relative;
  background: white;
  margin: 5px 0;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.files-area .file-list .file-item {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1px;
  padding: 8px 16px 8px 14px;
  min-height: 52px;
  position: relative;
  box-shadow: 24px 25px 0 -24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  height: 52px;
}
.files-area .file-list .file-item a {
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #447e9b;
  text-decoration: none;
}
.files-area .file-list .file-item a .thumbnail-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: DarkGoldenRod;
}
.files-area .file-list .file-item a .thumbnail-wrapper .thumbnail {
  max-width: 36px;
  height: 24px;
  text-align: center;
  line-height: 1.6rem;
}
.files-area .file-list .file-item a .file-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  margin-left: 16px;
  min-width: 180px;
}
.files-area .file-list .file-item a .file-content .file-title {
  font-size: 0.9rem;
  width: 100%;
}
.files-area .file-list .file-item a .file-content .file-metadata {
  font-size: 0.7rem;
  margin-left: 10px;
}
.files-area .file-list .file-item button {
  margin: 0;
  overflow: visible;
  text-transform: none;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 0 4px;
}
.files-area .file-add {
  padding: 0 10px;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.files-area .file-add .section-inner-click {
  text-transform: none;
  cursor: pointer;
  margin: 0;
  min-height: 52px;
  display: flex;
  flex: auto;
  align-items: center;
  padding: 4px 0;
  overflow: visible;
  border: none;
  -webkit-appearance: button;
  background: none;
  box-shadow: none;
  height: auto;
  width: 100%;
}
.files-area .file-add .section-inner-click .icon {
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #767678;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 24px;
  text-align: center;
  border-style: none;
}
.files-area .file-add .section-inner-click .section-content {
  text-transform: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0 8px;
  font-size: 0.95rem;
  line-height: 1.375rem;
  color: #767678;
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}
.files-area .file-add .file-upload {
  padding: 0;
  margin: 0;
  overflow: visible;
  text-transform: none;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
}

.avatar {
  display: flex;
  flex-direction: column;
}
.avatar img {
  position: relative;
  top: -30px;
  width: 300px;
  cursor: pointer;
}
.avatar button {
  position: relative;
  top: 0px;
  left: 270px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-transform: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  z-index: 1;
}
.avatar button:hover {
  background-color: #c9c9c9;
}

.avatar-preview {
  width: 200px;
  height: 200px;
}

.avatar-mini-preview {
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=form.css.map */
