.rest-color-normal {
  color: Blue;
}

.rest-color-warning {
  color: DarkOrange;
}

.rest-color-error {
  color: Red;
}

.add-service {
  label {
    width: 200px;
  }
  select {
    width: 200px;
  }
}