.list-content {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin:0 auto;
    min-height:calc(100vh - 110px);
    padding-top: 10px;

    ul {
        list-style-type: none;
        padding: 0 15px;
        overflow: auto;
        margin-top: 15px;

        li.list-item {
            display: flex !important;
            justify-content: space-between !important;
            min-height: 50px;
            margin-bottom: 0.25rem !important;
            border-radius: 5px;
            background-color: white;
        
            button.left-icon {
                cursor: pointer;
                padding: 9px;
                font-size: 1.1rem;
                border: none;
                background-color: transparent;
                color: #447e9b;
            }

            a.container {
                display: flex;
                min-height: 50px;
                width: 100%;
                padding: 0;

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .name {
                        color: #2b576d;

                        &.completed {
                            text-decoration: line-through;
                        }
                    }

                    .descr {
                        display: flex !important;
                        flex-wrap: wrap;
                        margin-bottom: 5px;
                        
                        .inline {
                            display: flex !important;
                            align-items: center;
                            font-size: 0.8rem;
                            padding: 0 3px;
                            border-radius: 2px;

                            .actual { color: #465efc !important; }
                            .expired { color: #af2e20 !important; }
                            .category-design-green { color: rgb(37, 126, 32); }
                            .category-design-blue { color: rgb(0, 120, 153); }
                            .category-design-red { color: rgb(208, 27, 42); }
                            .category-design-purple { color: rgb(125, 87, 178); }
                            .category-design-yellow { color: rgb(122, 116, 0); }
                            .category-design-orange { color: rgb(163, 90, 0); }
                            i {
                                font-size: 0.6rem;
                                padding: 3px;
                            }
                            .label {
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
        
            button.right-icon {
                cursor: pointer;
                padding: 9px;
                border: none;
                background-color: transparent;
                color: #447e9b;
            }
        }
    }

    .add-form {
        display: flex !important;
        position: relative;
        &__button {
            display: inline-block;
            position: absolute;
            top: 0;
            margin: 0px 15px 20px 15px;
            padding: 13px;
            background-color: rgba(43, 99, 75, 0.671);
            cursor: pointer;
            border: 0 solid transparent;
            font-size: 1rem;
            color: white;
            &:hover {
                background-color: rgba(30, 71, 53, 0.671);
            }
        }
        &__input {
            height: 50px;
            width: 100%;
            margin: 0px 15px 20px 15px;
            padding-left: 60px;
            border-radius: 0.25rem;
            border: 1px solid transparent;
            background-color: rgba(43, 99, 75, 0.671);
            color: white;
            &::placeholder {
                color: white;
                opacity: 0.5;
            }
        }
    }
}

.sub-group {
    border-radius: 5px;
    background-color: white;
    color: #3f697e;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 4px 7px;
    font-size: 0.9rem;
    &__name {
      margin: 0 5px;
    }
  }
  
  