.sidebar {
    &__fix-item {
        display: flex !important;
        justify-content: space-between !important;
        overflow-x: auto;
        &.active {
            background-color: rgba(112, 76, 167, 0.2);;
        }
    }
    .dirs {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        .item {
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            padding: 2px 0;
            margin-left: 0.25rem;
            white-space: nowrap;
            a:hover {
                background-color: inherit;
            }
            .icon {
                font-size: 0.6rem;
            }
            .qty {
                padding: 0 4px;
            }
            &:hover {
                background-color: rgba(121,82,179,0.1);
            }
            &.hidden {
                display: none;
            }
            &.visible {
                display: flex;
                justify-content: space-between;
            }
            &.active {
                background-color: rgba(112, 76, 167, 0.2);;
            }
            .level-0 { margin-left: 0px; }
            .level-1 { margin-left: 10px; }
            .level-2 { margin-left: 20px; }
            .level-3 { margin-left: 30px; }
            .level-4 { margin-left: 40px; }
            .level-5 { margin-left: 50px; }
            .level-6 { margin-left: 60px; }
        }
    }
    &__groups {
        display: flex !important;
        flex-direction: column;
        a.sidebar__group-hidden {
            display: none;
        }
        a.sidebar__group-visible {
            display: flex !important;
            justify-content: space-between !important;
            &.active {
                background-color: rgba(112, 76, 167, 0.2);;
            }
            .level-0 { margin-left: 0px; }
            .level-1 { margin-left: 10px; }
            .level-2 { margin-left: 20px; }
            .level-3 { margin-left: 30px; }
            .level-4 { margin-left: 40px; }
            .level-5 { margin-left: 50px; }
            .level-6 { margin-left: 60px; }
        }
    }
    .add-form {
        background-color: rgba(255, 255, 255, 0.8);
        input {
            border: 1px solid #aeaeae;
            border-radius: 0.25rem;
            padding: 5px;
        }
    }
}

@media (max-width: 767.98px) {
    .bd-sidebar {
        margin: 0;
    }
}

.bd-links {
    font-weight: 400;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .bd-links {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 90px);
        padding-left: 0.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
    }
}