.sidebar {
    &__fix-item {
        display: flex !important;
        justify-content: space-between !important;
        &.active {
            background-color: rgba(112, 76, 167, 0.2);;
        }
}
    &__groups {
        display: flex !important;
        flex-direction: column;
        a.sidebar__group-hidden {
            display: none;
        }
        a.sidebar__group-visible {
            display: flex !important;
            justify-content: space-between !important;
            &.active {
                background-color: rgba(112, 76, 167, 0.2);;
            }
            .level-0 { margin-left: 0px; }
            .level-1 { margin-left: 10px; }
            .level-2 { margin-left: 20px; }
            .level-3 { margin-left: 30px; }
            .level-4 { margin-left: 40px; }
            .level-5 { margin-left: 50px; }
            .level-6 { margin-left: 60px; }
        }
    }
    .add-form {
        display: flex !important;
        position: relative;
        &__button {
            display: inline-block;
            position: absolute;
            top: 0;
            padding: 13px;
            cursor: pointer;
            color: white;
            &:hover {
                background-color: rgba(85, 97, 92, 0.671);
            }
        }
        &__input {
            height: 50px;
            width: 100%;
            padding-left: 45px;
            border-radius: 0.25rem;
            border: 1px solid transparent;
            background-color: rgba(124, 141, 134, 0.671);
            color: white;
            &::placeholder {
                color: white;
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .bd-sidebar {
        margin: 0;
    }
}

.bd-links {
      font-weight: 400;
      font-size: 0.9rem;
}
