.content-title {
    font-size: 1.5rem;
    margin: 0 10px;
    display: flex;
    .title {
        display: flex;
    }

    &__icon {
        padding: 10px 20px;
    }

    &__href {
        margin: 10px 0;  
    }

    &__text {
        margin: 10px 0;  
    }

    &__separator {
        margin: 10px 5px;
    }
}