.theme {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0;
    border-style: none;
    img {
        width: 40px;
        height: 40px;
    }
}
.theme-1 { background-color: rgb(105, 125, 205); }
.theme-2 { background-color: rgb(175, 110, 175); }
.theme-3 { background-color: rgb(220, 100, 130); }
.theme-4 { background-color: rgb(210, 95, 90); }
.theme-5 { background-color: rgb(60, 145, 105); }
.theme-6 { background-color: rgb(50, 140, 135); }
.theme-7 { background-color: rgb(120, 135, 145); }
.theme-8 { background-color: rgb(223, 237, 249); }
.theme-9 { background-color: rgb(242, 231, 249); }
.theme-10 { background-color: rgb(255, 228, 233); }
.theme-11 { background-color: rgb(249, 232, 222); }
.theme-12 { background-color: rgb(213, 241, 229); }
.theme-13 { background-color: rgb(212, 241, 239); }
.theme-14 { background-color: rgb(231, 236, 240); }
.theme-15 { background-color: rgb(231, 236, 240); }
.theme-16 { background-color: rgb(231, 236, 240); }
.theme-17 { background-color: rgb(231, 236, 240); }
.theme-18 { background-color: rgb(231, 236, 240); }
.theme-19 { background-color: rgb(231, 236, 240); }
.theme-20 { background-color: rgb(231, 236, 240); }
.theme-21 { background-color: rgb(231, 236, 240); }
.theme-22 { background-color: rgb(231, 236, 240); }

button.theme-8 { border: 2px solid rgb(48, 99, 171); }
button.theme-9 { border: 2px solid rgb(125, 82, 148); }
button.theme-10 { border: 2px solid rgb(172, 57, 93); }
button.theme-11 { border: 2px solid rgb(168, 67, 41); }
button.theme-12 { border: 2px solid rgb(30, 112, 77); }
button.theme-13 { border: 2px solid rgb(22, 111, 107); }
button.theme-14 { border: 2px solid rgb(88, 101, 112); }

div.theme-15 { background-size: cover; background-image: url(/static/backgrounds/beach/2560x1600.jpg); }
div.theme-16 { background-size: cover; background-image: url(/static/backgrounds/desert/2560x1600.jpg); }
div.theme-17 { background-size: cover; background-image: url(/static/backgrounds/fern/2560x1600.jpg); }
div.theme-18 { background-size: cover; background-image: url(/static/backgrounds/field/2560x1600.jpg); }
div.theme-19 { background-size: cover; background-image: url(/static/backgrounds/gradient/2560x1600.jpg); }
div.theme-20 { background-size: cover; background-image: url(/static/backgrounds/lighthouse/2560x1600.jpg); }
div.theme-21 { background-size: cover; background-image: url(/static/backgrounds/safari/2560x1600.jpg); }
div.theme-22 { background-size: cover; background-image: url(/static/backgrounds/sea/2560x1600.jpg); }
div.theme-23 { background-size: cover; background-image: url(/static/backgrounds/tv_tower/2560x1600.jpg); }
 
.wide {
    min-width: 300px;
}

.sort {
    border-radius: 5px;
    background-color: white;
    color: #3f697e;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 4px 7px;
    &__name {
      margin: 0 5px;
    }
}

.sort-delete {
    border-radius: 5px;
    background-color: white;
    color: #3f697e;
    margin-bottom: 5px;
    padding: 3px 6px;
}
  
  