.w3-theme-l5 {color:#000 !important; background-color:#f3f6f9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d7e3eb !important}
.w3-theme-l3 {color:#000 !important; background-color:#afc6d7 !important}
.w3-theme-l2 {color:#fff !important; background-color:#87aac3 !important}
.w3-theme-l1 {color:#fff !important; background-color:#79aec8 !important}
.w3-theme-d1 {color:#fff !important; background-color:#417690 !important}
.w3-theme-d2 {color:#fff !important; background-color:#38586f !important}
.w3-theme-d3 {color:#fff !important; background-color:#314d61 !important}
.w3-theme-d4 {color:#fff !important; background-color:#2a4253 !important}
.w3-theme-d5 {color:#fff !important; background-color:#233746 !important}

.w3-theme-light {color:#000 !important; background-color:#f3f6f9 !important}
.w3-theme-dark {color:#fff !important; background-color:#233746 !important}
.w3-theme-action {color:#fff !important; background-color:#233746 !important}

.w3-theme {color:#fff !important; background-color:#466e8b !important}
.w3-text-theme {color:#466e8b !important}
.w3-border-theme {border-color:#466e8b !important}

.w3-hover-dark:hover {color:#fff !important; background-color:#466e8b !important}
.w3-hover-light:hover {color:#fff !important; background-color:#87aac3 !important}
.w3-hover-text-theme:hover {color:#466e8b !important}
.w3-hover-border-theme:hover {border-color:#466e8b !important}

html, body {
  font-family: "Arial", "sans-serif";
  line-height: normal;
}

* {
  padding: 0;
  margin: 0;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  padding: 0;
  margin: 0;
  background: inherit;
}

button.dialog {
  background: #79aec8;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button.dialog:hover {
  background: #609ab6;
}

button.dialog.default {
  float: right;
  border: none;
  font-weight: 400;
  background: #417690;
}

button.dialog.default:hover {
  background: #205067;
}

ul li {
  list-style-type: none;
}

#launcher {
  background: #f5f5f5;
  width: 320px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: auto;
  display: none;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
  z-index: 100;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: yellow;
  display: flex;
  flex-direction: column;
}

header {
  background: #417690;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#page {
  display: flex;
  height: 100vh;
}

#page.with_header {
  height: calc(100vh - 48px);
}

aside {
  background: #f5f5f5;
  overflow: auto;
  width: 340px;
  height: calc(100vh - 48px);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

aside.no_header {
  height: 100vh;
}

main {
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

article {
  background: #f5f5f5;
  overflow: auto;
  width: 340px;
  height: calc(100vh - 48px);
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

header .button {
  background-color: #417690;
  color: white;
  height: 48px;
  width: 48px;
  margin: auto;
  text-decoration: none;
}

header .button img:hover {
  background-color: #314d61;
}

header a.button {
  margin: 0px;
}

header .button img {
  padding: 14px;
}

.header-left {
  display: flex;
  align-items: center;
}

.search-container {
  width: 250px;
}

.search-form input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  border-radius: 2px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 1.2rem;
  width: 220px;
  background: #d7e3eb;
}

.launcher-top {
  display: flex;
  justify-content: space-between;
}

.launcher-icon {
  margin: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
}

.launcher-menu {
  margin: 30px 8px;
}

.launcher-button {
  background: none;
  border: none;
  cursor: pointer;
  float: left;
  width: 146px;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent!important;
  height: 48px;
  line-height: normal;
  text-decoration: none!important;
  user-select: none;
  transition: border-color 83ms linear,box-shadow 83ms linear;
}

.launcher-button img {
  padding: 13px;
}

.launcher-button span {
  font-size: 1rem;
}

#aside-top {
  padding: 0 10px;
  min-height: 38px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  background: #f5f5f5;
}

#aside-top>form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#aside-top .info {
  font-size: 0.875rem;
}

aside .scroll {
  height: calc(100vh - 48px - 38px);
  overflow: auto;
}

main .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 16px 0px 16px;
}

.main-top-headline {
  min-width: 100px;
  margin-right: 20px;
  color: DarkBlue;
  font-size: 1.25rem;
  font-weight: 600;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
}

.main-title-container {
  display: flex;
  align-items: center;
}

.main-title-subline {
  font-size: 0.875rem;
  color: black;
  font-weight: 200;
  padding-top: 10px;
}

main .sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

main .sort img {
  padding: 2px 3px;
}

main .sort img:hover {
  background-color: #eee;
}

main .sort span {
  padding: 2px 3px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #34373d;
}

main .actions {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 0px 8px;
  padding: 0px 13px;
}

main .actions input[type="text"] {
  float: right;
  padding: 16px 12px;
  border: none;
  font-size: 0.933rem;
  width: 100%;
}

main .actions button {
  padding: 8px;
  border: none;
  background: white;
}

main .tree {
  padding: 5px 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main .tree .group {
  height: 50px;
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

main .tree .group .tumbler {
  margin: 0px 15px;
}

main .tree .group .name {
  font-weight: bold;
}

main .tree ul li {
  min-height: 52px;
  border-width: 1px;
  border-color: #ccc;
  border-top-style: solid;
}

main .tree ul li .tree-item:hover {
  background: #f7f7f7;
}

main .tree ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

main .tree ul li a.current {
  background: #eee;
}

main .tree ul li a:hover {
  background: #f7f7f7;
}

main .tree ul .tree-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

main .tree ul .tree-item .icon {
  margin: 0px 7px;
}

.tree-item .info {
  font-size: 1.4rem;
  font-weight: 500;
  color: #34373d;
  position: relative;
  flex: 1 1 0px;
  min-height: 52px;
  padding: 8px 12px;
  line-height: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.tree-item .info .name {
  padding: 8px 0px;
  font-size: 0.933rem;
  font-weight: 500;
  line-height: 1rem;
  color: #34373d;
}

.tree-item .info .descr {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.article-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 8px;
  min-height: 38px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  background: #f5f5f5;
}

.article-bottom .info {
  font-size: 0.875rem;
}

#article-content {
  height: calc(100vh - 48px - 8px - 38px);
  overflow: auto;
  padding: 8px 10px;
  background: #f5f5f5;
}

article .body {
  overflow-x: hidden;
  flex: 1;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

article .header {
  min-height: 52px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
  z-index: 1;
  padding-top: 8px;
}

p.errornote, div.field-error {
  color: red;
  font-size: 1rem;
}

article .section-inner-click {
  background: none;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

article .section {
  position: relative;
  background: white;
  margin: 10px 0;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

article .section-item {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

article .labeled-input {
  width: 100%;
}

article .labeled-input .label {
  margin-top: 8px;
  margin-bottom: 8px;
}

article .labeled-input .input {
  margin-top: 8px;
}

article .section-item .section-inner-click, article .section-item .editable-content {
  height: auto;
  min-height: 52px;
  width: 100%;
}

article .section-item .section-inner-label {
  height: auto;
  min-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

article .section-item .section-52 {
  height: auto;
  min-height: 52px;
  display: flex;
  flex: auto;
}

article .section-item .section-inner {
  min-height: 52px;
  display: flex;
  flex: auto;
  align-items: center;
  padding: 4px 0;
}

.section-inner label {
  margin-right: 10px;
}

article .section-item .section-icon {
  fill: #767678;
  color: #767678;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  text-align: center;
}

article .section-item .section-content {
  margin-right: 8px;
  margin-left: 8px;
  overflow: hidden;
  flex: auto;
  display: flex;
  align-items: center; 
  text-align: left;
}

article .section-item .short {
  width: 100px;
}

.quarter-width {
  width: 25%;
}

.half-width, .half-width input {
  width: 50%;
}

.threequarter-width {
  width: 75%;
}

.full-width, .full-width input {
  width: 100%;
}

.section-content .section-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #767678;
  display: flex;
  flex-direction: column;
}

.section-content .selected {
  color: blue;
}

.section-content .section-description {
  color: #767678;
  font-size: 0.7rem;
}

img.img-20_20 {
  padding: 8px;
}

.article-name {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
}

.field-icon {
  padding: 0 4px;
}

.editable-content {
  overflow: visible;
  display: flex;
  align-items: center;
}

.clickable-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.main-element input[type="text"] {
  font-size: 1rem;
  height: 30px;
}

.auxiliary-element {
  width: 100%;
}

.auxiliary-element input[type="text"] {
  font-size: 0.875rem;
  height: 25px;
}

.details-name .editable-content input[type="text"] {
  font-weight: bold;
}

p.datetime {
  font-weight: normal;
}

.datefld span {
  white-space: nowrap;
  font-weight: normal;
  font-size: 11px;
}

.vDateField {
  width: 7em;
  min-width: 6em;
}

label {
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
}

.editable-content input[type="text"]:focus {
  border: 1px solid;
  border-radius: 3px;
}

.important {
  font-weight: bold;
}

.nav-menu .selected {
  font-weight: bold;
  color: red;
  background-color: rgb(230, 230, 230);
}

ul.nav-menu li a {
  color: #000;
  text-decoration: none;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul.nav-menu li a.fix {
  padding: 0px 6px;
}

ul.nav-menu li a:hover {
  background-color: #ddd;
}

.nav-menu-item-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-menu-item-left i {
  padding: 6px;
}

.nav-menu-item-x1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.nav-menu-item-x2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-last-static-list {
  margin: 9px 16px;
  height: 1px;
}

li.grp-item {
  color: #000;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 6px;
}

li.grp-item:hover {
  background-color: #ddd;
}

.nav-menu-qty {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 6px;
}

.nav-menu-item-left img, .nav-menu-item-x1 img, .nav-menu-item-right img {
  padding: 8px;
}

.level-0 { margin-left: 0px; }
.level-1 { margin-left: 10px; }
.level-2 { margin-left: 20px; }
.level-3 { margin-left: 30px; }
.level-4 { margin-left: 40px; }
.level-5 { margin-left: 50px; }
.level-6 { margin-left: 60px; }

.rok-padding {
  padding: 8px 16px!important;
}

.rok-header-a {
  height: 36px;
  display: flex;
  align-items: center;
}

.rok-header-a a {
  color: #fff;
}

.rok-container:after,.rok-container:before {
  float: left;
  width: 100%;
}

.rok-container,.rok-panel {
  padding: 0.01em 16px;
}

.rok-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.rok-row:after, .rok-row:before {
  content: "";
  display: table;
  clear: both;
}

.rok-row {
    margin: 10px 0;
}

.vis {
  display: block;
}

.hid {
  display: none;
}

@media (min-width:601px) {
  aside.vis {
    display: flex;
    box-shadow: none;
    position: static;
  }
  aside.hid { display: flex; }
  main.narrow { width: calc(100vw - 340px - 340px); }
  main.wide { width: calc(100vw - 340px); }
  article.vis {
    box-shadow: none;
    position: static;
  }
  article.hid { display: none; }
  .desktop-only { display: block; }
  .desktop-only.hid { display: none; }
  .phone-only { display: none; }
}

@media (max-width:600px) {
  aside {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.15), 5px 0px 10px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 48px;
    left: 0px;
  }
  aside.vis { display: flex; }
  aside.hid { display: none; }
  main { width: 100vw; }
  article.vis {
    display: flex;
    position: absolute;
    top: 48px;
    right: 0px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.15), -5px 0px 10px rgba(0, 0, 0, 0.05);
  }
  article.hid { display: none; }
  .desktop-only { display: none; }
  .phone-only { display: block; }
  .phone-only.hid { display: none; }
}

/* old styles */

.rok-form:after, .rok-form:before, .rok-row:after, .rok-row:before {
  content: "";
  display: table;
  clear: both;
}

.rok-form {
  padding: 0.01em 16px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.rok-row {
  margin: 10px 0;
}

.rok-form-buttons {
  margin: 10px 0;
}

.rok-field input[type=text], .rok-field input[type=password], .rok-field input[type=email], .rok-field input[type=url], .rok-field input[type=number], .rok-field input[type=tel], textarea, select, .vTextField {
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  padding: 5px 6px;
  width: 95%;
}

.rok-field-2 input[type=text], .rok-field-2 input[type=password], .rok-field-2 input[type=email], .rok-field-2 input[type=url], .rok-field-2 input[type=number], .rok-field-2 input[type=tel], textarea, select {
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  padding: 5px 6px;
}

input[type=color] {
  height: 34px;
  width: 8em;
}

.password-reset-link {
  text-align: center;
  padding: 8px;
}

#footer {
  clear: both;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.day-th {
  padding-right: 30px;
}

.today {
  color: red;
}

ul.errorlist {
  color: #ba2121;
  background: #fff;
}

.help, p.help, form p.help, div.help, form div.help, div.help li {
  font-size: 11px;
  color: #999;
}

div.help ul {
  margin-bottom: 0;
}

.help-tooltip {
  cursor: help;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.sidebar {
  background-color: #d7e3eb;
  position: fixed;
  overflow: auto;
  width: 250px; 
  max-height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}

.bar-item {
  width:100%;
  display: block;
  text-align: left;
  white-space: normal;
  float: none;
  display: flex; 
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 2px;
  padding-left: 5px;
  border: none;
}

.bar-link {
  width:100%;
  display: block;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  display: flex; 
  flex-direction: row;
  box-sizing: border-box;
}

.current {
  font-weight: bold;
}

a.bar-link {
  text-decoration: none;
  color: #000000;
  padding: 4px 0px;
}

.bar-item:hover, a.bar-link:hover {
  color: #ffffff;
  background-color: #466e8b;
}

.rok-col, .rok-half, .rok-third, .rok-twothird, .rok-threequarter, .rok-quarter {
  float: left;
  width: 100%;
}

.marked {
  color: black;
}

@media (min-width:601px){.rok-col.m1{width:8.33333%}.rok-col.m2{width:16.66666%}.rok-col.m3,.rok-quarter{width:24.99999%}.rok-col.m4,.rok-third{width:33.33333%}
.rok-col.m5{width:41.66666%}.rok-col.m6,.rok-half{width:49.99999%}.rok-col.m7{width:58.33333%}.rok-col.m8,.rok-twothird{width:66.66666%}
.rok-col.m9,.rok-threequarter{width:74.99999%}.rok-col.m10{width:83.33333%}.rok-col.m11{width:91.66666%}.rok-col.m12{width:99.99999%}}
@media (min-width:993px){.rok-col.l1{width:8.33333%}.rok-col.l2{width:16.66666%}.rok-col.l3{width:24.99999%}.rok-col.l4{width:33.33333%}
.rok-col.l5{width:41.66666%}.rok-col.l6{width:49.99999%}.rok-col.l7{width:58.33333%}.rok-col.l8{width:66.66666%}
.rok-col.l9{width:74.99999%}.rok-col.l10{width:83.33333%}.rok-col.l11{width:91.66666%}.rok-col.l12{width:99.99999%}}
.rok-rest{overflow:hidden}.rok-stretch{margin-left:-16px;margin-right:-16px}
.rok-content,.rok-auto{margin-left:auto;margin-right:auto}.rok-content{max-width:980px}.rok-auto{max-width:1140px}
.rok-cell-row{display:table;width:100%}.rok-cell{display:table-cell}
.rok-cell-top{vertical-align:top}.rok-cell-middle{vertical-align:middle}.rok-cell-bottom{vertical-align:bottom}
.rok-hide{display:none!important}.rok-show-block,.rok-show{display:block!important}.rok-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.rok-auto{max-width:95%}}
@media (max-width:600px){.rok-modal-content{margin:0 10px;width:auto!important}.rok-modal{padding-top:30px}
.rok-dropdown-hover.rok-mobile .rok-dropdown-content,.rok-dropdown-click.rok-mobile .rok-dropdown-content{position:relative}	
.rok-hide-small{display:none!important}.rok-mobile{display:block;width:100%!important}.rok-bar-item.rok-mobile,.rok-dropdown-hover.rok-mobile,.rok-dropdown-click.rok-mobile{text-align:center}
.rok-dropdown-hover.rok-mobile,.rok-dropdown-hover.rok-mobile .rok-btn,.rok-dropdown-hover.rok-mobile .rok-button,.rok-dropdown-click.rok-mobile,.rok-dropdown-click.rok-mobile .rok-btn,.rok-dropdown-click.rok-mobile .rok-button{width:100%}}
@media (max-width:768px){.rok-modal-content{width:500px}.rok-modal{padding-top:50px}}
@media (min-width:993px){.rok-modal-content{width:900px}.rok-hide-large{display:none!important}.sidebar{display:block!important}}
@media (max-width:992px) and (min-width:601px){.rok-hide-medium{display:none!important}}
@media (max-width:992px){.sidebar{display:none}.rok-main{margin-left:0!important;margin-right:0!important}.rok-auto{max-width:100%}}

.button:active, input[type=submit]:active, input[type=button]:active, 
.button:focus, input[type=submit]:focus, input[type=button]:focus, 
.button:hover, input[type=submit]:hover, input[type=button]:hover {
  background: inherit;
}

a.button {
  padding: inherit;
}

.header .row, .section .row {
  display: flex;
  align-items: center;
  padding: 0 0 0 8px;
  margin: 8px 8px 8px 0;
}

.section .row a {
  width: 270px;
  overflow: hidden;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-auto {
  margin: auto;
}

