.form-container.rok-login {
    background-color: var(--dialog_background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
  
.rok-login form {
    width: 300px;
}

.rok-login label::after {
    background-color:unset !important;
}