{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% if user.is_authenticated %} {% endif %}{{ title|default:'*****  title  *****' }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrastyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/rok.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <script src="https://kit.fontawesome.com/43050fb1f9.js" crossorigin="anonymous"></script>
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

    {% block window %}

      {% block sidebar %}{% endblock %}

      <!-- Navbar -->
      {% block navbar %}
        <div class="w3-bar w3-theme-d1 w3-left-align rok-header-a">
          {% block hamb %}{% endblock %}
          {% for btn in buttons %}
            {% if btn.icon == 'search' %}  <!-- Поля формы поиска -->
              <form action="{{ btn.href }}" method="GET">
                <input type="text" class="w3-bar-item w3-input" placeholder="{% trans 'search'|capfirst %}..." name="q" value="{{ request.GET.q }}">
                <button class="w3-bar-item w3-button {{ btn.class }}">{% if btn.icon %}<i class="fas fa-{{ btn.icon }} fa-lg"></i>{% endif %}{{ btn.text }}</button>
              </form>
            {% elif btn.icon == 'share-square' %}  <!-- Кнопка со списком для перемещения -->
              <div class="w3-dropdown-click">
                <button onclick="ShowMenu('move')" class="w3-button"><i class="fa fa-share-square"></i></button>
                <div id="move" class="w3-dropdown-content w3-bar-block w3-card-4">
                  {% for move in moves %}
                      <a class="w3-bar-item w3-button w3-hover-dark" href="{{ move.href }}">
                        {% if move.icon %}<i class="fas fa-{{ move.icon }}" {% if move.color %}style="color: {{ move.color }};"{% endif %}></i> {% endif %}{{ move.name }}</a>
                  {% endfor %}
                </div>
              </div>    
            {% else %}
              {% if btn.href %}  <!-- Кнопка -->
                <a class="w3-bar-item w3-button {{ btn.class }}" href="{{ btn.href }}" {% if btn.color %}style="color: {{ btn.color }};"{% endif %}>
                  {% if btn.icon %}<i class="fas fa-{{ btn.icon }} fa-lg"></i>{% endif %}{{ btn.text }}
                </a>
              {% else %}  <!-- Текстовая метка -->
                <span class="w3-bar-item {{ btn.class }}" {% if btn.color %}style="color: {{ btn.color }};"{% endif %}>
                  {% if btn.icon %}<i class="fas fa-{{ btn.icon }} fa-lg"></i>{% endif %}{{ btn.text }}
                </span>
              {% endif %}
            {% endif %}
          {% endfor %}

        </div>
      {% endblock %}
      
      <!-- ContentTitle -->
      {% block contenttitle %}
        {% if not hide_title %}
          {% if title %}
            <div class="w3-container">
              <h3>
                {% if folder.icon != "" %} <i class="fa fa-{{ folder.icon }}" style="color:{{ folder.color }}"></i> {% endif %}
                {{ title|capfirst }}
              </h3>
            </div>
          {% endif %}
        {% else %}
          <div class="w3-container"><h1> </h1></div>
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}

    {% endblock %}

  </body>

{% block scripts %}
  {{ block.super }}
  <script>
    function ShowMenu(menu_id) {
      var x = document.getElementById(menu_id);
      if (x.className.indexOf("w3-show") == -1) { 
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
{% endblock %}

</html>
