{% extends "base_sidebar.html" %}
{% load i18n %}

{% block content %}
    {% block contenttitle %}{{ block.super }}{% endblock %}
    <div class="w3-container" style="min-height:450px">
      {% block win_content %}{% endblock %}

      <p>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="w3-button" href="?page=1">&laquo;</a>
                <a class="w3-button" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    
            <span class="current active w3-button w3-theme-l1">
                {{ page_obj.number }}
            </span>
    
            {% if page_obj.has_next %}
                <a class="w3-button" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="w3-button" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
      </div>

      <p>
      {% if site_header == 'localhost:8000' %}
        <div class="w3-card-4 w3-border" style="width:500px">
          <table class="w3-table-all" style="width:500px">
            <thead>
              <tr class="w3-theme-l3"> <th>Поле</th> <th>Значение</th> </tr>
            </thead>
            <tbody>
              <tr> <td>debug</td> <td>{{ debug }}</td> </tr>
              <tr> <td>mode</td> <td>{{ mode }}</td> </tr>
              <tr> <td>user.id</td> <td>{{ user.id }}</td> </tr>
              <tr> <td>folder.id</td> <td>{{ folder.id }}</td> </tr>
              <tr> <td>folder.node</td> <td>{{ folder.node }}</td> </tr>
              <tr> <td>folder.model_name</td> <td>{{ folder.model_name }}</td> </tr>
              <tr> <td>folder.content_id</td> <td>{{ folder.content_id }}</td> </tr>
              <tr> <td>content_id</td> <td>{{ content_id }}</td> </tr>
              <tr> <td>pk</td> <td>{{ pk }}</td> </tr>
            </tbody>
          </table>
        </div>
      {% endif %}
      <p>
    
    </div>
{% endblock %}

{% block footer %}
  <a href="{% url 'feedback' %}">{% trans 'feedback' %}</a>
{% endblock %}
