{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% if user.is_authenticated %} {% endif %}
      {% if app_name %}
        {{ app_name }}
        {% if title %}
          -
        {% endif %}
      {% endif %}
      {% if title %}
        {{ title|default:'*****  title  *****' }}
      {% endif %}
    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/rok.css' %}">
    {% block extrastyle %}{% endblock %}
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    {% block window %}
    
      <!-- ContentTitle -->
      {% block contenttitle %}
        {% if not hide_title %}
          {% if title %}
            <div class="w3-container">
              <h3>
                {% if folder.icon != "" %} <i class="fa fa-{{ folder.icon }}" style="color:{{ folder.color }}"></i> {% endif %}
                {{ title|capfirst }}
              </h3>
            </div>
          {% endif %}
        {% else %}
          <div class="w3-container"><h1> </h1></div>
        {% endif %}
      {% endblock %}
    
    {% endblock %}
  </body>

  {% block scripts %}{% endblock %}
</html>
