{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% if user.is_authenticated %} {% endif %}{{ title|default:'*****  title  *****' }}{% endblock %}

{% block extrastyle %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'index' %}">{{ site_header|default:'*****  site_header  *****' }}</a></h1>
{% endblock %}

{% block userlinks %}
  {% if user.is_authenticated %}
    <a href="{% url 'account:service' %}">{% firstof user.get_short_name user.get_username %}</a>
  {% else %}
    <a href="{% url 'account:login' %}">{% trans 'Log in' %}</a>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {% if user.is_authenticated %}
    <div class="breadcrumbs">
      {% if perms.account.view_userext %} 
        <a href="{% url 'news' %}">{% trans 'news' %}</a> :
        <a href="{% url 'todo' %}">{% trans 'tasks' %}</a> :
        <a href="{% url 'sample' %}">{% trans 'sample' %}</a> :
      {% endif %} 
        <a href="{% url 'feedback' %}">{% trans 'feedback' %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content_title %}
  {% if title %}<h1>{{ title }}</h1>{% endif %}
{% endblock %}

