{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>{% block title %}{% if user.is_authenticated %} {% endif %}{{ title|default:'*****  title  *****' }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrastyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'rok/css/rok.css' %}">
    <meta name="robots" content="NONE,NOARCHIVE">
    <script src="https://kit.fontawesome.com/43050fb1f9.js" crossorigin="anonymous"></script>
  </head>

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

    {% block window %}

      {% block sidebar %}{% endblock %}

      <!-- Navbar -->
      {% block navbar %}
        <div class="w3-bar w3-theme-d1 w3-left-align rok-header-a">
          {% block hamb %}{% endblock %}
          <a href="{% url 'index' %}" class="w3-bar-item brand"><i class="fa fa-home"></i></a>
          <a class="w3-bar-item w3-button" href="{% url 'file_list' 0 %}"><i class="fa fa-folder-open"></i></a>
          {% for node in chain reversed %}
            <a class="w3-bar-item w3-button" href="{% url 'file_list' node.id %}">{{ node.name }}</a>
          {% endfor %}
          {% if node_id %}
            <a class="w3-bar-item w3-button" href="{% url 'file_form' node_id %}"><i class="fa fa-edit fa-lg"></i></a>
          {% endif %}
          {% block navadd %}{% endblock %}
        </div>
      {% endblock %}
      
      <!-- ContentTitle -->
      {% block contenttitle %}
        {% if not hide_title %}
          {% if title %}<div class="w3-container"><h3>{% if title_icon != "" %} <i class="fa fa-{{ title_icon }}"></i> {% endif %} {{ title }}</h3></div>{% endif %}
        {% else %}
          <div class="w3-container"><h1> </h1></div>
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}

    {% endblock %}

  </body>

{% block scripts %}{% endblock %}

</html>
