{% extends "base_rok.html" %}
{% load i18n static %}

{% block extrastyle %}
<style>
.level-0 { margin-left: 0px; }
.level-1 { margin-left: 10px; }
.level-2 { margin-left: 20px; }
.level-3 { margin-left: 30px; }
.level-4 { margin-left: 40px; }
.level-5 { margin-left: 50px; }
.level-6 { margin-left: 60px; }
</style>
{% endblock %}

{% block window %}

  <!-- Sidebar -->
  {% block sidebar %}
    {% if user.is_authenticated %}
      <div class="sidebar theme-l4" id="mySidebar">

            <div class="bar-item">
              <a class="bar-link" href="{% url 'index' %}"><i class="fa fa-home"></i>&nbsp;{% trans 'main'|capfirst %}</a>
            </div>

            {% for file in tree %}
              <div class="bar-item{% if file.id == folder.id %} current{% endif %}">
                {% if file.is_node %}
                <a class="level-{{ file.level }}{% if file.id == folder.id %} current{% endif %}" href="{% url 'hier:toggle' file.id %}?p={{ request.path }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"{% if file.is_open %} style="transform: rotate(90deg);" {% endif %}>
                    <path fill-rule="evenodd" d="M6 4l4 4-4 4z"></path></svg></a>
                {% else %}
                  <svg class="level-{{ file.level }}{% if file.id == folder.id %} current{% endif %}" xmlns="http://www.w3.org/2000/svg" width="17" height="17" ></svg>
                {% endif %}
                <a class="bar-link{% if file.id == folder.id %} current{% endif %}" href="{% url 'hier:folder_list' file.id %}">
                  {% if file.icon != "" %} <i class="fa fa-{{ file.icon }}" style="color: {{ file.color }};"></i>{% endif %}&nbsp;{{ file.name }}</a>
              </div>
            {% endfor %}

            <div class="bar-item">
              <a class="bar-link" href="{% url 'account:profile' %}"><i class="fa fa-user"></i>&nbsp;{% trans 'profile'|capfirst %}</a>
            </div>

            <div class="bar-item">
              <a class="bar-link" href="{% url 'account:logout' %}"><i class="fa fa-sign-out-alt"></i>&nbsp;{% trans 'logout'|capfirst  %}</a>
            </div>

      </div>
    {% endif %}
  {% endblock %}

  <div id="main" class="rok-main" {% if user.is_authenticated %} style="margin-left:250px" {% endif %}>
    {% block navbar %}{{ block.super }}{% endblock %}
    {% block content %}{% endblock %}

    <div class="w3-bar w3-theme-l2 w3-center" id="footer">
      {% block footer %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block hamb %}
  {% if user.is_authenticated %}
    <button id="hamburger" class="w3-bar-item w3-button rok-hide-large" onclick="w3_open()">&#9776;</button>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("hamburger").style.display = 'none';
      }
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("hamburger").style.display = "inline-block";
      }
    </script>  
{% endblock %}
