{% extends "base_sidebar.html" %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
      <div class="w3-bar w3-border w3-theme-l1">
        {% block breadcrumbs %}{% endblock %}
      </div>
    {% endif %}
    {% block contenttitle %}{{ block.super }}{% endblock %}
    <div class="w3-container" style="min-height:450px">
      {% block win_content %}{% endblock %}
      <p>
    </div>
{% endblock %}

{% block footer %}
  <a href="{% url 'feedback' %}">{% trans 'feedback' %}</a>
{% endblock %}
