{% extends "base_rok.html" %}
{% load i18n static %}

{% block window %}
  <nav id="launcher">
    <div class="launcher-top">
      <button class="button launcher-icon" onclick="launcher_close()"><img src="{% static 'rok/icon/apps-black.png' %}"></button>
      <button class="button launcher-icon"><img src="{% static 'rok/icon/param.png' %}"></button>
    </div>
    <div class="launcher-menu">
      <a href="/" class="launcher-button"><img src="{% static 'rok/icon/home.png' %}"><span class="marked">{{ menu_item_home }}</span></a>
      <a href="/todo/" class="launcher-button"><img src="{% static 'rok/icon/application.png' %}"><span class="marked">{{ menu_item_todo }}</span></a>
      <a href="/note/" class="launcher-button"><img src="{% static 'rok/icon/note.png' %}"><span class="">{{ menu_item_note }}</span></a>
      <a href="/news/" class="launcher-button"><img src="{% static 'rok/icon/news.png' %}"><span class="">{{ menu_item_news }}</span></a>
      <a href="/store/" class="launcher-button"><img src="{% static 'rok/icon/key.png' %}"><span class="marked">{{ menu_item_store }}</span></a>
      <a href="/trip/" class="launcher-button"><img src="{% static 'rok/icon/car.png' %}"><span class="marked">{{ menu_item_trip }}</span></a>
      <a href="/fuel/" class="launcher-button"><img src="{% static 'rok/icon/gas.png' %}"><span class="marked">{{ menu_item_fuel }}</span></a>
      <a href="/apart/" class="launcher-button"><img src="{% static 'rok/icon/apartment.png' %}"><span class="marked">{{ menu_item_apart }}</span></a>
      <a href="/proj/proj/" class="launcher-button"><img src="{% static 'rok/icon/cost.png' %}"><span class="">{{ menu_item_proj }}</span></a>
      <a href="/wage/" class="launcher-button"><img src="{% static 'rok/icon/work.png' %}"><span class="">{{ menu_item_wage }}</span></a>
      <a href="/trash/" class="launcher-button"><img src="{% static 'rok/icon/trash.png' %}"><span class="marked">{{ menu_item_trash }}</span></a>
      <a href="/admin/" class="launcher-button"><img src="{% static 'rok/icon/admin.png' %}"><span class="marked">{{ menu_item_admin }}</span></a>
      <a href="/account/profile/" class="launcher-button"><img src="{% static 'rok/icon/user.png' %}"><span class="marked">{{ menu_item_profile }}</span></a>
      <a href="/account/logout/" class="launcher-button"><img src="{% static 'rok/icon/exit.png' %}"><span class="marked">{{ menu_item_logout }}</span></a>
    </div>
  </nav>

  <div id="wrapper">
    {% if user.is_authenticated %}
    <header>
      <div class="header-left">
        <button class="button" title="{% trans 'application launcher'|capfirst %}" onclick="launcher_open()"><img src="{% static 'rok/icon/apps-white.png' %}"></button>
        <form method="POST">{% csrf_token %}
          <button name="aside_open" class="button phone-only{% if aside_disabled or aside_visible %} hid{% endif %}" title="{% trans 'open sidebar'|capfirst %}" href="#"><img src="{% static 'rok/icon/hamb-white.png' %}"></button>
        </form>
      </div>
      <div class="search-container">
        <form action="#" method="GET" class="search-form">
          <input type="text" placeholder="search..." name="q">
        </form>
      </div>
      <div class="desktop-only">
        <a href="{% url 'todo:fcm' %}" class="button" title="{% trans 'parameters'|capfirst %}"><img src="{% static 'rok/icon/param.png' %}"></a>
        <button class="button" title="{% trans 'user profile'|capfirst %}"><img src="{% static 'rok/icon/user.png' %}"></button>
      </div>
    </header>
    {% endif %}
    
    <div id="page" {% if user.is_authenticated %}class="with_header"{% endif %}>
      <aside class="{% if aside_visible %}vis{% else %}hid{% endif %}{% if not user.is_authenticated %} no_header{% endif %}">
        <section id="aside-top">
          <form method="post">{% csrf_token %}
            <div class="info">{% block aside_top_info %}{% endblock %}</div>
            <button type="submit" name="aside_close" class="phone-only" title="{% trans 'close sidebar'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/close-left.png' %}"></button>
          </form>
        </section>
        <div class="scroll">
          <ul class="nav-menu">
            {% for file in tree %}
              <li class="grp-item {% if file.id == folder.id %} selected{% endif %}">
                <a href="{% url 'hier:folder_list' file.id %}">
                  <div class="nav-menu-item-left">
                    <div class="level-{{ file.level }}">{% if file.icon != "" %}<i class="fa fa-{{ file.icon }}" style="color: {{ file.color }};"></i>{% endif %}</div>
                    <div>{{ file.name }}</div>
                  </div>
                </a>
                <div class="nav-menu-item-right">
                  <a href="{% url 'hier:toggle' file.id %}?p={{ request.path }}">
                    {% if file.is_open %}
                      <img src="{% static 'rok/icon/direct-down.png' %}">
                    {% else %}
                      <img src="{% static 'rok/icon/direct-left.png' %}">
                    {% endif %}
                  </a>
                </div>
              </li>
            {% endfor %}
          </ul>
          {% block aside_content %}{% endblock %}
        </div>
        <div>
          {% block aside_footer %}{% endblock %}
        </div>
      </aside>
      <main class="{% if article_visible %}narrow{% else %}wide{% endif %}">
        {% block content %}{% endblock %}
      </main>
      <article class="{% if article_visible %}vis{% else %}hid{% endif %}">
        <section id="article-content">
          {% block article_content %}{% endblock %}
        </section>
        <form method="post" class="article-bottom">{% csrf_token %}
          <button type="submit" name="article_close" title="{% trans 'close details'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/close-right.png' %}"></button>
          <div class="info">{% block article_info %}{% endblock %}</div>
          <button type="submit" name="article_delete" title="{% trans 'delete record'|capfirst %}"><img class="img-20_20" src="{% static 'rok/icon/trash-red.png' %}"></button>
        </form>
      </article>
    </div> <!--page-->
  </div> <!--wrapper-->
{% endblock %}

{% block scripts %}
  <script>
    
    function launcher_open() {
      document.getElementById("launcher").style.display = "flex";
    }

    function launcher_close() {
      document.getElementById("launcher").style.display = "none";
    }

  </script>  
{% endblock %}
