{% extends "base/main_page.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/tune.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/home.min.css' %}" rel="stylesheet">
  {% for widget in hp_widgets %}
    {% if widget.css %}
      <link href="/static/css/{{widget.css}}.min.css" rel="stylesheet">
    {% endif %}
  {% endfor %}
{% endblock %}

{% block main %}
<div class="home-container">
  {% for widget in hp_widgets %}
    <div class="hp-widget" id="id_hp_widget_{{widget.id}}">
      <div class="loader"></div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {% for widget in hp_widgets %}
    {% if widget.js %}
      <script src="/static/js/hp_widget/{{widget.js}}.js"></script>
    {% endif %}
  {% endfor %}
  <script src="{% static 'js/hp_widget/load_hp_widgets.js' %}"></script>
{% endblock %}
