{% extends "base_window.html" %}
{% load i18n static %}
{% block content %}
<div class="w3-container">
  <h3>Очередь задач</h3>
  <table>
    <tr> <th>Задача</th>                                   <th>Сервер разработки</th>                       <th>Публичный сервер</th>                     <tr>
    <tr> <td>Портация приложения Wage</td>                 <td class="w3-khaki">В процессе</td>             <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Портирование данных из by01-1121.wage</td>    <td class="w3-light-green">Готово</td>           <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Ошибки локализации</td>                       <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Не работают валидаторы пароля</td>            <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Не всё локализовано, напр. кнопка 
                  подтверждения удаления в админке</td>    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для Apart</td>                   <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для Fuel</td>                    <td class="w3-khaki">В процессе</td>             <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для Proj</td>                    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для Task</td>                    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для Trip</td>                    <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Демо-режим для опубликованного логина</td>    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новости сайта из БД</td>                      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Хранилище паролей</td>                        <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>База заметок</td>                             <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Планировщик задач</td>                        <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Реализация распознавания распечаток</td>      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Контроль приватности. Обезличивание.
                          Удадение лишних копий.</td>      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Использование стандартных механизмов
             развертывания</td>                            <td class="w3-light-gray">Не требуется</td>      <td class="w3-orange">Пока не получилось</td> <tr>
  </table>
  <h3>Завершенные задачи</h3>
  <table>
    <tr> <td>Установка Windows</td>                        <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Регистрация домена</td>                       <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Публикация обратного DNS</td>                 <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка и запуск Apache httpd</td>          <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Подключение SSL-сертификата</td>              <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка почтового сервера Apache James</td> <td class="w3-light-gray">Не требуется</td>      <td class="w3-orange">Провал</td>             <tr>
    <tr> <td>Установка почтового сервера hMailServer</td>  <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Настройка TLS для почты</td>                  <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка MySQL</td>                          <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка Python</td>                         <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка Django</td>                         <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Управление учетными записями</td>             <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Интеграция с github</td>                      <td class="w3-light-green">Готово</td>           <td class="w3-light-gray">Не требуется</td>   <tr>
    <tr> <td>Восстановление работы старых приложений</td>  <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Портирование данных из Pipo X7</td>           <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Настройка архивации по расписанию</td>        <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Регистрация новых пользователей</td>          <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Смена дизайна сайта</td>                      <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
  </table>
</div>
{% endblock %}
