{% extends "base_site.html" %}
{% load i18n static %}
{% block content %}
  <table>
    <tr> <th>Задача</th>                                   <th>Сервер разработки</th>                       <th>Публичный сервер</th>                     <tr>
    <tr> <td>Установка Windows</td>                        <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Регистрация домена</td>                       <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Публикация обратного DNS</td>                 <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка и запуск Apache httpd</td>          <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Подключение SSL-сертификата</td>              <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка почтового сервера Apache James</td> <td class="w3-light-gray">Не требуется</td>      <td class="w3-orange">Провал</td>             <tr>
    <tr> <td>Установка почтового сервера hMailServer</td>  <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Настройка TLS для почты</td>                  <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка MySQL</td>                          <td class="w3-light-gray">Не требуется</td>      <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка Python</td>                         <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Установка Django</td>                         <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Смена дизайна сайта</td>                      <td class="w3-khaki">В процессе</td>             <td class="w3-khaki">В процессе</td>          <tr>
    <tr> <td>Управление учетными записями</td>             <td class="w3-light-green">Готово</td>           <td class="w3-light-green">Готово</td>        <tr>
    <tr> <td>Регистрация новых пользователей</td>          <td class="w3-light-green">Готово</td>           <td class="w3-khaki">Замечания</td>           <tr>
    <tr> <td>Настройка архивации по расписанию</td>        <td class="w3-khaki">В процессе</td>             <td class="w3-khaki">В процессе</td>          <tr>
    <tr> <td>Интеграция с github</td>                      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Восстановление работы старых приложений</td>  <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новый дизайн для старых приложений</td>       <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Использование стандартных механизмов
             развертывания</td>                            <td class="w3-light-gray">Не требуется</td>      <td class="w3-orange">Пока не получилось</td> <tr>
    <tr> <td>Демо-режим для опубликованного логина</td>    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Портация проекта Wage</td>                    <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Новости сайта из БД</td>                      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Хранилище паролей</td>                        <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>База заметок</td>                             <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Планировщик задач</td>                        <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
    <tr> <td>Реализация распознавания распечаток</td>      <td class="w3-light-blue">Не начато</td>         <td class="w3-light-blue">Не начато</td>      <tr>
  </table>
{% endblock %}
