{% load static i18n %}

{% block apps_list %}

  <div class="offcanvas-header">
    <img class="" style="width:40px; height:40px" src="{% static '/favicon.ico' %}">
    <h5 class="offcanvas-title" id="launcherLabel">{{ app_human_name }}</h5>
    <button type="button" class="btn-close text-reset{% if app == 'home' %} invisible{% endif %}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="s-f-container dropdown mb-3">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <span>{{ user.username }}</span>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item d-flex justify-content-between" href="/account/profile/">
          <span>{% trans 'profile'|capfirst %}</span>
          <img src="{% static 'icon/account/profile.svg' %}">
        </a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item d-flex justify-content-between" href="/account/logout/">
          <span>{% trans 'sign out'|capfirst %}</span>
          <img src="{% static 'icon/account/logout.svg' %}">
        </a></li>
      </ul>
    </div>

    <ul class="nav nav-pills flex-row mb-auto">
      {% for app in apps %}
        <li class="nav-item" style="min-width: 180px;">
          <a href="{{ app.href }}" class="nav-link {% if app.active %}active{% else %}link-dark{% endif %}"{% if app.active %} aria-current="page"{% endif %}>
            <img class="bi me-2" src="{% static app.icon %}">
            {{ app.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
