{% load static i18n %}

<div class="scroll">

  <ul class="nav-menu">
    {% for fix in fix_list %}
      <li{% if request.GET.view == fix.name or not request.GET.view and fix.name == 'all' %} class="selected"{% endif %}>
        <a class="fix" href="{{ fix.url }}">
          <div class="nav-menu-item-left">
            <img src="{% static fix.icon %}">
            {{ fix.title }}
          </div>
          <div class="nav-menu-qty">{% if fix.qty != None %}{{ fix.qty }}{% endif %}</div>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if not without_lists %}
    <div class="nav-last-static-list"></div>
  
    <ul class="nav-menu" id="groups-tree">
      {% for node in groups %}
        <li class="grp-item hide{% if request.GET.lst == node.s_id %} selected{% endif %}" data-id="{{ node.id }}" data-parent="{{ node.node.id }}" id="task_group_{{ node.id }}">
          {% if node.is_leaf %}
            <a href="/todo/?view=list&lst={{ node.id }}">
              <div class="nav-menu-item-left">
                <img class="level-{{ node.level }}" src="{% static 'rok/icon/list.png' %}">
                <div>{{ node.name }}</div>
              </div>
            </a>
            <div class="nav-menu-qty">
              {{ node.qty }}
            </div>
          {% else %}
            <div class="button" onclick="toggleGroup({{ node.id }})">
              <div class="nav-menu-item-x1">
                <img class="level-{{ node.level }}" src="{% static 'rok/icon/group.png' %}">
                <div class="nav-menu-item-x2">{{ node.name }}</div>
              </div>
            </div>
            <div class="nav-menu-item-right" onclick="toggleGroup({{ node.id }})">
              <img class="img-20_20" src="{% static 'rok/icon/direct-left.png' %}">
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  
    <button type="button" name="list-add" class="default lst-add" label="create list" onclick="addList()"><img class="img-20_20" src="{% static 'rok/icon/add.png' %}"></button>
    <input type="text" class="add-grp" placeholder="{% trans 'create list'|capfirst %}" name="name">
  {% endif %}

</div>

