{% load static i18n %}

{% block extrastyle %}
  <link href="{% static 'css/header.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="py-1 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="">
        <div class="header-menu-button btn d-lg-none" title="{% trans 'application launcher'|capfirst %}" onclick="launcherOpen()"><img src="{% static 'icon/header/launcher-menu.svg' %}"></div>
        <div class="header-menu-button btn d-lg-none{% if aside_disabled or aside_visible %} invisible{% endif %}" title="{% trans 'open sidebar'|capfirst %}" onclick="asideToggle()"><img src="{% static 'icon/header/groups-menu.svg' %}"></div>
      </div>

      <div class="d-flex align-items-center">
        <form method="get" class="w-100 me-3">
          <input type="search" class="form-control" placeholder="{% trans 'search'|capfirst %}..." aria-label="{% trans 'search'|capfirst %}">
        </form>
      </div>
    </div>
  </header>
{% endblock %}
