{% load static %}

{% block item_content %}
  <li class="list-item">

    {% if use_selector %}
      <button type="button" onclick="toggleCompleted({{ item.id|escape }})" class="left-icon">
        {% if item.completed %}
          <i class="bi-check-circle-fill"></i>
        {% else %}
          <i class="bi-circle"></i>
        {% endif %}
    </button>      
    {% endif %}

    <a href="{% url item_detail_url item.id %}{{ params }}" class="container">
      <div class="info">
        <span class="name{% if item.completed %} completed{% endif %}">{{ item.name }}</span>
        <div class="descr">
          {% for attr in item.attrs %}
            <div class="inline">
              {% if attr.icon == "attach" %}
                <i class="bi-paperclip"></i>
              {% elif attr.icon == "category" %}
                <i class="bi-circle {{ attr.color }}"></i>
              {% elif attr.icon == "termin" %}
                <i class="bi-check2-square"></i>
              {% elif attr.icon == "termin-expired" %}
                <i class="bi-check2-square expired"></i>
              {% elif attr.icon == "termin-actual" %}
                <i class="bi-check2-square actual"></i>
              {% elif attr.icon == "myday" %}
                <i class="bi-sun"></i>
              {% elif attr.icon == "notes" %}
                <i class="bi-sticky"></i>
              {% elif attr.icon == "remind" %}
                <i class="bi-bell"></i>
              {% elif attr.icon == "repeat" %}
                <i class="bi-arrow-repeat"></i>
              {% elif attr.icon == "repeat-expired" %}
                <i class="bi-arrow-repeat expired"></i>
              {% elif attr.icon == "repeat-actual" %}
                <i class="bi-arrow-repeat actual"></i>
              {% elif attr.icon == "url" %}
                <i class="bi-cursor"></i>
              {% elif attr.icon == "separator" %}
                <i class="bi-dot"></i>
              {% endif %}
              {% if attr.text %}
                <div class="label {% if attr.color %}{{ attr.color }}{% endif %}"><span>{{ attr.text }}</span></div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </a>      

    {% if use_important %}
      <button type="button" onclick="toggleImportant({{ item.id|escape }})" class="right-icon">
        {% if item.important %}
          <i class="bi-star-fill"></i>
        {% else %}
          <i class="bi-star"></i>
        {% endif %}
      </button>
    {% endif %}

  </li>

{% endblock %}

