{% load static i18n %}

{% block item_content %}
  <li class="list-item{% if not config.use_selector and config.get_cur_role != 'search' %} px-3{% endif %}">

    {% if config.use_selector %}
      <button type="button" onclick="toggleCompleted({{ item.id|escape }})" class="left-icon">
        {% if item.completed %}
          <i class="bi-check-circle-fill"></i>
        {% else %}
          <i class="bi-circle"></i>
        {% endif %}
    </button>      
    {% endif %}

    {% if config.get_cur_role == 'search' %}
      {% for role in item.get_roles %}
        <a href="{{ role.href|escape }}{{ params }}" class="left-icon"><i class="bi-{{ role.icon }}"></i></a>
      {% endfor %}
    {% endif %}

    <a href="{{ item.get_absolute_url|escape }}{{ params }}" class="container">
      <div class="info">
        <span class="name{% if item.completed %} completed{% endif %}">
          {% if config.event_in_name %}{{ item.event|date:"j M Y" }}{% if item.name %} - {% endif %}{% endif %}
          {{ item.name|safe }}
        </span>
        <div class="descr">
          {% for k, v in item.get_item_attr.items %}
            {% if k == config.app or config.get_cur_role == 'search' %}
              {% if not config.group_id %}
                {% if v.group %}
                  <div class="inline">
                    <div class="label"><span>{{ v.group }}</span></div>
                    {% if v.attr %}
                      <i class="bi-dot"></i>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}
              {% for attr in v.attr %}
                <div class="inline {% if attr.color %}{{ attr.color }}{% endif %}">
                  {% if attr.icon == "attach" %}
                    <i class="bi-paperclip"></i>
                  {% elif attr.icon == "category" %}
                    <i class="bi-circle"></i>
                  {% elif attr.icon == "notes" %}
                    <i class="bi-sticky"></i>
                  {% elif attr.icon == "remind" %}
                    {% if item.remind_active %}
                      <i class="bi-bell"></i>
                    {% endif %}
                  {% elif attr.icon == "url" %}
                    <i class="bi-cursor"></i>
                  {% elif attr.icon == "separator" %}
                    <i class="bi-dot"></i>
                  {% endif %}

                  {% if attr.myday and config.cur_view != "todo" %}
                    <i class="bi-sun"></i>
                    <div class="label"><span>{% trans "My day" %}</span></div>
                  {% endif %}

                  {% if attr.termin and not item.completed %}
                    {% if item.b_expired %}
                      <i class="bi-check2-square expired"></i>
                      <div class="label expired"><span>{{ item.termin_date }}</span></div>
                      {% if item.repeat %}
                        <i class="bi-arrow-repeat expired"></i>
                      {% endif %}
                    {% else %}
                      <i class="bi-check2-square actual"></i>
                      <div class="label actual"><span>{{ item.termin_date }}</span></div>
                      {% if item.repeat %}
                        <i class="bi-arrow-repeat actual"></i>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                  {% if attr.text %}
                    <div class="label"><span>{{ attr.text }}</span></div>
                  {% endif %}

                </div>
              {% endfor %}
              {% if item.found %}
                <div class="inline">
                  <div class="label">
                    <span>{{ item.found|safe }}</span>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </a>      

    {% if config.use_important %}
      <button type="button" onclick="toggleImportant({{ item.id|escape }})" class="right-icon">
        {% if item.important %}
          <i class="bi-star-fill"></i>
        {% else %}
          <i class="bi-star"></i>
        {% endif %}
      </button>
    {% endif %}

  </li>

{% endblock %}

