{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
<div class="list-content"{% if bg_color %} style="background-color: {{bg_color}} !important;"{% endif %}>
  {% include "base/title.html" %}

  {% for group in item_groups %}
    {% include "base/item_group.html" %}
    {% if group.is_open %}
      <ul>
        {% for item in group.items %}
          {% include "base/item.html" %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  {% if not hide_add_item_input %}
    <form method="post" class="add-form position-sticky bottom-0">{% csrf_token %}
      {% if add_button %}
        <button type="button" class="btn bi-plus-lg add-form__button" onclick="addItem('{{ config.app }}', '{{ config.role }}')">{{ add_item_placeholder }}</button>
      {% else %}
        <button type="submit" class="bi-plus-lg add-form__button"></button>
        <input type="text" name="name" maxlength="200" required="" id="id_name" class="add-form__input" placeholder="{{ add_item_placeholder }}">
      {% endif %}
    </form>
  {% endif %}

</div>
{% endblock %}

