{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
<div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
  <form method="post" class="d-none">{% csrf_token %}</form>
  {% include "base/title.html" %}

  {% if sort_id %}
    <div>
      <span type="button" class="sort" onclick="reverseSort({{config.cur_view_group.id|escape}}, '{{sort_id|escape}}')">
        <i class="sort__icon {% if sort_reverse %}bi-arrow-down{% else %}bi-arrow-up{%endif %}"></i>
        <span class="sort__name">{{ sort_name }}</span>
      </span>
      <div type="button" class="sort-delete btn bi-x" onclick="delSort({{config.cur_view_group.id|escape}})"></div>
    </div>
  {% endif %}

  {% for sub_group in sub_groups %}
    {% include "base/sub_group.html" %}
    <ul id="id-sub-group-{{ sub_group.id|escape }}"{% if sub_group.qty == 0 or not sub_group.is_open %} class="d-none"{% endif %}>
      {% for item in sub_group.items %}
        {% include "base/item.html" %}
      {% endfor %}
    </ul>
  {% endfor %}

</div>
{% endblock %}

