{% extends "base/page_content.html" %}
{% load static i18n %}

{% block main %}
<div class="list-content">
  {% include "base/title.html" %}

  <ul>
      {% for item in items %}
        {% include "base/item.html" %}
      {% endfor %}
  </ul>

  {% if not hide_add_item_input %}
    <form method="post" class="add-form">{% csrf_token %}
      <i class="bi-plus-lg add-form__button" style="font-size: 1rem; color: white;"></i>
      <input type="text" class="add-form__input" placeholder="{{ add_item_placeholder }}" name="item_add-name" maxlength="200" required="">
    </form>
  {% endif %}

</div>
{% endblock %}

