{% load static i18n %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="rusel.by applications">
    <meta name="author" content="Ruslan Akunevich">
    <title>
      {% if app_name %}{{ app_name }}{% if title %} - {% endif %}{% endif %}{% if title %}{{ title }}{% endif %}
    </title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link href="{% static 'scss/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet">
      {% block extrastyle %}{% endblock %}
  </head>
  <body>
    {% include "base/launcher.html" %}
    {% block content %}{% endblock %}
    <script src="{% static 'js/launcher.js' %}"></script>
    <script src="{% static 'js/build-tree.js' %}"></script>
    <script src="{% static 'js/manage-tree.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
    	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
    	crossorigin="anonymous"></script>
    {% block extrascript %}{% endblock %}
  </body>
</html>