{% load static i18n %}

<aside class="bd-sidebar">
    <nav class="bd-links collapse sidebar" id="bd-docs-nav" aria-label="Groups navigation">
        {% for fix in fix_list %}
            <a href="{{ fix.url }}" class="sidebar__fix-item">
                <div class="">
                    <i class="bi-{{fix.icon}}"></i>
                    <span class="">{{ fix.title }}</span>
                </div>
                <span class="">{% if fix.qty != None %}{{ fix.qty }}{% endif %}</span>
            </a>
        {% endfor %}

        {% if config.groups %}
            <hr>

            <div id="groups-tree" class="sidebar__groups">
                {% for node in groups %}
                    {% if node.is_leaf %}
                        <a href="/{{ config.app }}/?view=by_group&group_id={{ node.id|escape }}" 
                            class="{% if request.GET.group_id == node.s_id %}active{% endif %}"
                            {% if request.GET.group_id == node.s_id %}aria-current="true"{% endif %}
                            data-id="{{ node.id|escape }}" data-parent="{{ node.node.id|escape }}" id="task_group_{{ node.id|escape }}">
                            <div>
                                <i class="bi-journals level-{{ node.level }}"></i>
                                <span class="">{{ node.name }}</span>
                            </div>
                            <span class="">{{ node.qty }}</span>
                        </a>
                    {% else %}
                        <a role="button" href="#" class="sidebar__group-hidden" onclick="toggleGroup({{ node.id|escape }})"
                                data-id="{{ node.id|escape }}" data-parent="{{ node.node.id|escape }}" id="task_group_{{ node.id|escape }}">
                            <div>
                                <i class="bi-folder2 level-{{ node.level }}"></i>
                                <span class="">{{ node.name }}</span>
                            </div>
                            <i class="bi-chevron-left"></i>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div class="add-form position-sticky bottom-0 mx-3">
                <i class="bi-plus-lg add-form__button" id="add_group_btn_id" onclick="addGroup('{{ config.app }}','{{ config.role }}')"></i>
                <input type="text" class="add-form__input" placeholder="{% trans 'create group'|capfirst %}" name="name" id="new_group_id">
            </div>
        {% endif %}
    </nav>
</aside>
