{% load static i18n %}

{% block item_content %}
    <div class="content-title">
        {% if content_icon %}
            <i class="bi-{{content_icon}} content-title__icon"></i>
        {% endif %}

        {% if group_path %}
            {% for group in group_path reversed %}
                <a href="{% url group.edit_url group.id %}{{ params }}" class="content-title__href">{{ group.name }}</a>{% if group != group_path|first %} / {% endif %}
            {% endfor %}
        {% else %}
            <span class="content-title__text">{{ title }}</span>
        {% endif %}
    </div>
{% endblock %}
