#weather {
    --title-color: black;
    --title-backgr: rgb(235, 233, 233);
    --period-color: white;
    --period-backgr: rgb(0, 153, 255);
    --period-active-backgr: rgba(0, 0, 0, 0.25);
    --period-logo-backgr: #00296728;
    --weather-now-color: white;
    --kpi-list-backgr: rgba(0,0,0,.1);
    --rain-color: #62b2ed;
    --rain-backgr: #a1d7ff;
    --week-day-work-color: rgb(0, 153, 255);
    --week-end-day-color: rgb(204, 0, 0);
    --twilight-backgr: rgba(0, 0, 255, 0.02);
    --night-backgr: rgba(0, 0, 255, 0.04);
    --weekend-backgr: rgba(255, 0, 0, 0.02);
    --subtitle-backgr: rgba(255, 255, 255, 0.7);
    --location-backgr: rgb(200, 233, 255);

    .table {
        table-layout: fixed;
    }

    table > tbody > tr > td {
        padding: 0;
    }

    .table>:not(caption)>*>* {
        border-bottom-width: 0;
    }

    .warning {
        height: 200px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .widget-title {
        display: flex;
        justify-content: safe;
        font-size: 1.3rem;
        margin: 0;
        padding: 5px 15px;
        background-color: var(--title-backgr);
        color: var(--title-color);
        .location {
            overflow-x: auto;
            white-space: nowrap;
            text-align: end;
        }
        .period {
            width: auto;
            white-space: nowrap;
        }
    }

    .option-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--period-backgr);
        min-height: 40px;

        .left {
            display: flex;
            flex-direction: row;

            .nav-logo {
                padding: 5px;
                background-color: var(--period-logo-backgr);

                &.small {
                    width: 40px;
                    height: 40px;
                }
            }
    
            .option-link {
                text-transform: inherit;
                font-size: 15px;
                border: inherit;
                border-radius: inherit;
                padding: 3px 10px;
                text-align: center;
                word-wrap: break-word;
                color: var(--period-color);
                cursor: pointer;    
                background-color: inherit;
    
                &.active {
                    background-color: var(--period-active-backgr);
                }
            }
        }
        form.right {
            width: auto;
            display: flex;
            align-items: center;

            .location-cb {
                font-size: 2rem;
                margin: 0 5px;
            }
            .location-name {
                width: 100px;
                margin: 0 5px;
                padding: 3px 7px;
                border: none;
                border-radius: 5px;
                background-color: var(--location-backgr);
            }
            .location-btn {
                padding: 3px 5px;
                border-radius: 5px;
                border-width: 0;
                color: var(--period-color);
                background-color: var(--period-active-backgr);
            }
        }
            
    }
    .period-container {

        .overflow-td {
            display: block;
            overflow: visible;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.weather-now {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            text-size-adjust: none;
            font-style: normal;
            font-family: Arial,Helvetica,sans-serif;
            background-size: cover;
            color: var(--weather-now-color);
    
            .date-time {
                font-weight: 400;
                font-size: 17px;
                line-height: 20px;
                padding-top: 22px;    
                margin: 0 auto;
            }

            .temp-and-icon {
                display: flex;
                justify-content: center;
                align-items: center;

                div > img {
                    width: 120px;
                    height: 120px;
                    margin: 20px;
                }

                span {
                    font-weight: lighter;
                    letter-spacing: -5px;
                    line-height: 1;
                    display: inline !important;

                    span {
                        left: -5px;
                        position: relative;
                        top: -10px;
                        font-size: 90px;    
                    }
                }
            }

            .summary {
                margin: 10px auto;
            }

            .kpi-list {
                display: flex;
                justify-content: space-around;
                padding: 15px 30px;
                background-color: var(--kpi-list-backgr);

                .kpi {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .title {
                        font-size: 0.8rem;
                    }

                    .description {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .value {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: last baseline;

                            .number {
                                font-size: 2rem;
                                margin-right: 5px;
                            }
                        }

                        .info {
                            font-size: 1.2rem;
                            margin-left: 5px;

                            i {
                                display: block;
                            }
                        }
                    }
                }

                .week-column.day-wind {
                    display: flex;
                    flex-direction: row;
                    white-space: nowrap;
                    align-items: center;
                }
            }
        }

        &.weather-day {

            .twilight {
                background-color: var(--twilight-backgr);
            }

            .night {
                background-color: var(--night-backgr);
            }

            .subtitle-backgr {
                background-color: var(--subtitle-backgr);
                padding: 0 5px;
            }

            .day-name {
                font-size: 0.7rem;

                &.blue {
                    color: var(--week-day-work-color);
                }
                
                &.red {
                    color: var(--week-end-day-color);
                }
            }

            .hour-name {
                width: 75px;
                text-align: left;
            }

            .time-sup {
                font-size: 0.6rem;
            }

            .hours-icon {
                display: flex;
                justify-content: center;
            }

            .hour-wind {
                text-align: center;
                font-size: 0.8rem;

                i {
                    display: block;
                    font-size: 1rem;
                }
            }

            .hour-perci-td {
                vertical-align: bottom;

                .hour-preci {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 0.8rem;
                    margin: auto;

                    .bar {
                        background-color: var(--rain-backgr);
                        width: 100%;
                    }
                }
            }
        }

        &.weather-week {
            .week-row {
                &.subtitle td {
                    padding: 0 10px;
                }

                .week-column {

                    &.blue {
                        color: var(--week-day-work-color);
                    }
                    
                    &.red {
                        color: var(--week-end-day-color);
                    }

                    &.weekend {
                        background-color: var(--weekend-backgr);
                    }

                    .day-name {
                        margin: 0 auto;
                        text-align: center;
                    }
                    
                    .day-date {
                        margin: 0 auto;
                        text-align: center;
                    }
                    
                    .day-icon {
                        display: flex;
                        margin: 0 auto;
                        justify-content: center;
        
                        img.weather-icon {
                            width: 45px;
                            height: 45px;
                            padding: 0;
                            margin: 0 5px;
                        }
                    }

                    &.bar {
                        .top {
                            display: flex;
                            justify-content: center;
                            align-items: end;
                        }
                        
                        .mid {
                            width: 100%;
                        }
                        
                        .bot {
                            display: flex;
                            justify-content: center;
                            align-items: start;
                            min-height: 25px;
                        }
                    }
                }

                &.week-wind {
                    text-align: center;
                    font-size: 0.9rem;

                    .wind-icon {
                        display: block;
                        font-size: 1rem;
                        padding: 3px;
                    }
                }

                &.week-precipitation {
                    text-align: center;
                    font-size: 0.9rem;

                    .day-preci {
                        vertical-align: bottom;

                        .bar {
                            background-color: var(--rain-backgr);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 50px) {
    #weather .period-container .temp-and-icon span {
        font-size: 4rem;
    }

    #weather .period-container .hour-preci .value {
        font-size: 0.6rem;
    }

    #weather .weather-now.period-container .kpi-list .kpi .description .value .number {
        font-size: 1.5rem;
    }

    .nav-logo.big {
        display: none;
    }
    .nav-logo.small {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    #weather .period-container.weather-day .day-name{
        font-size: 1rem;
    }

    #weather .period-container .temp-and-icon span {
        font-size: 6rem;
    }

    #weather .period-container .hour-preci .value {
        font-size: 0.8rem;
    }

    #weather .weather-now.period-container .kpi-list .kpi .description .value .number {
        font-size: 2rem;
    }

    .nav-logo.big {
        display: flex;
        align-items: center;
    }
    .nav-logo.small {
        display: none;
    }
}
