.period-field label {
  margin-right: 20px;
}

form input#id_period {
  width: 150px;
}

form input#id_el, form input#id_hw, form input#id_cw, form input#id_ga {
  width: 100px;
}

form input#id_reading {
  width: 150px;
}

