{% load i18n %}

<form method="post" class="d-flex py-2">{% csrf_token %}
    <input type="text" name="add_item_name" maxlength="200" id="id_add_item_name_{{ screen_size }}" class="add-item-name" placeholder="{{ add_item_placeholder }}" 
    onkeydown="if (event.keyCode == 13) document.getElementById('id_add_item_button_{{ screen_size }}').click()">
    <button type="submit" class="btn btn-primary ms-2" id="id_add_item_button_{{ screen_size }}">
        {% trans 'add'|capfirst %}
    </button>
</form>