{% extends "core/single_page.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/form.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/widgets.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <form method="post" class="item-form px-2">{% csrf_token %}
        {% include "core/title.html" %}
        {% include "core/form_errors.html" %}

        <div class="form-control-100 form-control-sm mb-3">{{ form.name.label_tag }}{{ form.name }}</div>

        <div class="input-group flex-wrap justify-content-start mb-3">
          <div class="col-sm">
            <div class="form-control-100 form-control-sm mx-1">{{ form.sort.label_tag }}{{ form.sort }}</div>
          </div>
          <div class="col-sm">
            <div class="form-control-100 form-control-sm mx-1">
              {{ form.node.errors }}
              {{ form.node.label_tag }}
              {{ form.node }}
            </div>
          </div>
          <div class="col-sm">
            <div class="form-control-100 form-control-sm mx-1">
              {{ form.currency.errors }}
              {{ form.currency.label_tag }}
              {{ form.currency }}
            </div>
          </div>
        </div>
    
        <div class="d-flex justify-content-evenly mt-3 pb-5">
          <button type="submit" name="item_save" class="btn btn-primary bi-save" title="{% trans 'save changes'|capfirst %}">
            {% trans 'save'|capfirst %}
          </button>
          <button type="submit" name="form_close" class="btn btn-secondary bi-x" title="{% trans 'save changes and close edit form'|capfirst %}">
            {% trans 'close'|capfirst %}
          </button>
          <button type="button" name="item_delete" class="btn btn-danger bi-trash" onclick="delGroupConfirm('{{ban_on_deletion}}', '{{delete_question}} {{title}}?')" title="{% trans 'delete record'|capfirst %}">
            {% trans 'delete'|capfirst %}
          </button>
        </div>
        </form>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'core/js/form.js' %}"></script>
  <script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>
  <script src="{% static 'core/js/manage-groups.js' %}"></script>
{% endblock %}
