{% if form.errors or form_messages %}
  <div class="fieldset">
    <p class="errornote"> {% if form.errors.items|length == 1 %}{{ please_correct_one }}{% else %}{{ please_correct_all }}{% endif %} </p> 
    {% for message in form_messages %}
      <p class="form_message"> {{ message }} </p> 
    {% endfor %}
  </div>
{% endif %}
{% if form.non_field_errors %}
  <div class="fieldset">
  {% for error in form.non_field_errors %} <p class="errornote"> {{ error }} </p> {% endfor %}
  </div>
{% endif %}

