{% load static i18n %}

{% block item_content %}
  <li class="list-item{% if not config.use_selector and config.get_cur_role != 'search' %} px-3{% endif %}">

    {% if config.use_selector %}
      <button type="button" onclick="toggleCompleted({{ item.id|escape }})" class="left-icon">
        {% if item.completed %}
          <i class="bi-check-circle-fill"></i>
        {% else %}
          <i class="bi-circle"></i>
        {% endif %}
    </button>      
    {% endif %}

    {% if config.get_cur_role == 'search' %}
      {% for role in item.get_roles %}
        <a href="{{ role.href|escape }}{% if not role.hide_params %}{{ params }}{% endif %}" class="left-icon"><i class="bi-{{ role.icon }}"></i></a>
      {% endfor %}
    {% endif %}

    <a href="{{ item.get_absolute_url|escape }}{{ params }}" class="container">
      <div class="info">
        <span class="name{% if item.completed and config.use_selector %} completed{% endif %}">
          {% if config.event_in_name %}{{ item.event|date:"j M Y" }}{% if item.name %} - {% endif %}{% endif %}
          {{ item.name|safe }}
          {% if config.get_cur_role != 'search' %}
            <span class="roles">
              {% for role in item.get_roles %}
                {% if role.name_mod != config.app %}
                  <object><a href="{{ role.href|escape }}" class="role-icon"><i class="bi-{{ role.icon }}"></i></a></object>
                {% endif %}
              {% endfor %}
            </span>
          {% endif %}
        </span>

        <div class="descr">
          {% if config.cur_view_group.determinator == 'role' or config.cur_view_group.determinator == 'view' %}
            {% if item.group_name %}
              <div class="inline">
                <div class="label"><span>{{ item.group_name|safe }}</span></div>
                <i class="bi-dot"></i>
              </div>
            {% endif %}
          {% endif %}

          {% for attr in item.get_custom_attr %}
            <div class="inline">
              {% if attr.icon == "remind" and item.remind_active %}
                <i class="bi-bell"></i>
              {% elif attr.myday and config.cur_view != "todo" %}
                <i class="bi-sun"></i>
                <div class="label"><span>{% trans "My day" %}</span></div>
              {% elif attr.termin and not item.completed and item.b_expired %}
                <i class="bi-check2-square expired"></i>
                <div class="label expired"><span>{{ item.termin_date }}</span></div>
                {% if item.repeat %}
                  <i class="bi-arrow-repeat expired"></i>
                {% endif %}
              {% elif attr.termin and not item.completed and not item.b_expired%}
                <i class="bi-check2-square actual"></i>
                <div class="label actual"><span>{{ item.termin_date }}</span></div>
                {% if item.repeat %}
                  <i class="bi-arrow-repeat actual"></i>
                {% endif %}
              {% elif attr.tuned_data %}
                {% for d in item.get_tuned_data %}
                  <i class="bi-check2-square {{ d.class }}"></i>
                  <div class="label {{ d.class }}"><span>{{ d.info }}</span></div>
                {% endfor %}
              {% elif attr.text %}
                <div class="label"><span>{{ attr.text|safe }}</span></div>
              {% elif attr.icon == "folder" %}
                <i class="bi-folder2"></i>
              {% else %}
                {% if not attr.termin and attr.icon != "separator" and attr.icon != "remind" %}
                  [{{ attr }}]
                {% endif %}
              {% endif %}

              {% if not attr.termin or not item.completed %}
                {% if attr.icon != "separator" and attr.icon != "remind" %}
                  <i class="bi-dot"></i>
                {% endif %}
              {% endif %}

            </div> <!-- inline -->

          {% endfor %} <!-- item.get_custom_attr -->


          <div class="inline">
            {% if item.has_files %}
              <i class="bi-paperclip"></i><i class="bi-dot"></i>
            {% endif %}
            {% if item.has_links %}
              <i class="bi-cursor"></i><i class="bi-dot"></i>
            {% endif %}
            {% if item.task_descr %}
              <i class="bi-sticky"></i>
              <div class="label"><span>{{ item.task_descr }}</span></div><i class="bi-dot"></i>
            {% endif %}
          </div>

          {% for cat in item.get_categories %}
            <div class="inline {{ cat.color }}">
              <i class="bi-circle"></i>
              <div class="label"><span>{{ cat.name }}</span></div>
            </div>
          {% endfor %}

        </div> <!-- descr -->
      </div>
    </a>      

    {% if config.use_important %}
      <button type="button" onclick="toggleImportant({{ item.id|escape }}, '{{ api_role }}')" class="right-icon">
        {% if item.important %}
          <i class="bi-star-fill"></i>
        {% else %}
          <i class="bi-star"></i>
        {% endif %}
      </button>
    {% endif %}

  </li>

{% endblock %}

