{% extends "core/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'core/css/tune.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/list.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/category.min.css' %}" rel="stylesheet">
  <link href="{% static 'iziToast/css/iziToast.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="list-content{% if theme_id %} theme-{{theme_id}}{% endif %}">
  <form method="post" class="d-none">{% csrf_token %}</form>
  {% include "core/title.html" %}

  {% if sort_id or summary %}
    <div class="list-header">

      <div class="list-header__info">
        {% for item in summary %}
          {% if item.href %}
            <a href="{{ item.href }}" class="sort {{ item.color }}">
              <i class="sort__icon bi-star"></i>
              <span class="sort__name">{{ item.value }}</span>
            </a>
            {% else %}
            <span class="sort {{ item.color }}">
              <i class="sort__icon bi-star"></i>
              <span class="sort__name">{{ item.value }}</span>
            </span>
          {% endif %}
        {% endfor %}
      </div>

      {% if sort_id %}
        <div class="list-header__sort">
          <span type="button" class="sort" onclick="reverseSort({{config.cur_view_group.id|escape}}, '{{sort_id|escape}}')">
            <i class="sort__icon {% if sort_reverse %}bi-arrow-down{% else %}bi-arrow-up{%endif %}"></i>
            <span class="sort__name">{{ sort_name }}</span>
          </span>
          <div type="button" class="sort-delete btn bi-x" onclick="delSort({{config.cur_view_group.id|escape}})"></div>
        </div>
      {% endif %}

    </div>
  {% endif %}
  
  {% if use_sub_groups %}
    {% for sub_group in sub_groups %}
      {% include "core/sub_group.html" %}
      <ul id="id-sub-group-{{ sub_group.id|escape }}"{% if sub_group.qty == 0 or not sub_group.is_open %} class="d-none"{% endif %}>
        {% for item in sub_group.items %}
          {% include "core/item.html" %}
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <ul>
      {% for item in object_list %}
        {% include "core/item.html" %}
      {% endfor %}
      {% for item in files_list %}
        {% include "core/item.html" %}
      {% endfor %}
    </ul>
  {% endif %}

</div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>
  <script src="{% static 'core/js/list.js' %}"></script>
{% endblock %}
