{% extends "core/page.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'iziToast/css/iziToast.min.css' %}" rel="stylesheet">
{% endblock %}

{% block header_content %}
  {% include 'core/header.html' %}
{% endblock %}

{% block content %}
  {% include 'core/sidebar_top.html' %}

  <div class="container-xxl my-md-2 px-0">
    <main>
      {% block main %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'js/header.js' %}"></script>
{% endblock %}
