{% load static i18n %}

<div class="col {{ widget.attrs.class }}">
    <div class="row">
        {% if widget.attrs.label %}<label for="{{ widget.attrs.id }}" class="form-label">{{ widget.attrs.label }}</label>{% endif %}
    </div>
    <div class="input-group">
        <div class="input-group-append">
            <div class="btn btn-outline-secondary bi-files" id="id_copy_username" onclick="copyToClipboard(this, 'username')"></div>
        </div>
        <input type="{{ widget.type }}" name="{{ widget.name }}" class="form-control {{ widget.attrs.class_input }}" 
            id="{{ widget.attrs.id }}" value="{% if widget.value %}{{ widget.value }}{% endif %}"
            {% for name, value in widget.attrs.items %}
                {% if value is not False %} {{ name }}
                {% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
            {% endfor %}>
    </div>
</div>

