#error-page {
    .center {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info {
            display: flex;
            .code {
                font-weight: 600;
            }
            .message {
                margin-left: 10px;
            }
        }
    }
}

.error-page {

    .center {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .image {
            svg {
                width: 500px;
            }
        }

        .info {

            h1 {
                font-size: 7.5em;
                margin: 15px 0px;
                font-weight:bold;
            }
        
            h2 {
                font-weight:bold;
            }        
        }
    }
}
