{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'scss/home.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    {% include "base/title.html" %}
    <div class="row">
      {% block log_top %}{% endblock %}
        <div class="col">
            <table class="info-table">
              <tr>
                <th>{% trans 'date'|capfirst %}</th>
                <th>{% trans 'time'|capfirst %}</th>
                <th>{% trans 'type'|capfirst %}</th>
                <th>{% trans 'event'|capfirst %}</th>
                <th>{% trans 'info'|capfirst %}</th>
              </tr>
              {% for event in events %}
                <tr style="background-color:{{event.type_bg_color}}">
                  <td>{{ event.created|date:'d.m.Y' }}</td>
                  <td>{{ event.created|date:'G:i:s' }}</td>
                  <td style="color:{{event.type_color}}">{{ event.type }}</td>
                  <td>{{ event.name }}</td>
                  <td>{{ event.s_info }}</td>
                </tr>
              {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
