{% extends "base/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static 'css/home.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block main %}
      <div class="row">
        <div class="col">
          <table class="info-table">
            <tr> <th>{% trans 'product'|capfirst %}</th> <th>{% trans 'version'|capfirst %}</th> <th>{% trans 'check new version'|capfirst %}</th></tr>
            <tr> <td> SSL </td> <td> {{ cert_termin }} </td> <td><a href="https://letsencrypt.org/ru/docs/">letsencrypt.org</a></td> </tr>
            <tr> <td> OpenSSL </td> <td> {{ openssl_version }} </td> <td><a href="https://www.openssl.org/news/newslog.html">openssl.org</a></td> </tr>
            <tr> <td> Apache </td> <td> {{ apache_version }} </td> <td><a href="https://httpd.apache.org/download.cgi">apache.org</a></td> </tr>
            <tr> <td> Python </td> <td> {{ python_version }} </td> <td><a href="https://www.python.org/downloads/">python.org</a></td> </tr>
            <tr> <td> mod_wsgi </td> <td> {{ mod_wsgi_version }} </td> <td><a href="https://modwsgi.readthedocs.io/en/master/release-notes.html">mod_wsgi</a></td> </tr>
            <tr> <td> Django </td> <td> {{ django_version }} </td> <td><a href="https://www.djangoproject.com/download/">djangoproject.com</a></td> </tr>
            <tr> <td> DRF </td> <td> {{ drf_version }} </td> <td><a href="https://www.django-rest-framework.org/">django-rest-framework.org</a></td> </tr>
            <tr> <td> MySQL  </td> <td> {{ mysql_version }} </td> <td><a href="https://dev.mysql.com/downloads/mysql/">dev.mysql.com</a></td> </tr>
            <tr> <td> hMailServer  </td> <td> {{ hmail_version }} </td> <td><a href="https://www.hmailserver.com/download">hmailserver.com</a></td> </tr>
            <tr> <td> Bootstrap </td> <td id="id_bootstrap_version"></td> <td><a href="https://getbootstrap.com/docs/getting-started/">getbootstrap.com</a></td> </tr>
            <tr> <td> Firebase </td> <td> {{ firebase_version }} </td> <td><a href="https://firebase.google.com/support/release-notes/js">firebase.google.com</a></td> </tr>
            <tr> <td> iziToast </td> <td> {{ izitoast_version }} </td> <td><a href="https://izitoast.marcelodolza.com/">izitoast.marcelodolza.com</a></td> </tr>
            <tr> <td> Swiper </td> <td> {{ swiper_version }} </td> <td><a href="https://swiperjs.com/changelog">swiperjs.com</a></td> </tr>
            <tr> <td> Leaflet </td> <td id="id_leaflet_version"></td> <td><a href="https://leafletjs.com/download.html">leafletjs.com</a></td> </tr>
            <tr> <td> Chart.js </td> <td id="id_chartjs_version"></td> <td><a href="https://www.chartjs.org/docs/latest/">chartjs.org</a></td> </tr>
          </table>
        </div>
      </div>
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/versions.js' %}"></script>
{% endblock %}
