{% extends "core/page_content.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block main %}
<form method="post" class="d-none">{% csrf_token %}</form>
Hello, phrases
{% for lng in languages %}<a href="#">{{ lng.code }}</a>{% if not last %} | {% endif %}{% endfor %}
{% include "core/title.html" %}
{% endblock %}

{% block extrascript %}
  {{ block.super }}
  <script src="{% static 'iziToast/js/iziToast.min.js' %}"></script>
  <script src="{% static 'js/cram.js' %}"></script>
{% endblock %}
